.page-404-main-content {
  margin-top: 0;
}

.content-404 {
  padding: 100px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.content-404 h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 16px;
}
.content-404 p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}
.content-404 a {
  display: inline-block;
  padding: 24px 32px;
}
.content-404__info-box {
  flex-shrink: 0;
}
.content-404__img-box {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .content-404 h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
  }
  .content-404 p {
    color: #6B6B79;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 650px) {
  .content-404 {
    padding: 46px 0 60px;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .content-404 h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .content-404 p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .content-404 a {
    padding: 17px 32px;
  }
  .content-404__info-box {
    text-align: center;
  }
  .content-404__img-box {
    width: 100%;
    margin-bottom: 20px;
  }
}