.blog-post-main-content .social-networks-box {
  margin: 0;
}
.blog-post-main-content .social-networks-box ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.blog-post-main-content .social-networks-box__item {
  margin-right: 0;
  background-color: #146AFF;
  margin-top: 20px;
}
.blog-post-main-content .social-networks-box__item:hover {
  background-color: #2978FF;
}
.blog-post-main-content .blog-card {
  box-shadow: 0 9px 33px -19px rgba(0, 0, 0, 0.62);
}
.blog-post-main-content .blog-card:hover {
  box-shadow: none;
}
.blog-post-main-content .ad-top-box {
  margin-top: 30px;
  line-height: 24px;
}
.blog-post-main-content .ad-top-box a {
  font-size: 19px;
  line-height: 29px;
}
.blog-post-main-content .comment-warning-box p {
  font-size: 16px;
  color: #6B6B79;
  line-height: 24px;
  margin: 0 0 35px;
  max-width: 940px;
}

.aside-collapsed-subscribe-box {
  margin-top: 55px;
}

.post-title-big-poster {
  position: relative;
  color: #fff;
  height: 400px;
  margin-top: 15px;
}
.post-title-big-poster__img-box {
  height: 100%;
}
.post-title-big-poster__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 12px 31px -15px rgba(0, 0, 0, 0.75);
}
.post-title-big-poster__img-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 42, 107, 0)), to(#112A6B));
  background: -webkit-linear-gradient(top, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  border-radius: 20px;
}
.post-title-big-poster__tag {
  position: absolute;
  top: 40px;
  left: 4.219%;
}
.post-title-big-poster__title {
  position: absolute;
  bottom: 100px;
  left: 4.219%;
  line-height: 51px;
  margin: 0;
  width: 69.61%;
}
.post-title-big-poster__info {
  position: absolute;
  bottom: 40px;
  left: 4.219%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.post-title-big-poster__date {
  margin-right: 24px;
}
.post-title-big-poster__updated-date {
  width: 100%;
  margin-top: 10px;
}

.article-content-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}
.article-content-box .fitVids-wrapper {
  margin-bottom: 70px;
}
.article-content-box p {
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
  margin: 24px 0;
}
.article-content-box p + img {
  margin-top: 26px;
}
.article-content-box h2 {
  margin-bottom: 32px;
  margin-top: 50px;
}
.article-content-box img {
  box-shadow: 3px 12px 31px -15px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.article-content-box img + h2 {
  margin-top: 68px;
}
.article-content-box a:not(.blog-card__img-tag) {
  color: #146AFF;
}
.article-content-box aside {
  width: 300px;
  text-align: center;
}
.article-content-box aside iframe {
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.01);
}
.article-content-box aside .credit-cards-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  width: 100%;
  margin-top: 40px;
}

.article-content {
  width: calc(100% - 330px);
}

.blog-post-carousel-container {
  text-align: center;
  position: relative;
  padding: 35px 0;
  margin-bottom: 10px;
  overflow: hidden;
}
.blog-post-carousel-container .swiper-button-next,
.blog-post-carousel-container .swiper-button-prev,
.blog-post-carousel-container .swiper-pagination-bullets {
  z-index: 1;
}
.blog-post-carousel-container .swiper-pagination-bullets {
  bottom: 0;
}
.blog-post-carousel-container .swiper-slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.blog-post-carousel-container .swiper-slide img {
  display: block;
  max-height: 600px;
  margin: 0 auto;
  max-width: calc(100% - 100px);
}

.vertical-share-box {
  max-width: 10%;
}
.vertical-share-box h4 {
  margin: 0;
  text-align: right;
}

.post-tags-box {
  color: #6B6B79;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-top: 50px;
}
.post-tags-box__info {
  font-size: 14px;
  line-height: 19px;
  margin-right: 20px;
}
.post-tags-box__tag-list {
  display: -webkit-box;
  display: flex;
}
.post-tags-box__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 12px;
  align-self: flex-start;
}
.post-tags-box__tags {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.post-tags-box__link, .post-tags-box__tag {
  color: #146AFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.post-tags-box__tag {
  color: #6B6B79;
}
.post-tags-box__tag:not(:last-of-type) {
  margin-right: 12px;
}

.horizontal-share-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 23px 0;
}
.horizontal-share-box h4 {
  margin-bottom: 0;
  margin-right: 24px;
}
.horizontal-share-box .social-networks-box {
  margin: 0;
}
.horizontal-share-box .social-networks-box ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
}
.horizontal-share-box .social-networks-box ul li {
  margin-top: 10px;
}
.horizontal-share-box .social-networks-box ul li:not(:last-child) {
  margin-right: 24px;
}

.blog-cards-arrows-slider {
  padding-top: 75px;
  padding-bottom: 90px;
}

.pagination-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 575px;
}
.pagination-box__pages-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.pagination-box__page-instance {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.pagination-box__page-instance:last-of-type {
  margin-right: 0;
}
.pagination-box__page-instance a,
.pagination-box__page-instance span {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #6B6B79;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.pagination-box__page-instance--active a,
.pagination-box__page-instance--active span, .pagination-box__page-instance:hover a,
.pagination-box__page-instance:hover span {
  color: #fff;
  background-color: #146AFF;
}
.pagination-box__arrow {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 14px;
  box-shadow: 0 15px 40px rgba(20, 106, 255, 0.15);
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.pagination-box__arrow:hover {
  background-color: #146AFF;
}
.pagination-box__arrow:hover svg path {
  fill: #fff;
}
.pagination-box__arrow--hidden {
  visibility: hidden;
}

.author-box {
  margin-top: 42px;
}
.author-box--top {
  margin-top: 0;
}

.dense-social-list {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0 -5px;
  padding: 0;
}
.dense-social-list__item a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
.dense-social-list__item a svg path,
.dense-social-list__item a svg circle {
  -webkit-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}
.dense-social-list__item-linked-in a:hover svg path {
  fill: #0177B5;
}
.dense-social-list__item-facebook a:hover svg path {
  fill: #3A5898;
}
.dense-social-list__item-twitter a:hover svg path {
  fill: #41ABE1;
}
.dense-social-list__item-instagram a:hover svg path,
.dense-social-list__item-instagram a:hover svg circle {
  fill: #CE2E94;
}
.dense-social-list__item-reddit a:hover svg path {
  fill: #F84300;
}

.blog-post-ad-box {
  margin: 40px 0 83px;
  overflow: hidden;
}
.blog-post-ad-box iframe {
  display: block;
  margin: 0 auto;
}

.collapsed-subscribe-box {
  border-radius: 10px;
  position: relative;
}
.collapsed-subscribe-box--opened .collapsed-subscribe-box__form-section {
  max-height: 250px;
}
.collapsed-subscribe-box--opened .collapsed-subscribe-box__toggle-btn svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.collapsed-subscribe-box:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  right: 20px;
  background-color: #146AFF;
  opacity: 0.3;
  -webkit-filter: blur(45px);
  filter: blur(45px);
  border-radius: 10px;
  height: 66px;
}
.collapsed-subscribe-box__title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 24px;
}
.collapsed-subscribe-box__wrapper {
  position: relative;
}
.collapsed-subscribe-box__wrapper:before, .collapsed-subscribe-box__wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}
.collapsed-subscribe-box__wrapper:before {
  top: 173px;
  background: -webkit-gradient(linear, left top, left bottom, from(#148EFF), to(#146AFF));
  background: -webkit-linear-gradient(top, #148EFF 0%, #146AFF 100%);
  background: linear-gradient(180deg, #148EFF 0%, #146AFF 100%);
}
.collapsed-subscribe-box__wrapper:after {
  background: url("../img/collapsed-subscribe-box/pattern.png") no-repeat;
}
.collapsed-subscribe-box__img-section {
  border-radius: 10px 10px 0 0;
  padding: 173px 30px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.41%, rgba(20, 106, 255, 0)), color-stop(80.97%, #148EFF)), url("../img/collapsed-subscribe-box/collapsed-subscribe-bg.png") no-repeat, -webkit-gradient(linear, right top, left top, from(#146AFF), to(#148EFF));
  background: -webkit-linear-gradient(top, rgba(20, 106, 255, 0) 31.41%, #148EFF 80.97%), url("../img/collapsed-subscribe-box/collapsed-subscribe-bg.png") no-repeat, -webkit-linear-gradient(right, #146AFF 0%, #148EFF 100%);
  background: linear-gradient(180deg, rgba(20, 106, 255, 0) 31.41%, #148EFF 80.97%), url("../img/collapsed-subscribe-box/collapsed-subscribe-bg.png") no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
}
.collapsed-subscribe-box__main-section {
  position: relative;
  padding: 0 30px 32px;
  margin-top: -12px;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}
.collapsed-subscribe-box__main-section h3 {
  text-align: left;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 24px;
}
.collapsed-subscribe-box__form-section {
  position: relative;
  z-index: 1;
  padding: 0 30px 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.collapsed-subscribe-box__toggle-btn {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 100%;
  padding: 0;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.collapsed-subscribe-box__toggle-btn svg {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.collapsed-subscribe-box__toggle-btn svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
}
.collapsed-subscribe-box__toggle-btn:hover {
  background-color: #fff;
}
.collapsed-subscribe-box__toggle-btn:hover svg path {
  fill: #148EFF;
}
.collapsed-subscribe-box__separator {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.collapsed-subscribe-box__separator:before, .collapsed-subscribe-box__separator:after {
  content: "";
  height: 1px;
  width: calc(100% - 4px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.collapsed-subscribe-box__separator svg {
  flex-shrink: 0;
  margin: 0 10px;
}
.collapsed-subscribe-box__form {
  position: relative;
}
.collapsed-subscribe-box__input {
  margin-bottom: 20px;
}
.collapsed-subscribe-box__submit-button {
  padding: 17px;
  display: block;
  width: 100%;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .article-content-box {
    margin-top: 60px;
    flex-wrap: wrap;
  }
  .article-content-box aside {
    width: 100%;
    margin: 40px auto 0;
  }
  .article-content-box aside .credit-cards-sidebar {
    position: static;
  }

  .article-content-box .fitVids-wrapper {
    margin-bottom: 50px;
  }

  .post-title-big-poster__title {
    font-size: 24px;
    line-height: 32px;
  }

  .vertical-share-box {
    display: none;
  }

  .article-content {
    max-width: 100%;
    width: 100%;
  }

  .blog-post-main-content .blog-card {
    display: -webkit-box;
    display: flex;
  }
  .blog-post-main-content .consultation-box__title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-post-main-content .consultation-box p {
    font-size: 20px;
    line-height: 28px;
  }

  .pagination-box {
    max-width: 100%;
  }

  .blog-post-ad-box {
    margin: 40px 0;
  }

  .blog-post-carousel-container .swiper-button-prev,
.blog-post-carousel-container .swiper-button-next {
    display: none;
  }
  .blog-post-carousel-container .swiper-slide img {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) and (min-width: 500px) {
  .collapsed-subscribe-box {
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .collapsed-subscribe-box.collapsed-subscribe-box--opened .collapsed-subscribe-box__form-section {
    max-height: 100px;
  }
  .collapsed-subscribe-box.collapsed-subscribe-box--opened .collapsed-subscribe-box__toggle-btn {
    margin: 0;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
  }
  .collapsed-subscribe-box.collapsed-subscribe-box--opened .collapsed-subscribe-box__toggle-btn svg {
    -webkit-transform: rotate(180deg) scale(1.23);
    transform: rotate(180deg) scale(1.23);
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__wrapper:before {
    top: 0;
    border-radius: 10px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__wrapper:after {
    background: url("../img/collapsed-subscribe-box/tablet-pattern.png") no-repeat, url("../img/collapsed-subscribe-box/plane.png") top 8px right -24px no-repeat;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__img-section {
    padding: 0;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__main-section {
    margin-top: 0;
    padding: 24px 24px 32px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__main-section h3 {
    max-width: 245px;
    margin: 0 47px 0 0;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__toggle-btn {
    margin: 0;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__toggle-btn svg {
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__form-section {
    padding: 0 40px 0 24px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__form {
    display: -webkit-box;
    display: flex;
    margin-bottom: 39px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__input {
    margin: 0 16px 0 0;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__submit-button {
    margin: 0;
    max-width: 146px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__separator {
    display: none;
  }
}
@media screen and (max-width: 499px) {
  .collapsed-subscribe-box {
    margin-top: 20px;
  }
  .collapsed-subscribe-box.collapsed-subscribe-box--opened .collapsed-subscribe-box__toggle-btn svg {
    -webkit-transform: rotate(180deg) scale(1.23);
    transform: rotate(180deg) scale(1.23);
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__img-section {
    padding-top: 164px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31.41%, rgba(20, 106, 255, 0)), color-stop(80.97%, #148EFF)), url(../img/collapsed-subscribe-box/mobile-photo.png) center center no-repeat, -webkit-gradient(linear, right top, left top, from(#146AFF), to(#148EFF));
    background: -webkit-linear-gradient(top, rgba(20, 106, 255, 0) 31.41%, #148EFF 80.97%), url(../img/collapsed-subscribe-box/mobile-photo.png) center center no-repeat, -webkit-linear-gradient(right, #146AFF 0%, #148EFF 100%);
    background: linear-gradient(180deg, rgba(20, 106, 255, 0) 31.41%, #148EFF 80.97%), url(../img/collapsed-subscribe-box/mobile-photo.png) center center no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
    background-size: cover;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__main-section h3 {
    text-align: center;
    margin-bottom: 16px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__wrapper:before {
    top: 164px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__wrapper:after {
    background-size: cover;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__toggle-btn {
    width: 54px;
    height: 54px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__toggle-btn svg {
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__main-section {
    padding: 0 20px 24px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__separator {
    margin-bottom: 24px;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__separator:before, .collapsed-subscribe-box .collapsed-subscribe-box__separator:after {
    max-width: 66px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__separator svg {
    margin: 0 3px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__form-section {
    padding: 0 23px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__submit-button {
    margin-bottom: 40px;
  }
  .collapsed-subscribe-box .collapsed-subscribe-box__input {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 600px) {
  .article-content-box {
    margin-top: 50px;
  }
  .article-content-box p {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0;
  }
  .article-content-box p + img {
    margin-top: 14px;
  }
  .article-content-box h2 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .article-content-box img + h2 {
    margin-top: 50px;
  }

  .blog-cards-arrows-slider-box__arrows {
    display: none;
  }
  .blog-cards-arrows-slider-box__header {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .blog-cards-arrows-slider-box .blog-cards-arrows-slider {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .blog-cards-arrows-slider-box__dots {
    display: -webkit-box;
    display: flex;
  }

  .post-title-big-poster {
    margin-top: 20px;
  }
  .post-title-big-poster__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    bottom: 32px;
  }
  .post-title-big-poster__title {
    font-size: 20px;
    line-height: 28px;
  }
  .post-title-big-poster__date {
    margin-bottom: 8px;
  }

  .post-tags-box {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .post-tags-box__info {
    margin: 0;
  }
  .post-tags-box__title, .post-tags-box__tag-link:not(:last-child) {
    margin-right: 6px;
  }
  .post-tags-box__tag-list, .post-tags-box__title, .post-tags-box__tags {
    display: inline;
  }

  .horizontal-share-box .social-networks-box ul li:not(:last-child) {
    margin-right: 12px;
  }
  .horizontal-share-box h4 {
    margin-right: 12px;
  }

  .blog-post-main-content .consultation-box__title {
    font-size: 20px;
    line-height: 28px;
  }
  .blog-post-main-content .consultation-box p {
    font-size: 16px;
    line-height: 22px;
  }

  .pagination-box__arrow {
    padding: 8px 12px;
  }
  .pagination-box__arrow svg {
    width: 16px;
    height: 16px;
  }
  .pagination-box__pages-list {
    padding: 0 5px;
  }
  .pagination-box__page-instance {
    margin: 0;
    width: 32px;
    height: 32px;
  }
}