.opened-dropdown-list {
  border-radius: 10px !important;
  max-height: 800px !important;
  -webkit-transition: max-height 1s ease-in-out, border-radius 0.3s linear !important;
  transition: max-height 1s ease-in-out, border-radius 0.3s linear !important;
}
.opened-dropdown-list .categories-list__item--active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.top-articles-box {
  margin-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-height: 400px;
}
.top-articles-box .top-articles-sidebar {
  max-width: 28%;
  overflow: hidden;
}
.top-articles-box .top-articles-sidebar__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 26px;
}
.top-articles-box .top-articles-sidebar__header h4 {
  margin-bottom: 0;
  margin-right: 16px;
}
.top-articles-box .top-articles-sidebar .side-last-news-list {
  margin-left: 0;
  max-height: 350px;
  overflow-y: scroll;
}
.top-articles-box .top-articles-sidebar .side-last-news-list__item:last-of-type {
  border-bottom: none;
}
.top-articles-box .top-articles-slider-box {
  max-width: 66%;
  position: relative;
  width: 100%;
}
.top-articles-box .top-articles-slider-box ul {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 42, 107, 0)), to(#112A6B));
  background: -webkit-linear-gradient(top, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  height: 100%;
  border-radius: 20px;
  list-style: none;
  padding: 0;
}
.top-articles-box .top-articles-slider__controls {
  display: none;
}
.top-articles-box .top-article-card {
  position: relative;
  opacity: 0;
  height: 100%;
}
.top-articles-box .top-article-card:not(:first-of-type) {
  display: none;
}
.top-articles-box .top-article-card.current {
  opacity: 1;
  z-index: 1;
}
.top-articles-box .top-article-card__img-box {
  position: relative;
  height: 100%;
}
.top-articles-box .top-article-card__img-box img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.top-articles-box .top-article-card__img-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 42, 107, 0)), to(#112A6B));
  background: -webkit-linear-gradient(top, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  border-radius: 20px;
}
.top-articles-box .top-article-card__tag {
  position: absolute;
  background: rgba(221, 81, 107, 0.9);
  box-shadow: 0 10px 30px rgba(221, 81, 107, 0.5);
  border-radius: 32px;
  width: 130px;
  padding: 12px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  top: 30px;
  left: 4.72%;
  line-height: 15px;
}
.top-articles-box .top-article-card__title {
  position: absolute;
  bottom: 106px;
  margin-bottom: 0;
  left: 4.72%;
  max-width: 74%;
  color: #fff;
}
.top-articles-box .top-article-card__title a {
  color: #fff;
}
.top-articles-box .top-article-card__view-all-link {
  position: absolute;
  bottom: 30px;
  left: 4.72%;
}
.top-articles-box .top-article-card__date {
  position: absolute;
  right: 40px;
  bottom: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.top-articles-box .top-article-card svg circle {
  fill: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.top-articles-box .top-article-card:hover svg circle {
  fill: #fff;
}
.top-articles-box .top-article-card:hover svg path {
  fill: #1B1B32;
}

.blog-blockquote {
  display: -webkit-box;
  display: flex;
  margin-top: 40px;
}
.blog-blockquote__img-box {
  flex-shrink: 0;
}
.blog-blockquote p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
  margin-left: 24px;
}

.categories-dropdown-list {
  position: relative;
}
.categories-dropdown-list a {
  color: inherit;
}
.categories-dropdown-list.opened-dropdown-list .categories-dropdown-list__items {
  visibility: visible;
  opacity: 1;
}
.categories-dropdown-list.opened-dropdown-list .categories-dropdown-list__selected-item svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.categories-dropdown-list__selected-item {
  text-transform: uppercase;
  padding: 16px 24px;
  cursor: pointer;
  background-color: #D7E3F6;
  border-radius: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #146AFF;
}
.categories-dropdown-list__selected-item svg {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.categories-dropdown-list__items {
  list-style: none;
  padding: 14px 24px 4px;
  margin: 6px 0 0;
  background-color: #D7E3F6;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  max-height: 500px;
  overflow: auto;
}
.categories-dropdown-list__items::-webkit-scrollbar {
  width: 4px;
}
.categories-dropdown-list__items::-webkit-scrollbar-thumb {
  height: 28px;
  border-radius: 10px;
  background-color: #A6B4CB;
}
.categories-dropdown-list__items:hover:after {
  opacity: 0;
  visibility: hidden;
}
.categories-dropdown-list__items:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 77px;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  z-index: 0;
  visibility: visible;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 227, 246, 0)), to(#D7E3F6));
  background: -webkit-linear-gradient(top, rgba(215, 227, 246, 0) 0%, #D7E3F6 100%);
  background: linear-gradient(180deg, rgba(215, 227, 246, 0) 0%, #D7E3F6 100%);
}
.categories-dropdown-list__items li {
  display: -webkit-box;
  display: flex;
}
.categories-dropdown-list__items li a {
  padding: 10px 0;
  width: 100%;
}
.categories-dropdown-list__main-category-item {
  margin-top: 6px;
}
.categories-dropdown-list__main-category-item:first-of-type {
  margin-top: 0;
}
.categories-dropdown-list__main-category-item a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #146AFF;
  border-bottom: 1px solid #146AFF;
}
.categories-dropdown-list__subcategory-item a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #6B6B79;
  border-bottom: 1px solid #BBC8DD;
}
.categories-dropdown-list__subcategory-item:last-of-type a {
  border-bottom: none;
}
.categories-dropdown-list__count-text {
  opacity: 0.5;
}

.main-blog-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 74px;
}
.main-blog-content .home-page-subscribe-form-box {
  margin: 70px 0;
  width: 100%;
}
.main-blog-content .home-page-subscribe-form-box__img-box {
  width: 37.48%;
  margin: 0;
}
.main-blog-content .home-page-subscribe-form-box .subscribe-form-box {
  width: 100%;
}
.main-blog-content .home-page-subscribe-form-box .subscribe-form-box__description {
  margin: 10px 0 30px;
}

.articles-filters-box {
  margin-bottom: 84px;
}

.filtered-articles-box {
  width: 64%;
}
.filtered-articles-box .view-all-link-box__arrow {
  background-image: url("../img/blog-main-page/more-articles-arrow.svg");
}
.filtered-articles-box .post-author-card {
  margin-bottom: 30px;
}

.categories-list {
  margin-top: 50px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1), border-radius 0.3s linear;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1), border-radius 0.3s linear;
}
.categories-list__item {
  cursor: pointer;
  background: #E9F1F9;
  border-radius: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #6B6B79;
  padding: 16px 24px;
  margin-right: 24px;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear, box-shadow 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear, box-shadow 0.3s linear;
  margin-top: 20px;
}
.categories-list__item:last-child {
  margin-right: 0;
}
.categories-list__item--active, .categories-list__item:hover {
  color: #fff;
  background-color: #146AFF;
  box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
}

.horizontal-articles-list {
  padding-left: 24px;
}
.horizontal-articles-list > div:not(:first-child):not(.not-description-card) {
  margin-top: 64px;
}
.horizontal-articles-list > div.not-description-card {
  margin-top: 40px;
}
.horizontal-articles-list .not-description-card {
  width: calc(100% + 24px);
  height: 274px;
  margin-left: -24px;
}
.horizontal-articles-list .not-description-card__img-box {
  height: 100%;
  max-width: 100%;
  position: relative;
}
.horizontal-articles-list .not-description-card__img-box img {
  width: 100%;
}
.horizontal-articles-list .not-description-card__img-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 50, 0)), to(#1B1B32));
  background: -webkit-linear-gradient(top, rgba(27, 27, 50, 0) 0%, #1B1B32 100%);
  background: linear-gradient(180deg, rgba(27, 27, 50, 0) 0%, #1B1B32 100%);
  border-radius: 10px;
}
.horizontal-articles-list .not-description-card__title {
  font-size: 32px;
  line-height: 39px;
}

.horizontal-article-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.05);
}
.horizontal-article-card__link {
  padding: 24px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.horizontal-article-card:last-of-type {
  margin-bottom: 0;
}
.horizontal-article-card__img-box {
  position: relative;
  width: 47%;
  height: 100%;
  max-width: 335px;
  margin-top: -48px;
  margin-left: -24px;
}
.horizontal-article-card__img-box img {
  height: 100%;
  max-height: 274px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
}
.horizontal-article-card__text-content {
  width: 53%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-right: 25px;
}
.horizontal-article-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
  margin-bottom: 0;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.horizontal-article-card__description {
  font-size: 15px;
  line-height: 21px;
  color: #6B6B79;
  margin-top: 16px;
}
.horizontal-article-card__date {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6B6B79;
  margin-top: auto;
  padding-top: 20px;
}
.horizontal-article-card__tag {
  position: absolute;
  left: 7.186%;
  top: 24px;
}
.horizontal-article-card:hover .horizontal-article-card__title {
  color: #146AFF;
}

.travel-img-box {
  border-radius: 10px;
  -webkit-transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
}
.travel-img-box a {
  display: block;
  position: relative;
}
.travel-img-box p {
  position: absolute;
  left: 8.4%;
  top: 16.2%;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1B1B32;
  width: 80px;
}
.travel-img-box p:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 22px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='8' viewBox='0 0 22 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%231B1B32'/%3E%3Ccircle cx='18' cy='4' r='4' fill='%231B1B32'/%3E%3C/svg%3E%0A");
}
.travel-img-box:hover {
  box-shadow: 0 8px 22px -15px rgba(0, 0, 0, 0.75);
}
.travel-img-box__img {
  width: 100%;
}
.travel-img-box__img--rectangle {
  display: none;
}

@media screen and (max-width: 870px) {
  .blog-main-page-main-content .home-page-subscribe-form-box {
    flex-wrap: wrap;
  }
  .blog-main-page-main-content .home-page-subscribe-form-box .subscribe-form-box,
.blog-main-page-main-content .home-page-subscribe-form-box .home-page-subscribe-form-box__img-box {
    width: 100%;
  }
  .blog-main-page-main-content .home-page-subscribe-form-box .subscribe-form-box {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .blog-main-page-main-content .home-page-subscribe-form-box .home-page-subscribe-form-box__img-box {
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .main-blog-content .filtered-articles-box {
    width: 100%;
  }
  .main-blog-content .subscribe-form-box {
    -webkit-box-ordinal-group: 2;
    order: 1;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .main-blog-content .credit-cards-sidebar {
    margin-top: 0;
    -webkit-box-ordinal-group: 3;
    order: 2;
    width: 100%;
    margin-bottom: 80px;
  }
  .main-blog-content .credit-cards-sidebar .credit-card-box__item:last-of-type {
    display: list-item;
  }
  .main-blog-content .credit-cards-sidebar .credit-card-box-vertical-list {
    margin-bottom: 60px;
  }

  .travel-img-box__img--rectangle {
    display: inline;
  }
  .travel-img-box__img--square {
    display: none;
  }
  .travel-img-box p {
    left: 30px;
    top: 58px;
  }
}
@media screen and (max-width: 600px) {
  .top-articles-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    max-height: 100%;
  }
  .top-articles-box .top-articles-slider-box {
    max-width: 100%;
    height: 400px;
  }
  .top-articles-box .top-articles-slider-box .top-article-card {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .top-articles-box .top-articles-slider-box .top-article-card__view-all-link {
    display: none;
  }
  .top-articles-box .top-articles-slider-box .top-article-card__title {
    bottom: 72px;
  }
  .top-articles-box .top-articles-slider-box .top-article-card__date {
    left: 4.72%;
    bottom: 44px;
  }
  .top-articles-box .top-articles-slider-box__img-box {
    height: 100%;
  }
  .top-articles-box .top-articles-slider-box .top-articles-slider__controls {
    bottom: 16px;
    display: -webkit-box;
    display: flex;
  }
  .top-articles-box .top-articles-sidebar {
    margin-top: 50px;
    max-width: 100%;
  }

  .horizontal-articles-list {
    padding-left: 0;
  }
  .horizontal-articles-list .horizontal-article-card__link {
    flex-wrap: wrap;
    padding: 16px;
  }
  .horizontal-articles-list .horizontal-article-card__img-box {
    width: auto;
    max-width: 100%;
    margin: -32px auto 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.14), 0 1px 14px rgba(0, 0, 0, 0.12);
  }
  .horizontal-articles-list .horizontal-article-card__text-content {
    width: 100%;
    padding: 0;
  }
  .horizontal-articles-list .horizontal-article-card__title {
    margin-top: 20px;
  }
  .horizontal-articles-list .horizontal-article-card__description {
    margin-top: 10px;
  }
  .horizontal-articles-list .horizontal-article-card__date {
    padding: 0;
    margin-top: 41px;
  }
  .horizontal-articles-list .not-description-card {
    width: 100%;
    margin-left: 0;
  }
  .horizontal-articles-list .not-description-card__title {
    font-size: 20px;
    line-height: 28px;
  }

  .view-all-link-box {
    margin-top: 30px;
  }

  .categories-list {
    background-color: #146AFF;
    border-radius: 40px;
    padding-left: 16px;
    padding-right: 21px;
    box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
    max-height: 49px;
    overflow-y: hidden;
  }
  .categories-list__item {
    width: 100%;
    margin: 0;
    background: transparent;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  .categories-list__item:hover {
    background-color: transparent;
    box-shadow: none;
  }
  .categories-list__item:not(.categories-list__item--active) {
    border-radius: 0;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .categories-list__item:not(.categories-list__item--active):hover {
    opacity: 1;
  }
  .categories-list__item--active {
    position: relative;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .categories-list__item--active:after {
    content: "";
    background: url("../img/blog-main-page/dropdown-arrow.svg") center center no-repeat;
    background-size: 8px 6px;
    width: 8px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 4px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .categories-list__item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }

  .blog-blockquote p {
    line-height: 24px;
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .travel-img-box__img--rectangle {
    display: none;
  }
  .travel-img-box__img--square {
    display: inline;
  }
}