@charset "UTF-8";
.concierge-page-main-content {
  padding-bottom: 70px;
  overflow-x: hidden;
}
.concierge-page-main-content p {
  color: #6B6B79;
  font-size: 16px;
  line-height: 24px;
}
.concierge-page-main-content .main-header-with-image {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.concierge-page-main-content .main-header-with-image__info-box {
  width: 33.33%;
}
.concierge-page-main-content .main-header-with-image__img-box {
  width: 56.66%;
  margin-top: -83px;
}
.concierge-page-main-content__header {
  padding-bottom: 15px;
}
.concierge-page-main-content__header .team-people-card {
  padding: 0;
}
.concierge-page-main-content__header .team-people-card__info-box {
  margin-top: 47px;
  max-width: 590px;
}
.concierge-page-main-content__header .team-people-card__info-box h1 {
  margin-bottom: 30px;
}
.concierge-page-main-content__header .team-people-card__info-box p {
  line-height: 22px;
  margin-bottom: 20px;
}
.concierge-page-main-content__header .team-people-card__info-box p:last-of-type {
  margin-bottom: 0;
}
.concierge-page-main-content__header .team-people-card__avatar-box {
  min-width: 560px;
  max-width: 560px;
  margin-top: -45px;
  margin-left: 7%;
}
.concierge-page-main-content__header .team-people-card__img-box:before {
  background: url("../img/people-image/big-ellipse-1.svg") no-repeat;
  top: 32px;
  left: -70px;
  width: 100%;
  height: 100%;
}
.concierge-page-main-content__header .team-people-card__img-box:after {
  background: url("../img/people-image/big-ellipse-2.svg") no-repeat;
  width: 22.958%;
  height: 24.134%;
  bottom: 8.5%;
}
.concierge-page-main-content blockquote {
  border-left: 4px solid #146AFF;
  padding-left: 20px;
  margin-top: 30px;
}
.concierge-page-main-content blockquote h4 {
  color: #146AFF;
  margin-bottom: 10px;
}
.concierge-page-main-content__quote-box {
  max-width: 630px;
  margin: 100px auto;
}
.concierge-page-main-content .panda-team-box__header {
  margin-bottom: 80px;
}
.concierge-page-main-content .panda-team-box__header h2 {
  margin-bottom: 0;
}
.concierge-page-main-content .panda-team-box .team-people-card {
  padding-left: 0;
  padding-right: 0;
}
.concierge-page-main-content .panda-team-box .team-people-card__info-box {
  max-width: 467px;
}
.concierge-page-main-content .panda-team-box .team-people-card__avatar-box {
  min-width: 463px;
  max-width: 463px;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.concierge-page-main-content .panda-team-box .team-people-card__avatar-box img {
  width: 100%;
  height: 482px;
}
.concierge-page-main-content .panda-team-box .team-people-card__img-box:before {
  right: -90px;
}
.concierge-page-main-content .panda-team-box .team-people-card__img-box:after {
  left: -20px;
}
.concierge-page-main-content .panda-team-box .team-people-card__tag {
  left: -10px;
}

.concierge-video-box {
  margin-bottom: 57px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.concierge-video-box__video-col {
  width: 48.65%;
}
.concierge-video-box__text-col {
  width: 44.69%;
  margin-top: 65px;
}
.concierge-video-box__text-col p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
}
.concierge-video-box__text-col p:last-of-type {
  margin-bottom: 0;
}
.concierge-video-box .quote-box {
  margin: 80px 0;
}

.schedule-action-box {
  position: relative;
  margin-top: 96px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 40px 54px;
  background: url("../img/schedule-bg-pattern.png") no-repeat, -webkit-gradient(linear, right top, left top, from(#146AFF), to(#148EFF));
  background: url("../img/schedule-bg-pattern.png") no-repeat, -webkit-linear-gradient(right, #146AFF 0%, #148EFF 100%);
  background: url("../img/schedule-bg-pattern.png") no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 60px;
}
.schedule-action-box__text-box {
  margin-right: 157px;
}
.schedule-action-box__text-box p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin: 0;
}
.schedule-action-box__img-box {
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 47.96875%;
}
.schedule-action-box__btn-box {
  flex-shrink: 0;
  margin-left: 157px;
}
.schedule-action-box__btn {
  display: block;
  padding: 24px 32px;
}

.quote-box {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #146AFF;
  position: relative;
}
.quote-box:before, .quote-box:after {
  font-weight: 900;
  position: absolute;
  font-size: 80px;
  line-height: 98px;
  opacity: 0.3;
}
.quote-box:before {
  content: "“";
  left: 0;
  top: -40px;
}
.quote-box:after {
  content: "”";
  top: calc(100% - 10px);
  right: 0;
}

.concierge-pricing-list-box {
  margin: 140px 0;
}

.concierge-pricing-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: flex;
  margin: 0 -10px;
}
.concierge-pricing-list__item {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
  width: calc(33.33333% - 20px);
  padding: 50px 32px;
  border-bottom: 4px solid #146AFF;
}
.concierge-pricing-list__item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #146AFF;
  margin-bottom: 20px;
  max-width: 300px;
}
.concierge-pricing-list__item p {
  margin-bottom: 16px;
}
.concierge-pricing-list__item p:last-of-type {
  margin-bottom: 0;
}

.concierge-text-illustration-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1170px;
  margin-bottom: 140px;
}
.concierge-text-illustration-box__img-box {
  width: 49.23%;
}
.concierge-text-illustration-box__text-box {
  width: 44.53%;
}
.concierge-text-illustration-box__text-box h2,
.concierge-text-illustration-box__text-box p,
.concierge-text-illustration-box__text-box h3 {
  margin-bottom: 30px;
}
.concierge-text-illustration-box__text-box p:last-of-type {
  margin-bottom: 0;
}
.concierge-text-illustration-box__text-box h4 {
  margin-bottom: 20px;
}
.concierge-text-illustration-box--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.concierge-text-illustration-box--larger {
  max-width: 100%;
}
.concierge-text-illustration-box--larger p + p {
  margin-top: -10px;
}
.concierge-text-illustration-box--larger .concierge-text-illustration-box__img-box {
  width: 49.22%;
}
.concierge-text-illustration-box--larger .concierge-text-illustration-box__text-box {
  width: 40.78%;
}
.concierge-text-illustration-box--first-contour .concierge-text-illustration-box__img-box {
  position: relative;
}
.concierge-text-illustration-box--first-contour .concierge-text-illustration-box__img-box:after {
  content: "";
  position: absolute;
  top: 91%;
  left: 64%;
  width: 350px;
  height: 350px;
  z-index: -1;
  background: url("../img/concierge-page/contour/2.svg") no-repeat;
}
.concierge-text-illustration-box--second-contour .concierge-text-illustration-box__img-box {
  position: relative;
}
.concierge-text-illustration-box--second-contour .concierge-text-illustration-box__img-box:before {
  content: "";
  position: absolute;
  bottom: -55%;
  right: -37.2%;
  width: 380px;
  height: 1000px;
  z-index: -1;
  background: url("../img/concierge-page/contour/3.svg") no-repeat;
}
.concierge-text-illustration-box--third-contour .concierge-text-illustration-box__img-box {
  position: relative;
  top: -31px;
}
.concierge-text-illustration-box--third-contour .concierge-text-illustration-box__img-box:after {
  content: "";
  position: absolute;
  top: 78%;
  left: -76%;
  width: 550px;
  height: 1100px;
  z-index: -1;
  background: url("../img/concierge-page/contour/4.svg") no-repeat;
}
.concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box .concierge-text-illustration-box__img-box {
  position: relative;
  top: -30px;
}

.concierge-list-box {
  margin-bottom: 70px;
}

.concierge-list {
  list-style: none;
  padding: 0;
}
.concierge-list__item {
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0 10px 45px 0 rgba(17, 42, 107, 0.1);
  border-radius: 10px;
  padding: 30px 90px 30px 40px;
}
.concierge-list__item:not(:last-of-type) {
  margin-bottom: 28px;
}
.concierge-list__img-box {
  flex-shrink: 0;
  max-width: 160px;
  margin-right: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.concierge-list__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
}

.consulting-concierge-list-box .two-columns-marker-list h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.consulting-concierge-list-box .two-columns-marker-list ul {
  margin-top: 25px;
  line-height: 19px;
  font-weight: normal;
}
.consulting-concierge-list-box .two-columns-marker-list ul li {
  -webkit-box-align: center;
  align-items: center;
}
.consulting-concierge-list-box .two-columns-marker-list ul li:before {
  margin-right: 6px;
  background: url("../img/concierge-page/concierge-consulting-list-marker.svg") center center no-repeat;
  min-width: 18px;
  min-height: 18px;
}
.consulting-concierge-list-box .two-columns-marker-list ul li.green-marker:not(:last-child) {
  margin-bottom: 12px;
}
.consulting-concierge-list-box .two-columns-marker-list ul li.green-marker:before {
  background: url("../img/concierge-page/concierge-consulting-list-marker-green.svg") center center no-repeat;
  -webkit-filter: none;
  filter: none;
  min-width: 20px;
  min-height: 21px;
  margin-right: 4px;
}
.consulting-concierge-list-box .two-columns-marker-list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.consulting-concierge-list-box .two-columns-marker-list__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.consulting-concierge-list-box .two-columns-marker-list__column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.consulting-concierge-list-box .two-columns-marker-list__column--first {
  background-color: transparent;
  border: 1px solid #146AFF;
  box-shadow: none;
}
.consulting-concierge-list-box .two-columns-marker-list__column--first .two-columns-marker-list__column-header {
  color: #146AFF;
}
.consulting-concierge-list-box .two-columns-marker-list__column--first .two-columns-marker-list__column-header:before, .consulting-concierge-list-box .two-columns-marker-list__column--first .two-columns-marker-list__column-header:after {
  border-color: #146AFF;
}
.consulting-concierge-list-box .two-columns-marker-list__column--first ul {
  color: #1B1B32;
}
.consulting-concierge-list-box .two-columns-marker-list__column--first .two-columns-marker-list__text-box:before, .consulting-concierge-list-box .two-columns-marker-list__column--first .two-columns-marker-list__text-box:after {
  border-color: #146AFF;
}
.consulting-concierge-list-box .two-columns-marker-list__column--second {
  background: #E4F2FF url("../img/concierge-page/concierge-consulting-list-second-item-bg.png") top 3px right 2px no-repeat;
  border: none;
}
.consulting-concierge-list-box .two-columns-marker-list__column--second .two-columns-marker-list__column-header,
.consulting-concierge-list-box .two-columns-marker-list__column--second h3 {
  color: #146AFF;
}
.consulting-concierge-list-box .two-columns-marker-list__column--second .two-columns-marker-list__text-box:before, .consulting-concierge-list-box .two-columns-marker-list__column--second .two-columns-marker-list__text-box:after,
.consulting-concierge-list-box .two-columns-marker-list__column--second .two-columns-marker-list__column-header:before,
.consulting-concierge-list-box .two-columns-marker-list__column--second .two-columns-marker-list__column-header:after {
  border-color: #146AFF;
}
.consulting-concierge-list-box .two-columns-marker-list__column ul {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.consulting-concierge-list-box .two-columns-marker-list__column ul li:not(:last-of-type) {
  margin-bottom: 16px;
}
.consulting-concierge-list-box .two-columns-marker-list__column-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  padding-bottom: 10px;
}
.consulting-concierge-list-box .two-columns-marker-list__price {
  color: #1B1B32;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.consulting-concierge-list-box .two-columns-marker-list__price-subtitle {
  font-size: 16px;
  line-height: 32px;
}
.consulting-concierge-list-box .two-columns-marker-list__footnote {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1B1B32;
  opacity: 0.6;
  margin-top: auto;
  max-width: 81%;
  padding-top: 20px;
}
.consulting-concierge-list-box .two-columns-marker-list__text-box:before {
  bottom: -16px;
}
.consulting-concierge-list-box .two-columns-marker-list__text-box:after {
  bottom: -13px;
}

.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column {
  width: 100%;
  background: url("../img/plane-bg.png") bottom right no-repeat;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column--first {
  margin-right: 0;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 22px;
  margin: 20px -20px -16px;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul li,
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul li:not(:last-of-type) {
  width: calc(46.93% - 40px);
  margin: 0 20px 16px;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul li {
  -webkit-box-align: start;
  align-items: flex-start;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul li:before {
  flex-shrink: 0;
  align-self: auto;
}
.page-template-template-travel .consulting-concierge-list-box .two-columns-marker-list__column ul li:nth-of-type(odd) {
  max-width: 455px;
}

.page-template-template-service .concierge-list-box {
  margin: 80px 0 70px;
}
.page-template-template-service .concierge-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  margin: 0 -25px;
}
.page-template-template-service .concierge-list__item {
  display: block;
  background-color: transparent;
  box-shadow: none;
  margin: 0 25px;
  padding: 0;
  width: calc(33.33333% - 50px);
}
.page-template-template-service .concierge-list__img-box {
  margin: 0 0 30px;
  max-width: 150px;
  min-height: 150px;
}

.testimonials-slider-box {
  margin-top: 90px;
}
.testimonials-slider-box__header {
  margin-bottom: 50px;
}

.review-videos-slider {
  padding-bottom: 70px;
}

.concierge-ad-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 49px 30px 31px 0;
  margin-left: 30px;
  box-shadow: -1px 17px 48px -38px rgba(0, 0, 0, 0.75);
}
.concierge-ad-box__img-box {
  max-width: 100px;
  flex-shrink: 0;
  margin-left: -30px;
  align-self: flex-start;
  margin-right: 30px;
}
.concierge-ad-box__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.concierge-ad-box__row div:not(:last-child) {
  margin-right: 10px;
}
.concierge-ad-box__text-box {
  width: 40%;
}
.concierge-ad-box__text-box h2 {
  margin-bottom: 16px;
}
.concierge-ad-box__text-box p {
  color: #6B6B79;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.concierge-ad-box__price {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #40BF6A;
  flex-shrink: 0;
}
.concierge-ad-box__btn-box {
  flex-shrink: 0;
}
.concierge-ad-box__btn-box button {
  padding: 24px 32px;
}

.concierge-faq-box {
  margin-top: 100px;
}
.concierge-faq-box__header {
  display: -webkit-box;
  display: flex;
  margin-bottom: 34px;
}
.concierge-faq-box__header h2 {
  margin-bottom: 0;
  position: relative;
}
.concierge-faq-box__header h2:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: calc(100% + 20px);
  width: 50px;
  border-top: 2px solid #146AFF;
}

.accordion {
  list-style: none;
  padding: 0;
}
.accordion__item {
  position: relative;
}
.accordion__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #1B1B32;
  opacity: 0.3;
}
.accordion__item h4 {
  margin-bottom: 0;
}
.accordion__header {
  position: relative;
  padding: 36px 50px 36px 0;
  cursor: pointer;
}
.accordion__header:after {
  content: "";
  background: #E7EEF5 url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.2334V17.2334' stroke='%23146AFF' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17 9.2334L1 9.2334' stroke='%23146AFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  border-radius: 100%;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6B6B79;
  width: 70%;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1), padding-bottom 0.2s linear;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1), padding-bottom 0.2s linear;
  padding-bottom: 0;
}
.accordion__expanded-item:after {
  border-color: #146AFF;
  opacity: 1;
}
.accordion__expanded-item .accordion__content {
  max-height: 1000px;
  -webkit-transition: max-height 1s ease-in-out, padding-bottom 0.2s linear;
  transition: max-height 1s ease-in-out, padding-bottom 0.2s linear;
  padding-bottom: 20px;
}
.accordion__expanded-item .accordion__header:after {
  background: #146AFF url("data:image/svg+xml,%3Csvg width='18' height='3' viewBox='0 0 18 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.2334L1 1.2334' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}

@media screen and (max-width: 1280px) {
  .concierge-text-illustration-box--first-contour .concierge-text-illustration-box__img-box:after, .concierge-text-illustration-box--first-contour .concierge-text-illustration-box__img-box:before, .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__img-box:after, .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__img-box:before, .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__img-box:after, .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__img-box:before {
    content: none;
  }
}
@media screen and (max-width: 1150px) {
  .schedule-action-box__img-box {
    left: 41%;
  }
}
@media screen and (max-width: 1024px) {
  .concierge-page-main-content__header {
    margin-bottom: 80px;
  }
  .concierge-page-main-content__header .team-people-card {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 30px;
  }
  .concierge-page-main-content__header .team-people-card__avatar-box {
    margin: 0;
  }
  .concierge-page-main-content__header .team-people-card__info-box {
    max-width: 100%;
    margin-top: 40px;
  }
  .concierge-page-main-content__header .team-people-card__info-box h1 {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  .concierge-video-box__text-col {
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  .schedule-action-box {
    padding: 32px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
  }
  .schedule-action-box__img-box {
    display: none;
  }
  .schedule-action-box__text-box, .schedule-action-box__btn-box {
    margin: 0;
  }
  .schedule-action-box__text-box {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .concierge-page-main-content__header .team-people-card {
    display: -webkit-box;
    display: flex;
  }
  .concierge-page-main-content__header .team-people-card__avatar-box {
    padding-bottom: 0;
    float: none;
  }
  .concierge-page-main-content .quote-box {
    margin-left: auto;
    margin-right: auto;
  }

  .panda-team-box__header h2:after {
    content: none;
  }

  .concierge-text-illustration-box__text-box h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .concierge-list-box {
    margin-bottom: 60px;
  }

  .consulting-concierge-list-box .two-columns-marker-list {
    flex-wrap: wrap;
  }
  .consulting-concierge-list-box .two-columns-marker-list__column {
    width: 100%;
  }
  .consulting-concierge-list-box .two-columns-marker-list__column--first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .concierge-ad-box {
    padding-right: 94px;
  }
  .concierge-ad-box__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .concierge-ad-box__row div {
    margin-right: 0 !important;
  }
  .concierge-ad-box__text-box {
    width: 100%;
  }
  .concierge-ad-box__text-box h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .concierge-ad-box__text-box p {
    margin-bottom: 20px;
  }
  .concierge-ad-box__price {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }

  .concierge-video-box {
    flex-wrap: wrap;
  }
  .concierge-video-box__video-col {
    width: 100%;
  }
  .concierge-video-box__text-col {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .concierge-page-main-content blockquote {
    margin-top: 20px;
  }
  .concierge-page-main-content .main-header-with-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .concierge-page-main-content .main-header-with-image__info-box {
    max-width: 100%;
    margin-top: 40px;
    width: 100%;
  }
  .concierge-page-main-content .main-header-with-image__info-box h1 {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 39px;
  }
  .concierge-page-main-content .main-header-with-image__img-box {
    margin-top: 0;
    width: 100%;
    max-width: 500px;
  }
  .concierge-page-main-content .main-header-with-image h1 {
    margin-bottom: 20px;
  }
  .concierge-page-main-content .panda-team-box__header {
    margin-bottom: 25px;
  }
  .concierge-page-main-content .panda-team-box__header h2 {
    font-size: 24px;
    max-width: 100%;
    line-height: 36px;
  }
  .concierge-page-main-content .panda-team-box .team-people-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
  .concierge-page-main-content .panda-team-box .team-people-card__info-box {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .concierge-page-main-content .panda-team-box .team-people-card__avatar-box {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .page-template-template-service .concierge-list-box {
    margin: 60px 0;
  }
  .page-template-template-service .concierge-list-box .concierge-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0;
  }
  .page-template-template-service .concierge-list-box .concierge-list__item {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin: 0 0 30px;
  }
  .page-template-template-service .concierge-list-box .concierge-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .page-template-template-service .concierge-list-box .concierge-list__item:last-child {
    margin-bottom: 0;
  }
  .page-template-template-service .concierge-list-box .concierge-list__img-box {
    margin: 0 20px 0 0;
  }

  .concierge-list-box {
    margin-top: 60px;
  }
  .concierge-list-box .concierge-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .concierge-list-box .concierge-list__item {
    display: -webkit-box;
    display: flex;
    margin-right: 0;
  }
  .concierge-list-box .concierge-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .concierge-list-box .concierge-list__img-box {
    height: auto;
    width: 100%;
    margin-bottom: 0;
  }

  .testimonials-slider-box {
    margin-top: 80px;
  }
  .testimonials-slider-box .base-arrows-slider-box__header h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .testimonials-slider-box button {
    width: 48px;
    height: 48px;
  }
  .testimonials-slider-box button svg {
    width: 6px;
    height: 12px;
  }

  .review-videos-slider {
    padding-bottom: 60px;
  }

  .accordion__content {
    width: 100%;
  }

  .concierge-faq-box__header {
    margin-bottom: 14px;
  }

  .concierge-text-illustration-box {
    margin: 80px 0;
  }
  .concierge-text-illustration-box h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .concierge-text-illustration-box h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .concierge-text-illustration-box h4 {
    margin-bottom: 10px;
  }
  .concierge-text-illustration-box__img-box, .concierge-text-illustration-box__text-box {
    width: 48.61%;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box {
    position: relative;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__img-box {
    position: absolute;
    right: 0;
    top: 7%;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box {
    width: 100%;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box h2,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box p {
    max-width: 620px;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box h2:first-of-type,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box p:first-of-type {
    margin-right: 50%;
  }
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box .concierge-text-illustration-box__text-box p:first-of-type {
    margin-bottom: 40px;
  }
  .concierge-text-illustration-box--second-contour {
    position: relative;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__img-box {
    position: absolute;
    left: 0;
    top: 7px;
  }
  .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__text-box {
    width: 100%;
  }
  .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__text-box h3 {
    margin-left: 51%;
  }
  .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__text-box p:not(:last-of-type) {
    margin-left: 51%;
    margin-bottom: 40px;
  }
  .concierge-text-illustration-box--second-contour .concierge-text-illustration-box__text-box p:last-of-type {
    text-align: center;
  }
  .concierge-text-illustration-box--third-contour {
    position: relative;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__img-box {
    position: absolute;
    right: 0;
    top: 50px;
  }
  .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__text-box {
    width: 100%;
  }
  .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__text-box h3, .concierge-text-illustration-box--third-contour .concierge-text-illustration-box__text-box > p:first-of-type {
    margin-right: 51%;
  }
  .concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box {
    position: relative;
  }
  .concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box .concierge-text-illustration-box__img-box {
    position: absolute;
    left: 0;
    top: 65px;
  }
  .concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box .concierge-text-illustration-box__text-box {
    width: 100%;
  }
  .concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box .concierge-text-illustration-box__text-box > p,
.concierge-text-illustration-box--third-contour ~ .concierge-text-illustration-box .concierge-text-illustration-box__text-box h3 {
    margin-left: 51%;
  }

  .concierge-pricing-list-box {
    margin: 80px 0;
  }

  .concierge-pricing-list {
    margin: 0;
    flex-wrap: wrap;
  }
  .concierge-pricing-list__item {
    margin: 0 0 30px;
    width: 100%;
    padding: 30px 50px 30px 32px;
  }
  .concierge-pricing-list__item h3 {
    max-width: 460px;
  }

  .concierge-list-box {
    margin: 80px 0 70px;
  }

  .concierge-list__img-box {
    margin-right: 20px;
  }
  .concierge-list__item {
    padding: 28px 50px 28px 20px;
  }

  .consulting-concierge-list-box .two-columns-marker-list__column ul li,
.consulting-concierge-list-box .two-columns-marker-list__column ul li:not(:last-of-type) {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .concierge-page-main-content__header .team-people-card {
    margin-top: 10px;
  }
  .concierge-page-main-content__header .team-people-card__avatar-box {
    min-width: 254px;
    max-width: 254px;
  }
  .concierge-page-main-content__header .team-people-card__img-box:before {
    left: -45px;
    background: url(../img/people-image/ellipse-1-small.svg) no-repeat;
  }
  .concierge-page-main-content__header .team-people-card__img-box:after {
    background: url(../img/people-image/ellipse-2-small.svg) no-repeat;
  }
  .concierge-page-main-content .panda-team-box .team-people-card__avatar-box {
    min-width: 254px;
    max-width: 254px;
  }
  .concierge-page-main-content .panda-team-box .team-people-card__avatar-box img {
    height: 264px;
  }
  .concierge-page-main-content .panda-team-box .team-people-card__img-box:before {
    right: -50px;
  }
}
@media screen and (max-width: 600px) {
  .concierge-page-main-content__header {
    margin-bottom: 40px;
  }
  .concierge-page-main-content__header .team-people-card__info-box {
    margin-top: 20px;
  }
  .concierge-page-main-content__header .team-people-card__info-box h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .concierge-page-main-content__header .team-people-card__info-box p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
  .concierge-page-main-content .panda-team-box {
    margin-top: 30px;
  }
  .concierge-page-main-content .main-header-with-image {
    margin-top: 24px;
  }
  .concierge-page-main-content .main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .concierge-page-main-content .main-header-with-image p {
    font-size: 14px;
    line-height: 19px;
  }
  .concierge-page-main-content .main-header-with-image__info-box {
    margin-top: 24px;
  }
  .concierge-page-main-content__quote-box {
    margin: 79px 0 50px;
  }

  .page-template-template-service .concierge-list-box {
    margin: 50px 0;
  }

  .page-template-template-service .concierge-list-box .concierge-list__item {
    display: block;
  }
  .page-template-template-service .concierge-list-box .concierge-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .page-template-template-service .concierge-list-box .concierge-list__item:last-child {
    margin-bottom: 0;
  }
  .page-template-template-service .concierge-list-box .concierge-list__img-box {
    margin: 0 0 15px;
    max-width: 100px;
    min-height: 0;
  }

  .schedule-action-box {
    margin-top: 30px;
  }

  .concierge-list-box {
    margin-bottom: 50px;
  }
  .concierge-list-box .concierge-list__item {
    display: block;
  }
  .concierge-list-box .concierge-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .concierge-list-box .concierge-list__img-box {
    max-width: 100px;
    margin-bottom: 15px;
  }
  .concierge-list-box .concierge-list p {
    font-size: 14px;
    line-height: 19px;
  }

  .consulting-concierge-list-box .two-columns-marker-list__column {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .consulting-concierge-list-box .two-columns-marker-list__subtitle,
.consulting-concierge-list-box .two-columns-marker-list h3 {
    display: inline;
    text-transform: initial;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
  }
  .consulting-concierge-list-box .two-columns-marker-list__column-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .consulting-concierge-list-box .two-columns-marker-list__price {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  .consulting-concierge-list-box .two-columns-marker-list__text-box:before {
    bottom: -48px;
  }
  .consulting-concierge-list-box .two-columns-marker-list__text-box:after {
    bottom: -45px;
  }

  .testimonials-slider-box {
    margin-top: 70px;
  }
  .testimonials-slider-box__arrows {
    display: none;
  }
  .testimonials-slider-box__header {
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .testimonials-slider-box .review-videos-slider {
    padding-bottom: 50px;
  }

  .concierge-ad-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0;
    padding: 0 15px 20px;
  }
  .concierge-ad-box__img-box {
    margin: -25px auto 16px;
    max-width: 80px;
  }
  .concierge-ad-box__row {
    -webkit-box-align: center;
    align-items: center;
  }
  .concierge-ad-box__row h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .concierge-ad-box__row p {
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .concierge-ad-box__row h2,
.concierge-ad-box__row p {
    text-align: center;
  }
  .concierge-ad-box__price {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .concierge-ad-box__btn-box {
    width: 100%;
  }
  .concierge-ad-box__btn-box button {
    padding: 17px 8px;
    width: 100%;
  }

  .accordion__header {
    padding-bottom: 26px;
    padding-top: 26px;
  }
  .accordion__header h4 {
    font-size: 17px;
    line-height: 24px;
  }
  .accordion__content {
    font-size: 14px;
    line-height: 19px;
  }
  .accordion__expanded-item .accordion__content {
    padding-bottom: 10px;
  }

  .quote-box {
    font-size: 17px;
    line-height: 24px;
  }
  .quote-box:before {
    top: -45px;
    left: -15px;
  }
  .quote-box:after {
    right: -15px;
    top: calc(100% - 15px);
  }

  .concierge-text-illustration-box,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 40px 0;
  }
  .concierge-text-illustration-box h2,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .concierge-text-illustration-box h3,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box h3 {
    margin-left: 0 !important;
  }
  .concierge-text-illustration-box__text-box,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box__text-box {
    width: 100% !important;
  }
  .concierge-text-illustration-box p,
.concierge-text-illustration-box h2,
.concierge-text-illustration-box h3,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box p,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box h2,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box h3 {
    width: 100%;
    text-align: left !important;
  }
  .concierge-text-illustration-box p,
.concierge-text-illustration-box p:first-of-type,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box p,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box p:first-of-type {
    margin: 0 0 20px !important;
  }
  .concierge-text-illustration-box p:last-of-type,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box p:last-of-type {
    margin-bottom: 0 !important;
  }
  .concierge-text-illustration-box h4,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box h4 {
    font-size: 17px;
    line-height: 24px;
  }
  .concierge-text-illustration-box__img-box,
.concierge-text-illustration-box--first-contour + .concierge-text-illustration-box__img-box {
    width: 100% !important;
    margin-bottom: 30px;
    position: static !important;
  }

  .concierge-pricing-list-box {
    margin: 40px 0;
  }

  .concierge-pricing-list__item {
    padding: 20px 10px;
    margin: 0 0 16px;
  }
  .concierge-pricing-list__item:last-of-type {
    margin-bottom: 0;
  }
  .concierge-pricing-list__item h3 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .concierge-list-box {
    margin: 40px 0;
  }

  .concierge-list__img-box {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .concierge-list__item {
    padding: 20px 10px;
  }

  .concierge-video-box {
    margin-top: 40px;
  }
  .concierge-video-box .quote-box {
    margin-bottom: 50px;
  }
}