.contact-main-content {
  padding-bottom: 120px;
}
.contact-main-content .main-header-with-image {
  margin-top: 0;
}
.contact-main-content .main-header-with-image__info-box {
  max-width: 100%;
  width: 45%;
}
.contact-main-content .main-header-with-image__info-box h1 {
  margin-bottom: 60px;
}
.contact-main-content .main-header-with-image__img-box {
  width: auto;
  margin-top: -95px;
}

.contacts-list {
  list-style: none;
  padding: 0;
}
.contacts-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts-list__img-box {
  margin-right: 32px;
}
.contacts-list__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
}
.contacts-list__btn {
  background-color: transparent;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #40BF6A;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.contact-form-box {
  margin-top: 40px;
}

.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 105px 44px;
  box-shadow: 0 19px 37px 5px rgba(0, 0, 0, 0.11);
}
.contact-form h4 {
  margin-bottom: 0;
}
.contact-form__header {
  margin-bottom: 30px;
}
.contact-form__fields {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.contact-form__field {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #6B6B79;
  border: 1px solid #E3E3E3;
  border-radius: 60px;
  height: 72px;
  padding: 0 21px;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
  width: 100%;
}
.contact-form__field:focus {
  outline: none;
  border-color: #146AFF;
}
.contact-form__request-field {
  padding-right: 16px;
  display: none;
}
.contact-form__request-field:focus {
  border-color: #E3E3E3;
}
.contact-form__message-field {
  border-radius: 10px;
  padding: 26px 21px;
  min-height: 140px;
  resize: none;
  overflow: hidden;
}
.contact-form__select-wrapper {
  padding: 0 0 20px !important;
  border: none;
  position: relative;
  height: auto !important;
}
.contact-form__btn {
  display: block;
  padding: 24px 32px;
  margin-left: 5px;
}
.contact-form__info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  width: 60%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.contact-form__info-text a {
  color: #146AFF;
}
.contact-form .select-items div,
.contact-form .select-header {
  cursor: pointer;
  color: #6B6B79;
  font-weight: normal;
}
.contact-form .select-header {
  border: 1px solid #E3E3E3;
  border-radius: 60px;
  z-index: 2;
  position: relative;
  padding: 26px 61px 26px 21px;
  font-size: 16px;
  line-height: 20px;
}
.contact-form .select-header.select-arrow-active svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.contact-form .select-header.select-arrow-active svg path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
  fill: #146AFF;
}
.contact-form .select-header.select-arrow-active + .select-items {
  max-height: 1000px;
  -webkit-transition: max-height 0.5s linear, padding-top 0.3s ease-out;
  transition: max-height 0.5s linear, padding-top 0.3s ease-out;
  border-bottom: 1px solid #E3E3E3;
}
.contact-form .select-arrow-btn {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  right: 16px;
  box-shadow: 0 11px 10px rgba(17, 42, 107, 0.15);
  border-radius: 100%;
  background-color: #fff;
}
.contact-form .select-arrow-btn svg {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.contact-form .select-arrow-btn svg path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}
.contact-form .select-items {
  position: absolute;
  border: 1px solid #E3E3E3;
  border-top: none;
  border-bottom: none;
  top: 50%;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.contact-form .select-items div {
  padding: 16px 21px;
  font-size: 14px;
  line-height: 19px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.contact-form .select-items div:hover, .contact-form .select-items div.selected-item {
  color: #146AFF;
}
.contact-form .select-hide {
  max-height: 0;
  -webkit-transition: max-height 0.5s linear, padding-top 1.5s ease;
  transition: max-height 0.5s linear, padding-top 1.5s ease;
}

@media screen and (max-width: 768px) {
  .contact-main-content {
    padding-bottom: 80px;
  }
  .contact-main-content .main-header-with-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 20px;
  }
  .contact-main-content .main-header-with-image h1 {
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 30px;
  }
  .contact-main-content .main-header-with-image__info-box {
    margin-top: 0;
    width: 100%;
    margin-right: 20px;
  }
  .contact-main-content .main-header-with-image__img-box {
    margin-top: 0;
  }

  .contact-form-box {
    margin-top: 60px;
  }

  .contact-form {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 600px) {
  .contact-main-content {
    padding-bottom: 70px;
  }
  .contact-main-content .main-header-with-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
  .contact-main-content .main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .contact-main-content .main-header-with-image__img-box {
    margin-bottom: 20px;
  }
  .contact-main-content .main-header-with-image__info-box {
    margin-right: 0;
  }
  .contact-main-content .contacts-list__img-box {
    margin-right: 10px;
  }
  .contact-main-content .contacts-list__img-box svg {
    width: 34px;
    height: 34px;
  }
  .contact-main-content .contacts-list__text {
    font-size: 17px;
    line-height: 24px;
  }

  .contact-form-box {
    margin-top: 40px;
  }

  .contact-form {
    padding: 30px 16px;
  }
  .contact-form__header {
    margin-bottom: 20px;
  }
  .contact-form__header h4 {
    font-size: 17px;
    line-height: 24px;
  }
  .contact-form__field {
    width: 100%;
    margin-right: 0;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .contact-form .select-header {
    padding: 15px 52px 15px 10px;
    border-radius: 10px;
  }
  .contact-form .select-arrow-btn {
    width: 28px;
    height: 28px;
    right: 8px;
    top: 8px;
    -webkit-transform: none;
    transform: none;
    box-shadow: 0 11px 10px rgba(17, 42, 107, 0.15);
  }
  .contact-form__btn {
    padding: 17px 32px;
    margin-top: 16px;
    margin-left: 0;
  }
  .contact-form__info-text {
    width: 100%;
  }
}