.courses-page-main-content {
  padding-bottom: 90px;
}
.courses-page-main-content h2 {
  font-size: 42px;
  line-height: 51px;
}

.course-about-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}
.course-about-box__text-box {
  width: 45%;
}
.course-about-box__text-box h2 {
  margin-bottom: 40px;
}
.course-about-box__text-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
}
.course-about-box__text-box p:not(:last-child) {
  margin-bottom: 24px;
}
.course-about-box__video-box {
  min-width: 41%;
  margin: auto 0;
}

.learn-list,
.rating-panel,
.course-includes-list {
  list-style: none;
  padding: 0;
}

.learn-list-box {
  margin-top: 90px;
}
.learn-list-box__header {
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
}
.learn-list-box__header h2 {
  margin-bottom: 0;
  position: relative;
}
.learn-list-box__header h2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 40px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 88px;
  border-top: 4px solid #146AFF;
}

.learn-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.learn-list__img-box {
  max-width: 100px;
  margin-right: 20px;
  flex-shrink: 1;
}
.learn-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 40px;
  width: calc(100% / 12 * 4 - 10px);
}
.learn-list__item:nth-child(3n) {
  margin-right: 0;
}
.learn-list p {
  flex-shrink: 3;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #1B1B32;
}

.people-card-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 70px;
}
.people-card-box__avatar-box {
  margin-right: 173px;
  width: 33%;
  position: relative;
}
.people-card-box__profession-tag {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  top: 60%;
  right: -27.5%;
  width: 171px;
  height: 167px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  background-color: #146AFF;
  border-radius: 60% 40%;
  padding: 0 15px;
  box-shadow: -20px 30px 40px rgba(20, 106, 255, 0.3);
}
.people-card-box__img-box {
  position: relative;
}
.people-card-box__img-box img {
  border-radius: 60% 40%;
  margin-left: 40px;
}
.people-card-box__img-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  background: url("../img/people-image/ellipse-1.svg") no-repeat;
  background-size: 100%;
  width: 73.934%;
  height: 77.904%;
  z-index: -1;
}
.people-card-box__img-box:after {
  content: "";
  position: absolute;
  bottom: 34%;
  right: -60px;
  background: url("../img/people-image/ellipse-2.svg") no-repeat;
  background-size: 100%;
  width: 18.958%;
  height: 19.134%;
}
.people-card-box__info-box {
  width: 37%;
}
.people-card-box__subtitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #146AFF;
  margin-bottom: 20px;
}
.people-card-box h2 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 20px;
}
.people-card-box__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
  margin-bottom: 30px;
}

.rating-panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.rating-panel__item:not(:last-child) {
  margin-right: 10px;
}
.rating-panel__mark {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #146AFF;
}
.rating-panel__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
}

.course-includes-box {
  margin-top: 70px;
}
.course-includes-box__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: flex;
}
.course-includes-box__header h2 {
  position: relative;
  margin-bottom: 0;
}
.course-includes-box__header h2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 40px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 88px;
  border-top: 4px solid #146AFF;
}

.course-includes-list {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}
.course-includes-list__item {
  margin-right: 30px;
  width: calc(100% / 12 * 2 - 30px);
}
.course-includes-list__item:last-child {
  margin-right: 0;
}
.course-includes-list__img-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-shrink: 0;
  max-width: 80px;
  margin: 0 auto 20px;
}
.course-includes-list__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 100%;
  flex-shrink: 0;
}
.course-includes-list__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #1B1B32;
}

.course-ad-box {
  margin-top: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: -webkit-linear-gradient(347deg, #146AFF 0%, rgba(20, 106, 255, 0.6) 100%), #146AFF url("../img/course-page/ad-bg.svg") center -100px no-repeat;
  background: linear-gradient(103deg, #146AFF 0%, rgba(20, 106, 255, 0.6) 100%), #146AFF url("../img/course-page/ad-bg.svg") center -100px no-repeat;
  border-radius: 10px;
  padding: 65px 59px 62px 60px;
}
.course-ad-box__text-box {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 53%;
}
.course-ad-box__text-box h2 {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 0;
  position: relative;
  padding-right: 10%;
}
.course-ad-box__text-box h2:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  width: 1px;
  height: 50px;
}
.course-ad-box__price {
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  padding-left: 10%;
}
.course-ad-box__btn {
  padding: 24px 50px;
  display: block;
}

@media screen and (max-width: 835px) {
  .course-ad-box {
    flex-wrap: wrap;
    padding: 30px 62px;
  }
  .course-ad-box__text-box {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .course-ad-box__text-box h2 {
    font-size: 24px;
    line-height: 32px;
    padding-right: 0;
    margin-right: 5px;
  }
  .course-ad-box__text-box h2:after {
    content: none;
  }
  .course-ad-box__price {
    padding-left: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
  }
  .course-ad-box__btn-box {
    margin-top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .courses-page-main-content h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .course-about-box {
    flex-wrap: wrap;
  }
  .course-about-box__text-box {
    width: 100%;
  }
  .course-about-box__text-box h2 {
    margin-bottom: 24px;
  }
  .course-about-box__text-box p:not(:last-child) {
    margin-bottom: 16px;
  }
  .course-about-box__video-box {
    margin-top: 30px;
    width: 100%;
  }

  .learn-list-box {
    margin-top: 80px;
  }
  .learn-list-box__header h2:after {
    left: calc(100% + 24px);
  }

  .learn-list__img-box {
    margin-right: 18px;
  }
  .learn-list__item {
    margin-top: 30px;
    width: calc(100% / 12 * 5.5 - 10px);
  }

  .people-card-box {
    margin-top: 60px;
  }
  .people-card-box__avatar-box {
    margin-right: 123px;
  }
  .people-card-box__info-box {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .people-card-box__info-box .rating-panel {
    flex-wrap: wrap;
  }
  .people-card-box__info-box .rating-panel__item {
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    width: calc(50% - 10px);
    margin-top: 16px;
  }
  .people-card-box__info-box .rating-panel__item:nth-child(2n) {
    margin-right: 0;
  }
  .people-card-box__info-box .rating-panel__mark {
    margin-right: 5px;
  }
  .people-card-box__subtitle {
    margin-bottom: 10px;
  }
  .people-card-box h2 {
    margin-bottom: 16px;
  }
  .people-card-box__description {
    margin-bottom: 8px;
  }

  .course-includes-box__header {
    margin-bottom: 16px;
  }
  .course-includes-box__header h2:after {
    left: calc(100% + 24px);
  }
  .course-includes-box .course-includes-list {
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .course-includes-box .course-includes-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
    margin-right: 74px;
    width: calc(100% / 12 * 5 - 30px);
  }
  .course-includes-box .course-includes-list__img-box {
    margin-right: 24px;
  }
  .course-includes-box .course-includes-list__title {
    text-align: left;
  }
}
@media screen and (max-width: 670px) {
  .people-card-box {
    flex-wrap: wrap;
  }
  .people-card-box__avatar-box {
    width: calc(100% - 40px);
    margin-right: 0;
  }
  .people-card-box__img-box img {
    width: 100%;
  }
  .people-card-box__img-box:after {
    bottom: 37%;
    right: -58px;
    width: 15%;
  }
  .people-card-box__profession-tag {
    top: 52%;
    right: -7.5%;
  }
  .people-card-box__description {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 4px;
  }
  .people-card-box h2 {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 600px) {
  .courses-page-main-content h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .course-about-box {
    margin-top: 50px;
  }
  .course-about-box__video-box {
    margin-top: 24px;
  }

  .learn-list-box {
    margin-top: 70px;
  }

  .learn-list__item {
    width: 100%;
    margin-top: 20px;
  }
  .learn-list__item p {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
  }
  .learn-list__img-box {
    max-width: 70px;
  }

  .course-includes-box__header h2:after,
.learn-list-box__header h2:after {
    left: calc(100% + 16px);
    width: 50px;
  }

  .course-includes-box {
    margin-top: 50px;
  }
  .course-includes-box__header {
    margin-bottom: 14px;
  }
  .course-includes-box .course-includes-list__item {
    margin-top: 16px;
    margin-right: 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .course-includes-box .course-includes-list__title {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
  }
  .course-includes-box .course-includes-list__img-box {
    margin: 0 20px 0 0;
    max-width: 60px;
  }

  .course-ad-box {
    -webkit-box-pack: center;
    justify-content: center;
    padding: 30px 10.35% 40px;
  }
  .course-ad-box__text-box {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .course-ad-box__text-box h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .course-ad-box__btn-box {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .people-card-box__img-box:after {
    bottom: 39%;
  }
  .people-card-box__profession-tag {
    right: -16.5%;
    width: 141px;
    height: 138px;
  }

  .course-ad-box__btn {
    padding: 24px 35px;
  }
}