.credit-cards-page-main-content .main-header-with-image {
  margin-top: -60px;
}
.credit-cards-page-main-content .main-header-with-image__img-box {
  margin-top: 0;
}
.credit-cards-page-main-content .main-header-with-image__info-box {
  width: 100%;
  max-width: 100%;
  margin-top: 70px;
}
.credit-cards-page-main-content .main-header-with-image p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1B1B32;
  max-width: 90%;
}
.credit-cards-page-main-content .vertical-share-box h4 {
  margin-bottom: 0;
}
.credit-cards-page-main-content .vertical-share-box .social-networks-box {
  margin: 0;
}
.credit-cards-page-main-content .vertical-share-box .social-networks-box ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.credit-cards-page-main-content .vertical-share-box .social-networks-box__item {
  margin-right: 0;
  background-color: #146AFF;
  margin-top: 20px;
}
.credit-cards-page-main-content .vertical-share-box .social-networks-box__item:hover {
  background-color: #2978FF;
}

.tabs-categories-box {
  margin-top: 72px;
}

.tabs-categories-list {
  position: relative;
}
.tabs-categories-list:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom: 3px solid #D7E3F7;
  border-radius: 10px;
}

.tabs-categories-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.tabs-categories-list__item {
  max-width: 80px;
  cursor: pointer;
}
.tabs-categories-list__item:not(:last-child) {
  margin-right: 10px;
}
.tabs-categories-list__img-box {
  margin-bottom: 12px;
  display: -webkit-box;
  display: flex;
}
.tabs-categories-list__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 20px;
  height: calc(100% + 3px);
}
.tabs-categories-list__text {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #6B6B79;
}
.tabs-categories-list__item--active, .tabs-categories-list__item:hover {
  position: relative;
}
.tabs-categories-list__item--active .tabs-categories-list__text, .tabs-categories-list__item:hover .tabs-categories-list__text {
  color: #146AFF;
}
.tabs-categories-list__item--active .tabs-categories-list__img-box, .tabs-categories-list__item:hover .tabs-categories-list__img-box {
  -webkit-filter: invert(38%) sepia(48%) saturate(6475%) hue-rotate(211deg) brightness(98%) contrast(107%);
  filter: invert(38%) sepia(48%) saturate(6475%) hue-rotate(211deg) brightness(98%) contrast(107%);
}
.tabs-categories-list__item--active:after, .tabs-categories-list__item:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #146AFF;
  border-radius: 10px;
}

.credit-cards-box {
  display: -webkit-box;
  display: flex;
}

.credit-cards-list-box {
  margin-top: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.credit-cards-list {
  max-width: 78.8%;
  list-style: none;
  padding: 0;
}
.credit-cards-list__item {
  padding: 70px 0;
  border-bottom: 2px solid #C4C4C4;
}
.credit-cards-list__item h2 {
  margin-bottom: 30px;
}
.credit-cards-list__item:first-child {
  padding-top: 0;
}
.credit-cards-list__item:last-child {
  border-bottom: none;
}
.credit-cards-list__img-box {
  width: 305px;
  flex-shrink: 2;
}
.credit-cards-list p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #6B6B79;
  margin-bottom: 24px;
}
.credit-cards-list p:last-of-type {
  margin-bottom: 42px;
}
.credit-cards-list__card-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-statistics {
  margin-left: 50px;
  flex-shrink: 1;
  display: none;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.card-statistics__first-row {
  display: -webkit-box;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #D8E2F1;
}
.card-statistics__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.card-statistics__item:not(:last-child) {
  margin-right: 40px;
}
.card-statistics__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6B6B79;
  margin-bottom: 6px;
}
.card-statistics__value {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #146AFF;
}
.card-statistics__value--positive {
  color: #40BF6A;
}
.card-statistics__second-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 16px;
}
.card-statistics__regular-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6B6B79;
}
.card-statistics__mark {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1B1B32;
}
.card-statistics__diagram-icon {
  margin-right: 10px;
}
.card-statistics__stars-box {
  margin-left: 24px;
  margin-right: 16px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .credit-cards-page-main-content {
    padding-bottom: 70px;
  }
  .credit-cards-page-main-content .main-header-with-image {
    margin-top: 30px;
  }
  .credit-cards-page-main-content .main-header-with-image h1 {
    font-size: 42px;
    line-height: 51px;
    width: 100%;
    margin-bottom: 24px;
  }
  .credit-cards-page-main-content .main-header-with-image p {
    max-width: 100%;
    color: #6B6B79;
  }
  .credit-cards-page-main-content .main-header-with-image__img-box {
    width: 72%;
  }
  .credit-cards-page-main-content .main-header-with-image__info-box {
    margin-top: 20px;
  }
  .credit-cards-page-main-content .vertical-share-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 30px;
  }
  .credit-cards-page-main-content .vertical-share-box .social-networks-box ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .credit-cards-page-main-content .vertical-share-box .social-networks-box__item {
    margin-top: 0;
    margin-left: 24px;
  }

  .tabs-categories-box {
    margin-top: 50px;
  }

  .credit-cards-list-box {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .credit-cards-list {
    max-width: 100%;
  }
  .credit-cards-list__card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .credit-cards-list p:last-of-type {
    margin-bottom: 32px;
  }
  .credit-cards-list__item {
    padding: 40px 0;
  }

  .tabs-categories-list {
    max-height: 50px;
    flex-wrap: wrap;
    border-radius: 40px;
    padding: 0 20px 8px;
    background-color: #D7E3F6;
    overflow-y: hidden;
    -webkit-transition: max-height 1.3s cubic-bezier(0, 1, 0, 1), border-radius 0.3s linear;
    transition: max-height 1.3s cubic-bezier(0, 1, 0, 1), border-radius 0.3s linear;
  }
  .tabs-categories-list__item {
    width: 100%;
    max-width: 100%;
    z-index: 1;
    margin-right: 0 !important;
    padding: 8px 0;
  }
  .tabs-categories-list__item:first-child {
    padding-top: 16px;
  }
  .tabs-categories-list__item:hover:after, .tabs-categories-list__item--active:after {
    border: none;
  }
  .tabs-categories-list__item--active {
    -webkit-box-ordinal-group: 0;
    order: -1;
    border-bottom: 1px solid #146AFF;
    position: relative;
    padding: 13px 0;
  }
  .tabs-categories-list__item--active:after {
    content: "";
    position: absolute;
    background: url(../img/credit-cards-page/dropdown-arrow.svg) center center no-repeat;
    background-size: 8px 6px;
    width: 8px;
    height: 6px;
    top: 50%;
    right: 4px !important;
    left: auto !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .tabs-categories-list__img-box {
    margin-bottom: 0;
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }
  .tabs-categories-list__link {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .tabs-categories-list__text {
    font-size: 14px;
    line-height: 17px;
  }

  .opened-dropdown-list .tabs-categories-list__item--active:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
}
@media screen and (max-width: 600px) {
  .credit-cards-page-main-content {
    padding-bottom: 50px;
  }
  .credit-cards-page-main-content .main-header-with-image__img-box {
    width: 100%;
  }
  .credit-cards-page-main-content .main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .credit-cards-page-main-content .main-header-with-image p {
    font-size: 14px;
    line-height: 19px;
  }
  .credit-cards-page-main-content .vertical-share-box {
    margin-top: 20px;
  }

  .tabs-categories-box,
.credit-cards-list-box {
    margin-top: 30px;
  }

  .credit-cards-list__item {
    border-bottom: none;
    padding: 20px 0;
  }
  .credit-cards-list__item h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .credit-cards-list__item p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .credit-cards-list__item p:last-of-type {
    margin-bottom: 20px;
  }
  .credit-cards-list__img-box {
    width: 100%;
    text-align: center;
  }
  .credit-cards-list__card-box {
    margin-bottom: 20px;
  }
}