.main-content .view-all-link-box {
  -webkit-box-pack: center;
  justify-content: center;
}
.main-content .view-all-link-box a {
  margin: 0;
}
.main-content .view-all-link-box:before, .main-content .view-all-link-box:after {
  content: "";
  border-bottom: 1px solid #E2EAF2;
  width: 100%;
}
.main-content .view-all-link-box:before {
  left: 0;
  margin-right: 40px;
}
.main-content .view-all-link-box:after {
  right: 0;
  margin-left: 40px;
}

.home-page-subscribe-form-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 100px;
}
.home-page-subscribe-form-box__img-box {
  width: 58.99%;
  margin-left: -78px;
}
.home-page-subscribe-form-box .subscribe-form-box {
  margin: 0;
  width: 46.81%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 40px 54px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, -webkit-gradient(linear, right top, left top, from(#146AFF), to(#148EFF));
  background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, -webkit-linear-gradient(right, #146AFF 0%, #148EFF 100%);
  background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
}
.home-page-subscribe-form-box .subscribe-form-box__title {
  font-size: 42px;
  line-height: 51px;
}
.home-page-subscribe-form-box .subscribe-form-box__description {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 40px;
}
.home-page-subscribe-form-box .subscribe-form-box__input {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #6B6B79;
  padding-right: 150px;
}
.home-page-subscribe-form-box form {
  min-width: 0;
  width: 100%;
}

.home-page-categories-list-box {
  margin: 70px 0 100px;
}

.home-page-categories-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: -16px -10px;
  list-style: none;
  padding: 0;
}
.home-page-categories-list__item {
  width: calc(33.33333% - 20px);
  margin: 16px 10px;
}
.home-page-categories-list__item a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.05);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  height: 100%;
}
.home-page-categories-list__item a:hover {
  box-shadow: none;
}
.home-page-categories-list__item h5 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.home-page-categories-list__img-box {
  margin-right: 34px;
  min-width: 50px;
}

.youtube-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.youtube-box__subscribe-box {
  width: 39.94%;
}
.youtube-box__video-box {
  width: 49.33%;
}
.youtube-box__icon-box {
  text-align: right;
  margin-right: -30px;
}
.youtube-box h2 {
  font-size: 42px;
  line-height: 51px;
  margin: 0 0 23px;
}
.youtube-box .green-link-btn {
  padding: 24px 32px;
  display: inline-block;
}
.youtube-box__text-box {
  max-width: 436px;
  margin-top: -50px;
}

.home-page-youtube-box {
  margin: 90px 0;
}

.blog-cards-box h2 {
  text-align: center;
  margin-bottom: 65px;
}

@media screen and (max-width: 870px) {
  .home-page-subscribe-form-box {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .home-page-subscribe-form-box .subscribe-form-box, .home-page-subscribe-form-box__img-box {
    width: 100%;
  }
  .home-page-subscribe-form-box__img-box {
    margin: 40px 0 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .home-page-categories-list__item {
    width: calc(50% - 20px);
  }

  .youtube-box {
    flex-wrap: wrap;
  }
  .youtube-box__subscribe-box {
    width: 100%;
  }
  .youtube-box__video-box {
    width: 100%;
  }
  .youtube-box__text-box {
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .youtube-box__icon-box {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .home-page-subscribe-form-box .subscribe-form-box__input {
    padding-right: 20px;
  }

  .home-page-categories-list {
    margin: -8px 0;
  }
  .home-page-categories-list__item {
    width: 100%;
    margin: 8px 0;
  }
  .home-page-categories-list__item a {
    padding: 20px;
  }
  .home-page-categories-list__img-box {
    max-width: 50px;
    margin-right: 20px;
  }
  .home-page-categories-list h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .home-page-subscribe-form-box {
    margin-top: 40px;
  }
  .home-page-subscribe-form-box .subscribe-form-box {
    padding: 30px 20px;
  }
  .home-page-subscribe-form-box .subscribe-form-box h3 {
    font-size: 32px;
    line-height: 39px;
  }
  .home-page-subscribe-form-box .subscribe-form-box p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 0;
  }

  .home-page-categories-list-box {
    margin: 60px 0 80px;
  }

  .home-page-youtube-box {
    margin: 0 0 80px;
  }

  .youtube-box h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .youtube-box__icon-box img {
    max-width: 100px;
  }
  .youtube-box__text-box {
    margin: -30px 0 40px;
  }
}