
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

/*!
 * Bootstrap Reboot v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding-top: 30px;
}

main {
  margin-top: 40px;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

input[type=text]::-ms-clear {
  display: none;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
button:focus {
  outline: none;
}

button {
  border: none;
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

p {
  margin: 0;
}

p.base-text {
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
  margin-bottom: 24px;
}

img.base-img {
  box-shadow: 3px 12px 31px -15px rgba(0,0,0,0.75);
}

.fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 12px 31px -15px rgba(0,0,0,0.75);
}

a {
  color: #1B1B32;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1B1B32;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  background-color: #F5F8FB;
  background-image: url("../img/main-bg/bg-item1.svg"), url("../img/main-bg/bg-item2.svg"), url("../img/main-bg/bg-item3.svg"), url("../img/main-bg/bg-item4.svg"), url("../img/main-bg/bg-item5.svg");
  background-size: 11.93%, 31.72%, 31.67%, 36.41%, 47.55%;
  background-position: left top, right top, left 616px, left 2576px, right 2553px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-attachment: revert;
}

.opened-dropdown-list {
  border-radius: 10px !important;
  max-height: 800px !important;
  -webkit-transition: max-height 1s ease-in-out, border-radius 0.3s linear !important;
  transition: max-height 1s ease-in-out, border-radius 0.3s linear !important;
}
.opened-dropdown-list .categories-list__item--active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.blog-post-sidebar-social-box--copy {
  position: fixed;
  top: 130px;
  transition: opacity .2s ease-in-out;
  width: inherit;
}

.transparent {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.card-tag, .not-description-card__img-tag, .blog-card__img-tag {
  text-transform: uppercase;
  background: rgba(64, 191, 106, 0.9);
  box-shadow: 0 10px 30px rgba(64, 191, 106, 0.5);
  border-radius: 26px;
  padding: 9px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
}
.card-tag:hover,
.blog-card__img-tag:hover {
  color: #fff;
}

.card-title, .not-description-card__title, .last-news-box .popular-news-slider__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.popular-news-slider a {
  color: #fff;
}
.card-date, .not-description-card__date, .last-news-box .popular-news-slider__date {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.base-link, .credit-card-box__link--transparent, .credit-card-box__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #146AFF;
  transition: background-color .2s linear;
}
.credit-card-box__link:hover {
  background-color: #CBDAEA;
  color: #146AFF;
}

.hidden {
  display: none;
}

.semi-bold {
  font-weight: 600;
}

.flex-row {
  display: flex;
}

.green-link-btn {
  background: #40BF6A;
  box-shadow: 0 20px 40px rgba(64, 191, 106, 0.5);
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  transition: box-shadow .2s linear, background-color .2s linear;
}
.green-link-btn:hover {
  box-shadow: none;
  color: #fff;
  background-color: #4BD278;
}
.green-link-btn:active {
  box-shadow: inset 0 3px 0 #37BE64;
  transition: none;
}
.green-link-btn--danger {
  background: #e0637d;
  box-shadow: 0 20px 40px rgba(224, 99, 125, 0.5);
}
.green-link-btn--danger:hover {
  background: #eb637d;
}
.green-link-btn--danger:active {
  box-shadow: inset 0 3px 0 #db536e;
  transition: none;
}

.slider-controls, .credit-cards-slider__controls, .last-news-box .popular-news-slider__controls {
  position: absolute;
  left: 4.72%;
  bottom: 30px;
  display: -webkit-box;
  display: flex;
  z-index: 1;
}
.slider-controls > div, .credit-cards-slider__controls > div, .last-news-box .popular-news-slider__controls > div {
  border-radius: 80%;
  background: #fff;
  width: 8px;
  height: 8px;
  margin-right: 24px;
  cursor: pointer;
}
.slider-controls > div:not(.active), .credit-cards-slider__controls > div:not(.active), .last-news-box .popular-news-slider__controls > div:not(.active) {
  opacity: 0.3;
}

.main-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  min-height: 56px;
}
.logo-box {
  opacity: 1;
  transition: opacity .6s linear;
}
.menu-box {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.menu-box ul,
.search-form__result-list ul,
.slider,
.side-last-news-list ul,
.social-networks-box ul,
.footer-menu ul,
.breadcrumbs,
.two-columns-marker-list__column ul {
  list-style: none;
  padding: 0;
}
.menu-box > ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.menu-box > ul li:hover > a {
  color: #146AFF;
}
.menu-box > ul > li {
  text-align: center;
  position: relative;
}
.menu-box > ul > li:hover > a:after {
  background: url("../img/header/dropdown-arrow-active.svg") 4px center no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu-box > ul > li:hover .menu-box__dropdown-content {
  max-height: 1200px;
  padding: 30px 30px 30px 46px;
  visibility: visible;
  -webkit-transition: max-height 1.2s linear;
  transition: max-height 1.2s linear;
}
.menu-box > ul > li > a {
  padding: 10px 15px;
}
.menu-box a {
  display: block;
  position: relative;
  color: #1B1B32;
  font-weight: 500;
  text-align: center;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu-box__nested-item > a:after {
  content: "";
  background: url("../img/header/dropdown-arrow.svg") 4px center no-repeat;
  width: 15px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  margin-top: -2px;
  cursor: pointer;
  -webkit-transition: color 0.2s linear, -webkit-transform 0.2s linear;
  transition: color 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear, -webkit-transform 0.2s linear;
}
.menu-box__dropdown-content {
  max-height: 0;
  overflow-y: hidden;
  visibility: hidden;
  background: #fff;
  position: absolute;
  left: 15px;
  z-index: 2;
  min-width: 200px;
  box-shadow: 0 20px 40px rgba(17, 42, 107, 0.3);
  border-radius: 0 10px 10px 10px;
  -webkit-transition: max-height 0.2s ease-in-out, padding-top 0.2s linear, padding-bottom 0.2s linear;
  transition: max-height 0.2s ease-in-out, padding-top 0.2s linear, padding-bottom 0.2s linear;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.menu-box__dropdown-content li {
  margin-bottom: 10px;
  position: relative;
}
.menu-box__dropdown-content li:before {
  content: "";
  background: url("../img/header/list-marker.svg") center center no-repeat;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: -16px;
  bottom: auto;
  right: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu-box__dropdown-content li a {
  text-align: left;
}
.menu-box__dropdown-content:before {
  content: "";
  background: url("../img/header/dropdown-triangle.svg") center center no-repeat;
  background-size: 8px;
  position: absolute;
  top: -11px;
  left: -4px;
  bottom: auto;
  right: auto;
  width: 16px;
  height: 16px;
}
.menu-box__close-btn {
  display: none;
  position: absolute;
  top: 39px;
  left: auto;
  bottom: auto;
  right: 24px;
  background: transparent url("../img/header/cross.svg") center center no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.menu-box__marked-item > a {
  color: #e0637d;
}

.search-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.search-box__btn-box {
  box-shadow: 0 0 0 8px rgba(20, 106, 255, 0.3);
  border-radius: 40px;
  width: 56px;
  height: 56px;
  transition: height .1s linear, width .1s linear;
}
.search-box__btn {
  padding: 0;
  background: #146AFF url("../img/header/search.svg") center center no-repeat;
  box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.search-box__btn:hover {
  box-shadow: none;
  -webkit-transition: box-shadow 0.2s linear, color .2s linear;
  transition: box-shadow 0.2s linear, color .2s linear;
  background-color: #2978FF;
}
.search-box__btn:active {
  box-shadow: inset 0 3px 0 #0D65FF;
  -webkit-transition: none;
  transition: none;
}

.search-form {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
  width: 0;
  height: 48px;
}
.search-form__img-box {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.search-form__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
.search-form .search-form__result-list.visible {
  max-height: 100vh;
  padding-top: 12px;
  padding-bottom: 8px;
}
.search-form__input {
  border: none;
  padding: 0;
  border-bottom: 2px solid #146AFF;
  background-color: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #1B1B32;
  width: 100%;
  height: 100%;
  transition: color .2s linear;
}
.search-form__input:focus {
  outline: none;
}
.search-form__close-btn {
  padding: 0;
  background: transparent url("../img/header/cross.svg") center center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: none;
}
.search-form__close-btn:hover,
.menu-box__close-btn:hover {
  filter: invert(32%) sepia(61%) saturate(4297%) hue-rotate(212deg) brightness(99%) contrast(105%);
}
.search-form__result-list {
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(17, 42, 107, 0.3);
  border-radius: 0 0 10px 10px;
  z-index: 2;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s linear, padding 0.3s linear;
  transition: max-height 0.3s linear, padding 0.3s linear;
}
.search-form__list-item {
  border-bottom: 1px solid #DAE0E6;
  padding: 12px 0;
  display: block;
}
.search-form__list-item:last-of-type {
  border-bottom: none;
}
.search-form__list-item .search-form__item-category {
  color: #6B6B79;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 0;
}
.search-form__list-item .search-form__result-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.search-form__list-item .search-form__result-item .search-form__mark {
  color: #146AFF;
}
.search-form__list-item a {
  display: -webkit-box;
  display: flex;
}

.ad-top-box {
  max-width: 847px;
  background: -webkit-gradient(linear, left top, right top, from( rgba(20 ,106, 255, 0.15)), to(rgba(20, 106, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(20 ,106, 255, 0.15) 0%, rgba(20, 106, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(20 ,106, 255, 0.15) 0%, rgba(20, 106, 255, 0) 100%);
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 2px 6px;
  line-height: 21px;
}
.ad-top-box p {
 display: flex;
  align-items: center;
}
.ad-top-box a {
  font-size: 12px;
  color: #146AFF;
  font-weight: bold;
  line-height: 21px;
}
.ad-top-box__icon {
  flex-shrink: 0;
  background: url("../img/home-page/info.svg") center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.article-content-box .advertiser-disclosure-text-box p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 30px;
  color: #6B6B79;
}

.last-news-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
  max-height: 400px;
  overflow-y: hidden;
}
.last-news-box .popular-news-slider {
  color: #fff;
  position: relative;
  -webkit-box-flex: 2.36;
  flex-grow: 2.36;
  flex-basis: 100%;
  height: 400px;
}
.last-news-box .popular-news-slider__tag {
  background: rgba(221, 81, 107, 0.9);
  box-shadow: 0px 10px 30px rgba(221, 81, 107, 0.5);
  border-radius: 32px;
  width: 130px;
  padding: 12px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 4.72%;
  line-height: 15px;
}
.last-news-box .popular-news-slider__title {
  position: absolute;
  top: auto;
  left: 4.72%;
  bottom: 99px;
  right: auto;
  max-width: 66%;
}
.last-news-box .popular-news-slider img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
.last-news-box .popular-news-slider__date {
  position: absolute;
  top: auto;
  left: 4.72%;
  bottom: 68px;
  right: auto;
}
.side-last-news-list {
  margin-left: 20px;
  overflow-y: scroll;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 42%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  height: 400px;
}
.side-last-news-list::-webkit-scrollbar {
  display: none;
}
.side-last-news-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 60px;
  font-size: 14px;
  line-height: 21px;
  padding: 16px 0;
  border-bottom: 1px solid #DAE0E5;
}
.side-last-news-list__item:first-of-type {
  padding-top: 0;
}
.side-last-news-list__img-box {
  width: 60px;
  height: 60px;
  min-width: 60px;
  margin-right: 16px;
  position: relative;
  /*z-index: -1;*/
}
.side-last-news-list__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
.side-last-news-list a {
  color: #1B1B32;
  font-weight: 500;
}
.side-last-news-list a:hover {
  text-decoration: none;
  color: #146AFF;
}

.credit-card-box {
  margin-top: 70px;
  padding-bottom: 20px;
}
.credit-card-box__row {
  display: -webkit-box;
  display: flex;
}
.credit-card-box__list {
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.credit-card-box__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 41px;
}
.credit-card-box__card-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}
.credit-card-box__card-link {
  flex-direction: column;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  display: flex;
  background: #fff;
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.05);
  border-radius: 10px;
  min-height: 172px;
  transition: height .2s linear;
  padding: 0 17% 32px;
  justify-content: flex-start;
}
.credit-card-box__img-box {
  width: 120px;
  height: 76px;
  flex-shrink: 0;
  margin-top: -30px;
  margin-bottom: 12px;
}
.credit-card-box__img-box img {
  width: 100%;
  height: 100%;
}
.credit-card-box__subtitle {
  color: #40BF6A;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-align: center;
}
.credit-card-box__title {
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  max-width: 240px;
  color: #1B1B32;
}
.credit-card-box__card-link:hover {
  height: 105.814%;
  color: initial;
}
.credit-card-box__card-link:hover .credit-card-box__title {
  color: #146AFF;
}
.credit-card-box__mark-text {
  color: #146AFF;
}
.credit-card-box__info {
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
  font-weight: 500;
  text-align: center;
}
.credit-card-box__item {
  margin-right: 20px;
  width: calc(100% / 12 * 4 - 20px);
}
.credit-card-box__link {
  background: #E2EAF2;
  border-radius: 10px;
  width: 142px;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.credit-card-box__link span {
  padding: 5px 0;
  text-align: center;
}
.credit-card-box__link--transparent {
  display: none;
}

.consultation-box {
  display: -webkit-box;
  display: flex;
  margin-top: 42px;
}
.consultation-box__info-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 430px;
  margin-right: auto;
}
.consultation-box__img-box {
  display: flex;
  align-items: center;
}
.consultation-box__mark {
  color: #40BF6A;
}
.consultation-box__mark--danger {
  color: #e0637d;
}
.consultation-box h1,
.consultation-box__title {
  line-height: 51px;
  margin: 0;
  font-size: 42px;
  font-weight: 600;
}
.consultation-box p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 0;
  color: #6B6B79;
}
.consultation-box a {
  width: 228px;
  margin-top: 40px;
  padding: 24px 0;
}

.blog-box {
  margin-top: 70px;
  padding-bottom: 70px;
}
.blog-box h2 {
  margin-bottom: 63px;
}

.blog-cards {
  display: -webkit-box;
  display: flex;
  padding-bottom: 20px;
}

.blog-card {
  background: #fff;
  flex-basis: 410px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(17, 42, 107, 0.05);
  /*pointer-events: none;*/
  transition: box-shadow .5s linear;
  /*align-items: center;*/
  /*height: 100%;*/
}
.blog-card__link {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
}
.blog-card__img-box {
  height: 230px;
  max-width: 365px;
  margin-top: -25px;
  position: relative;
  align-self: center;
}
.blog-card__img-box img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 7px 9px -4px rgba(0,0,0,0.2), 0 14px 21px 2px rgba(0,0,0,0.14), 0 5px 26px 4px rgba(0,0,0,0.12);
}
.blog-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blog-card__content {
  font-size: 15px;
  line-height: 21px;
  color: #6B6B79;
  margin-top: 12px;
}
.blog-card__date {
  color: #6B6B79;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin-top: auto;
  padding-top: 20px;
}
.blog-card__title {
  font-weight: 600;
  display: block;
  margin-top: 22px;
  transition: color .2s linear;
  pointer-events: auto;
  margin-bottom: 0;
}
/*.blog-card__title:hover {*/
/*  color: #146AFF;*/
/*}*/
.blog-card:hover {
  box-shadow: 0 8px 11px -5px rgba(0,0,0,0.2), 0 17px 26px 2px rgba(0,0,0,0.14), 0 6px 32px 5px rgba(0,0,0,0.12);
}
.blog-card:hover .blog-card__title {
  color: #146AFF;
}
.blog-card__img-tag {
  position: absolute;
  top: 16px;
  left: 17px;
  bottom: auto;
  right: auto;
}
.blog-card:last-of-type {
  margin-right: 0;
}

.subscribe-form-box {
  margin-top: 40px;
  background: url("../img/home-page/subscribe-form-bg.svg") center center no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
  /*min-height: 160px;*/
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 45px 40px;
  border-radius: 10px;
  margin-bottom: 83px;
  box-shadow: 0 9px 12px -6px rgba(0,0,0,0.2), 0 19px 29px 2px rgba(0,0,0,0.14), 0 7px 36px 6px rgba(0,0,0,0.12);
}
.subscribe-form-box__title {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.subscribe-form-box__description {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}
.subscribe-form-box form {
  min-width: 500px;
  width: 500px;
  height: 72px;
}
.subscribe-form-box__form {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
}
.subscribe-form-box__input {
  height: 100%;
  border: none;
  width: 100%;
  border-radius: 60px;
  padding-left: 20px;
  margin-left: 20px;
}
.subscribe-form-box__input:focus {
  outline: none;
}
.subscribe-form-box__btn {
  padding: 24px 32px;
  font-size: 13px;
  margin-left: -149px;
}

.not-description-blog-cards {
  display: -webkit-box;
  display: flex;
  padding-bottom: 20px;
  margin-top: 40px;
}

.not-description-card {
  width: 50%;
  position: relative;
  box-shadow: 0 20px 50px rgba(7, 16, 42, 0.1);
}
.not-description-card:hover img {
  transform: scale(1.1);
}
.not-description-card__img-box {
  height: 340px;
  max-width: 630px;
  border-radius: 10px;
  overflow: hidden;
}
.not-description-card__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  transition: transform .9s linear;
}
.not-description-card__img-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(27, 27, 50, 0) 0%, #1B1B32 100%);
  border-radius: 10px;
}
.not-description-card__title {
  position: absolute;
  top: auto;
  left: 24px;
  bottom: 63px;
  right: auto;
  max-width: 79%;
  color: #fff;
  margin-bottom: 0;
}
.not-description-card__date {
  position: absolute;
  top: auto;
  left: 24px;
  bottom: 24px;
  right: auto;
}
.not-description-card__img-tag {
  position: absolute;
  top: 16px;
  left: 24px;
  bottom: auto;
  right: auto;
  z-index: 1;
  color: #fff;
}
.not-description-card__img-tag:hover {
  color: #fff;
}
.not-description-card:first-of-type {
  margin-right: 20px;
}

.view-all-link-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 40px;
}
.view-all-link-box a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 240px;
  margin-right: 20px;
}
.view-all-link-box a:hover .view-all-link-box__arrow {
  background-color: #2978FF;
  box-shadow: none;
}
.view-all-link-box a:active .view-all-link-box__arrow {
  background-color: #2978FF;
  box-shadow: inset 0px 3px 0px #0D65FF;
}
.view-all-link-box__arrow {
  background: #146AFF url("../img/home-page/right-arrow.svg") center center no-repeat;
  background-size: auto;
  box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
  border-radius: 80%;
  margin-right: 24px;
  width: 64px;
  height: 64px;
  transition: box-shadow .2s linear;
}
.view-all-link-box__text {
  text-transform: uppercase;
  color: #146AFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.view-all-link-box svg {
  width: 100%;
}

.main-footer {
  background: #fff;
  padding: 40px 0;
  position: relative;
}
.main-footer__info {
  font-size: 12px;
  line-height: 16px;
  color: #6B6B79;
}
.main-footer p {
  margin-bottom: 10px;
}
.main-footer__page-scroller {
  background: #fff url("../img/home-page/up-arrow.svg") center center no-repeat;
  background-size: auto;
  width: 64px;
  height: 64px;
  box-shadow: 0 30px 40px rgba(20, 106, 255, 0.15);
  border-radius: 80%;
  position: absolute;
  top: -32px;
  left: auto;
  bottom: auto;
  right: 3.125%;
  transition: background-color .2s linear;
  z-index: 1;
}
.main-footer__page-scroller:hover {
  background: #146AFF url("../img/home-page/up-arrow-white.svg") center center no-repeat;
}

.footer-row {
  margin-top: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.footer-row > div {
  width: 33%;
}
.footer-row .logo-box svg {
  display: -webkit-box;
  display: flex;
}
.logo-box a,
.communication-box__logo-box a {
  display: block;
}
.footer-row .communication-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 300px;
}

.politics-box {
  margin-top: 20px;
  font-size: 15px;
  line-height: 21px;
  color: #6B6B79;
}
.politics-box a:first-of-type {
  margin-right: 24px;
}

.footer-row-tablet {
  display: none;
}
.footer-row-tablet .communication-box {
  display: -webkit-box;
  display: flex;
  margin-top: 30px;
}
.footer-row-tablet .communication-box__logo-box {
  margin-right: 7.8125%;
}
.footer-row-tablet .communication-box .social-networks-box {
  margin-top: 0;
}
.footer-row-tablet .footer-menu {
  margin-right: 20px;
  margin-top: 0;
  width: 50%;
  min-width: 120px;
}
.footer-row-tablet .footer-menu ul {
  display: block;
}
.footer-row-tablet .footer-menu ul li {
  margin-bottom: 14px;
}
.footer-row-tablet .footer-menu ul li:last-of-type {
  margin-bottom: 0;
}
.footer-row-tablet .footer-menu__item {
  width: auto;
}
.footer-row-tablet .row {
  display: -webkit-box;
  display: flex;
  margin-top: 30px;
}
.footer-row-tablet .politics-box__copyright {
  margin-top: 14px;
}
.footer-row-tablet .footer-latest-posts-box {
  margin-top: 0;
}
.footer-row-tablet .footer-latest-posts-box__title {
  margin-bottom: 7px;
}

.social-networks-box {
  margin-top: 80px;
}
.social-networks-box ul {
  display: -webkit-box;
  display: flex;
}
.social-networks-box__item {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  margin-right: 16px;
  background-color: #F2F7FF;
  transition: background-color .2s linear;
}
.social-networks-box__item a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.social-networks-box__item:hover {
  background-color: #D7DFEC;
}
.social-networks-box__item:last-of-type {
  margin-right: 0;
}

.footer-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
}
.footer-menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.footer-menu ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.footer-menu__item {
  margin-bottom: 18px;
  width: 50%;
  padding: 0 5px;
}
/*.footer-menu__item:last-of-type {*/
/*  margin-bottom: 0;*/
/*}*/

.footer-latest-posts-box {
  margin-top: 10px;
}
.footer-latest-posts-box__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 7px;
}
.footer-latest-posts-box .side-last-news-list {
  overflow-y: hidden;
  margin-left: 0;
  min-width: 250px;
  height: auto;
}
.footer-latest-posts-box .side-last-news-list__item {
  border-bottom: none;
  padding: 10px 0;
}
.footer-latest-posts-box .side-last-news-list__img-box {
  width: 48px;
  height: 48px;
  min-width: 48px;
}
.footer-latest-posts-box__info {
  font-size: 15px;
  line-height: 21px;
  color: #6B6B79;
  margin-top: 20px;
}

.menu-toggle {
  display: none;
  background: transparent url("../img/header/menu-toggle.svg") center center no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 27px;
  transition: width .2s linear, margin-left .2s linear;
}

.slider {
  overflow: hidden;
  height: 100%;
}
.slider__item {
  min-width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.slide.current {
  opacity: 1;
  z-index: 1;
}
.slider__item img {
  position: relative;
  width: 100%;
}
.slider__img-box {
  height: 100%;
}
.slider__img-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 42, 107, 0)), to(#112A6B));
  background: -webkit-linear-gradient(top, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
  border-radius: 20px;
}

.credit-cards-slider {
  display: none;
}
.credit-cards-slider__controls {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
  margin: 0;
}
.credit-cards-slider__controls > div {
  background-color: #C2C9D0;
  opacity: 1 !important;
}
.credit-cards-slider__controls > div.active {
  background: #146AFF;
  box-shadow: 0 10px 10px rgba(20, 106, 255, 0.3);
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%
}

.main-header {
  /*box-shadow: 0px 10px 10px rgba(27, 27, 50, 0.1);*/
  /*width: 100%;*/
}

.header-wrapper {
  transition: background-color .3s ease;
}

.header-wrapper.sticky-top {
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(27, 27, 50, 0.1);
  padding: 15px 0;
}

.header-wrapper.sticky-top .search-box__btn-box {
  width: 42px;
  height: 42px;
  box-shadow: 0 0 0 6px rgba(20, 106, 255, 0.3);
}

.header-wrapper.sticky-top + main {
  padding-top: 56px;
}

.breadcrumbs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs__item, .breadcrumbs__item a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6B6B79;
}
.breadcrumbs__item {
  background-color: #CFDEFC;
  border-radius: 30px;
  margin-right: 10px;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  margin-bottom: 10px;
}
.breadcrumbs__item--disable {
  opacity: 0.4;
  padding: 7px 12px;
}
.breadcrumbs__item--back {
  display: none;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}
.breadcrumbs__item svg {
  margin-right: 3px;
}
.breadcrumbs__item:hover:not(.breadcrumbs__item--disable) {
  background-color: #BCD2FF;
}
.breadcrumbs__item a {
  width: 100%;
  padding: 7px 12px;
}

.two-columns-marker-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.two-columns-marker-list__column {
  border-radius: 10px;
  padding: 32px 4.6875%;
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.two-columns-marker-list__column-header {
  padding-bottom: 20px;
  position: relative;
}
.two-columns-marker-list__column-header:before {
  content: "";
  position: absolute;
  width: 15px;
  border-bottom: 1px solid #fff;
  bottom: 0;
  left: 0;
}
.two-columns-marker-list__column-header:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  bottom: 0;
  left: 25px;
  right: 0;
}
.two-columns-marker-list__column h3 {
  margin-bottom: 0;
}
.two-columns-marker-list__text-box {
  position: relative;
  flex-grow: 1;
}
.two-columns-marker-list__column .two-columns-marker-list__text-box:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 1px;
  border-left: 1px solid #fff;
  bottom: -26px;
  left: 15px;
}
.two-columns-marker-list__column .two-columns-marker-list__text-box:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 11px;
  border-bottom: 1px solid #fff;
  bottom: -23px;
  left: 15px;
  -webkit-transform: rotate(-34deg);
  transform: rotate(-34deg);
}
.two-columns-marker-list__column--first {
  background-color: #146AFF;
  color: #fff;
  margin-right: 20px;
  box-shadow: 3px 9px 31px -16px #146AFF;
}
.two-columns-marker-list__column--first li:before {
  background: url("../img/blog-post-page/green-list-marker.svg") center center no-repeat;
}
.two-columns-marker-list__column--second {
  color: #1B1B32;
  border: 1px solid #D35973;
}
.two-columns-marker-list__column--second h3 {
  color: #D35973;
}
.two-columns-marker-list__column--second li:before {
  background: url("../img/blog-post-page/red-list-marker.svg") center center no-repeat;
}
.two-columns-marker-list__column--second .two-columns-marker-list__column-header .two-columns-marker-list__text-box:before,
.two-columns-marker-list__column--second .two-columns-marker-list__column-header .two-columns-marker-list__text-box:after, .two-columns-marker-list__column--second .two-columns-marker-list__column-header:before, .two-columns-marker-list__column--second .two-columns-marker-list__column-header:after {
  border-color: #D35973;
}
.two-columns-marker-list__column ul {
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.two-columns-marker-list__column ul li {
  display: -webkit-box;
  display: flex;
  margin-bottom: 12px;
}
.two-columns-marker-list__column ul li:last-child {
  margin-bottom: 0;
}
.two-columns-marker-list__column ul li:before {
  content: "";
  min-width: 26px;
  min-height: 26px;
  background-size: 100%;
  margin-right: 10px;
  align-self: flex-start;
}
.two-columns-marker-list + p {
  margin-top: 50px;
}

.base-subscribe-input {
  background-color: #fff;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 24px;
  border: none;
  width: 100%;
}

.base-subscribe-input:focus {
  outline: none;
}

.base-input-with-btn-wrapper {
  display: flex;
  align-items: center;
}

.base-input-with-btn-wrapper input[type=email],
.base-input-with-btn-wrapper input[type=search],
.base-input-with-btn-wrapper input[type=text] {
  width: 100%;
  border-radius: 60px;
  border: 1px solid #E3E3E3;
  background-color: #fff;
  height: 72px;
  padding: 4px 200px 4px 21px;
}

.base-input-with-btn-wrapper input:focus {
  outline: none;
}

.base-input-with-btn-wrapper__btn-wrapper {
  margin-left: -192px;
  height: 64px;
}

.base-input-with-btn-wrapper__btn-wrapper input {
  width: 188px;
  padding: 0;
  background-color: #40BF6A;
  box-shadow: 0 20px 40px rgba(64, 191, 106, 0.5);
  border-radius: 50px;
  border: none;
  color: #fff;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  height: 100%;
  transition: box-shadow .2s linear, background-color .2s linear;
}

.base-input-with-btn-wrapper__btn-wrapper input:hover {
  box-shadow: none;
}

.base-input-with-btn-wrapper__btn-wrapper input:active {
  box-shadow: inset 0 3px 0 #37BE64;
}

.base-arrows-slider-box__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.base-arrows-slider-box__header h2 {
  margin-bottom: 0;
  margin-right: 5px;
}
.base-arrows-slider-box__arrows {
  display: -webkit-box;
  display: flex;
}
.base-arrows-slider-box__arrows button {
  width: 64px;
  height: 64px;
  box-shadow: 0 30px 40px rgba(20, 106, 255, 0.15);
  border-radius: 80%;
  padding: 0;
  background-color: #fff;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.base-arrows-slider-box__arrows button svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.base-arrows-slider-box__arrows button:hover {
  background-color: #146AFF;
}
.base-arrows-slider-box__arrows button:hover svg path {
  fill: #fff;
}
.base-arrows-slider-box__prev-arrow {
  margin-right: 10px;
}
.base-arrows-slider-box__dots {
  text-align: center;
  margin-top: 30px;
  -webkit-box-pack: center;
  justify-content: center;
}
.blog-cards-arrows-slider-box__dots {
  display: none;
}
.swiper-slide {
  height: auto;
}
.swiper-slide .blog-card {
  height: 100%;
}
.base-arrows-slider-box__dots .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px !important;
  background-color: #C2C9D0;
  opacity: 1;
}
.base-arrows-slider-box__dots .swiper-pagination-bullet-active {
  background-color: #146AFF;
  box-shadow: 0 10px 10px rgba(20, 106, 255, 0.3);
}

.blog-cards-arrows-slider {
  padding-top: 75px;
  padding-bottom: 90px;
}

.main-header-with-image {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 50px;
}
.main-header-with-image__info-box {
  max-width: 45%;
}
.main-header-with-image__info-box h1 {
  margin-bottom: 30px;
}
.main-header-with-image__info-box p {
  color: #6B6B79;
  font-size: 16px;
  line-height: 22px;
}
.main-header-with-image__img-box {
  width: 100%;
  margin-top: -163px;
}

.main-header-with-image.main-header-with-image--big-header h1 {
  font-size: 64px;
  line-height: 78px;
  font-weight: bold;
}
.main-header-with-image.main-header-with-image--big-header p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
}

.read-more-link {
  font-weight: bold;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #40BF6A;
}
.read-more-link:hover {
  text-decoration: none;
  color: #40BF6A;
}
.read-more-link:after {
  content: "";
  position: absolute;
  background: url("../img/read-more-arrow.svg") center center no-repeat;
  left: 100%;
  top: 50%;
  margin-left: 12px;
  width: 6px;
  height: 8px;
  transform: translateY(-50%);
}

.page-main-content .page-content-box {
  margin-top: 40px;
}
.page-main-content .post-title-big-poster {
  margin-top: 50px;
}

.page-main-content .page-content-box {
  margin-top: 40px;
}

.page-main-content .post-title-big-poster__date {
  margin-bottom: 0;
}

.page-main-content h2 {
  margin-bottom: 24px;
}

.page-main-content h3 {
  font-weight: 600;
}

.page-main-content p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1B1B32;
  margin-bottom: 24px;
}

.page-main-content p + h2 {
  margin-top: 50px;
}

.page-main-content p + h3 {
  margin-top: 32px;
}

.page-main-content {
  padding-bottom: 70px;
}

.page-main-content ul {
  margin-bottom: 32px;
  list-style: initial;
  padding-left: 40px;
}

.page-main-content ul li {
  padding-left: 12px;
}

.card-statistics {
  margin-left: 50px;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.card-statistics--hidden {
  display: none;
}
.card-statistics__first-row {
  display: -webkit-box;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #D8E2F1;
}
.card-statistics__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.card-statistics__item:not(:last-child) {
  margin-right: 40px;
}
.card-statistics__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6B6B79;
  margin-bottom: 6px;
}
.card-statistics__value {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #146AFF;
}
.card-statistics__value--positive {
  color: #40BF6A;
}
.card-statistics__second-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 16px;
}
.card-statistics__regular-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6B6B79;
}
.card-statistics__mark {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1B1B32;
}
.card-statistics__diagram-icon {
  margin-right: 10px;
}
.card-statistics__stars-box {
  margin-left: 24px;
  margin-right: 16px;
  flex-shrink: 0;
}
.comment-box {
  margin-top: 94px;
  padding-bottom: 30px;
}
.comment-box__pagination-box {
  margin: 40px auto 0;
}
.comment-form-box {
  position: relative;
}
.comment-form-box__icon-box {
  position: absolute;
  top: -50px;
  right: 0;
}
.comment-form-box > .comment-respond > .comment-form__header {
  display: none;
}

.comment-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 105px 44px;
  box-shadow: 0 19px 37px 5px rgba(0, 0, 0, 0.11);
  position: relative;
  margin-bottom: 32px;
}
.comment-form label {
  margin-bottom: 0;
  font-size: 16px;
  cursor: pointer;
}
.comment-form h4 {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 39px;
}
.comment-form__header {
  margin-bottom: 30px;
}
.comment-form__fields {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.comment-form__field-wrapper {
  width: 100%;
}
.comment-form__field {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #6B6B79;
  border: 1px solid #E3E3E3;
  border-radius: 60px;
  height: 72px;
  padding: 0 21px;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
  width: 100%;
}
.comment-form__field:focus {
  outline: none;
  border-color: #146AFF;
}
.comment-form__field--error {
  border-color: #DD516B;
}
.comment-form__name-field-wrapper, .comment-form__email-field-wrapper {
  width: calc(50% - 10px);
}
.comment-form__name-field-wrapper {
  margin-right: 20px;
}
.comment-form__message-field-wrapper {
  margin-top: 20px;
}
.comment-form__message-field {
  border-radius: 10px;
  padding: 26px 21px;
  min-height: 140px;
  resize: none;
  overflow: hidden;
}
.comment-form__btn {
  display: block;
  padding: 24px 56px;
  margin-left: auto;
}
.comment-form__validation-message {
  font-size: 14px;
  margin-left: 30px;
  color: #DD516B;
  line-height: 24px;
  visibility: hidden;
  min-height: 24px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.comment-form__validation-message--visible {
  visibility: visible;
  opacity: 1;
}

.comments-list-box {
  margin-top: 60px;
}
.comments-list-box h3 {
  margin-bottom: 40px;
}
.comments-list-box__marked-text {
  color: #40BF6A;
}

.comments-list {
  list-style: none;
  padding: 0;
}
.comments-list__item > .comments-list {
  margin-left: 54px;
  position: relative;
}
.comments-list__item > .comments-list:before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='45' height='95' viewBox='0 0 45 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44 94H32.5H21C9.95431 94 1 85.0457 1 74V1' stroke='%233C6EC8' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='1 10'/%3E%3C/svg%3E%0A") no-repeat;
  position: absolute;
  top: -35px;
  left: -54px;
  width: 45px;
  height: 95px;
}

.comment-instance {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 37px 5px rgba(0, 0, 0, 0.11);
  padding: 32px 40px;
  margin-bottom: 32px;
}
.comment-instance__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.comment-instance__header h4 {
  margin: 0 16px;
}
.comment-instance__info-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.comment-instance__date {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6B6B79;
}
.comment-instance__avatar-box img {
  border-radius: 100%;
}
.comment-instance p {
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
  margin-bottom: 24px;
  max-width: 870px;
}
.comment-instance__reply-btn {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #40BF6A;
  border-radius: 50px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #40BF6A;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.comment-instance__reply-btn:hover {
  background-color: #40BF6A;
  color: #fff;
}

.modal {
  display: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(27, 27, 50, 0.9);
}
.modal__content {
  background: #fff;
  border-radius: 10px;
  max-width: 640px;
  padding: 80px 50px;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  padding: 0;
}
.modal__close-btn svg {
  display: block;
}
.modal__close-btn svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.modal__close-btn:hover svg path {
  fill: #146AFF;
}
.modal__text-box:not(:last-of-type) {
  margin-bottom: 40px;
}
.modal p {
  font-size: 18px;
  line-height: 24px;
  color: #6B6B79;
}
.main-content .view-all-link-box {
  -webkit-box-pack: center;
  justify-content: center;
}
.main-content .view-all-link-box a {
  margin: 0;
}
.main-content .view-all-link-box:before, .main-content .view-all-link-box:after {
  content: "";
  border-bottom: 1px solid #E2EAF2;
  width: 100%;
}
.main-content .view-all-link-box:before {
  left: 0;
  margin-right: 40px;
}
.main-content .view-all-link-box:after {
  right: 0;
  margin-left: 40px;
}

.home-page-subscribe-form-box {
  margin-top: 100px;
}
.subscribe-form-box__wrapper {
  max-width: 504px;
}
/*.home-page-subscribe-form-box__img-box {*/
/*  width: 58.99%;*/
/*  margin-left: -78px;*/
/*}*/
.home-page-subscribe-form-box .subscribe-form-box {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 40px 54px;
  border-radius: 10px;
  background: url("../img/subscribe-form-bg/center-pattern.png") center center no-repeat,
    url("../img/subscribe-form-bg/photo.png") right/700px no-repeat,
    url("../img/subscribe-form-bg/global-pattern.png") top center no-repeat,
    linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
      /*url("../img/subscribe-form-bg/center-pattern.png") center center no-repeat,*/
      /*url("../img/subscribe-form-bg/photo.png") right center no-repeat;*/
      /*linear-gradient(270deg, #146AFF 0%, #148EFF 100%);*/
  /*background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, -webkit-gradient(linear, right top, left top, from(#146AFF), to(#148EFF));*/
  /*background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, -webkit-linear-gradient(right, #146AFF 0%, #148EFF 100%);*/
  /*background: url("../img/home-page/subscribe-form-new-bg.png") top 20px right -1px no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);*/
}
/*.home-page-subscribe-form-box .subscribe-form-box:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  border-radius: 0 10px 10px 0;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  background: linear-gradient(270deg, rgba(20, 106, 255, 0) 56.77%, #148EFF 100%), url("../img/subscribe-form-bg/photo.png") right center no-repeat;*/
/*  width: 630px;*/
/*}*/
.home-page-subscribe-form-box .subscribe-form-box__title {
  font-size: 42px;
  line-height: 51px;
}
.home-page-subscribe-form-box .subscribe-form-box__description {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 32px;
}
.home-page-subscribe-form-box .subscribe-form-box__input {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #6B6B79;
  padding-right: 152px;
}
.home-page-subscribe-form-box form {
  min-width: 0;
  width: 100%;
}

.author-blog-main-page-main-content {
  padding-bottom: 40px;
}

.home-page-categories-list-box {
  margin: 70px 0 100px;
}

.home-page-categories-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: -16px -10px;
  list-style: none;
  padding: 0;
}
.home-page-categories-list__item {
  width: calc(33.33333% - 20px);
  margin: 16px 10px;
}
.home-page-categories-list__item a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.05);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  height: 100%;
}
.home-page-categories-list__item a:hover {
  box-shadow: none;
}
.home-page-categories-list__item h5 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.home-page-categories-list__img-box {
  margin-right: 34px;
  min-width: 50px;
}

.youtube-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.youtube-box__subscribe-box {
  width: 39.94%;
}
.youtube-box__video-box {
  width: 49.33%;
}
.youtube-box__icon-box {
  text-align: right;
  margin-right: -30px;
}
.youtube-box h2 {
  font-size: 42px;
  line-height: 51px;
  margin: 0 0 23px;
}
.youtube-box .green-link-btn {
  padding: 24px 32px;
  display: inline-block;
}
.youtube-box__text-box {
  max-width: 436px;
  margin-top: -50px;
}

.home-page-youtube-box {
  margin: 90px 0;
}

.blog-cards-box h2 {
  text-align: center;
  margin-bottom: 65px;
}

.article-content-box .advertiser-disclosure-text-box + .horizontal-share-box {
  margin: 45px 0;
}

.post-author-card {
  display: -webkit-box;
  display: flex;
}
.post-author-card--dense {
  -webkit-box-align: center;
  align-items: center;
}
.post-author-card--dense .post-author-card__avatar-box {
  max-width: 80px;
  margin-right: 15px;
}
.post-author-card--dense .post-author-card__text-box__date {
  font-size: 13px;
  color: #6B6B79;
  line-height: 20px;
}
.post-author-card--dense .post-author-card__text-box h4 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.post-author-card__text-box h4 a {
  color: #1B1B32;
  transition: color .1s linear;
}
.post-author-card__text-box h4 a:hover {
  color: #146AFF;
}
.post-author-card__avatar-box {
  min-width: 80px;
  max-width: 100px;
  width: 100%;
  margin-right: 40px;
}
.post-author-card .post-author-card__avatar-box img {
  border-radius: 100%;
}
.post-author-card .post-author-card__text-box p {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 10px;
}
.dense-social-list {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0 -5px;
  padding: 0;
}
.dense-social-list__item a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
.dense-social-list__item a svg path,
.dense-social-list__item a svg circle {
  -webkit-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}
.dense-social-list__item-linked-in a:hover svg path {
  fill: #0177B5;
}
.dense-social-list__item-facebook a:hover svg path {
  fill: #3A5898;
}
.dense-social-list__item-twitter a:hover svg path {
  fill: #41ABE1;
}
.dense-social-list__item-instagram a:hover svg path,
.dense-social-list__item-instagram a:hover svg circle {
  fill: #CE2E94;
}
.dense-social-list__item-reddit a:hover svg path {
  fill: #F84300;
}


.base-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s linear, opacity .2s linear;
  z-index: 9999;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.base-modal__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  width: 100%;
  padding: 30px;
}

.base-modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
  max-width: 640px;
}

.base-modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

.subscribe-modal {

}

.subscribe-modal__img-box {
  position: relative;
  border-radius: 10px 10px 0 0;
}

.subscribe-modal__img-box:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  top: 0;
}

.subscribe-modal__img-box:after {
  background: linear-gradient(270deg, rgba(20, 106, 255, 0) 56.77%, #148EFF 100%);
}

.subscribe-modal__img-box img {
  max-height: 280px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.subscribe-modal__main-box {
  padding: 40px 40px 60px;
}

.subscribe-modal__text-box h2 {
  font-size: 42px;
  line-height: 51px;
  margin: 0 auto 16px;
  text-align: center;
  max-width: 510px;
}

.subscribe-modal__text-box p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto 40px;
  text-align: center;
  font-weight: normal;
  max-width: 410px;
}

.subscribe-modal__form-wrapper {
  position: relative;
}

.subscribe-modal__text-input {
  background-color: #fff;
  border: 1px solid #E3E3E3;
  border-radius: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1B1B32;
  width: 100%;
  padding: 25px 200px 25px 20px;
}

.subscribe-modal__text-input::placeholder {
  color: #6B6B79;
  opacity: 1;
}

.subscribe-modal__text-input:-ms-input-placeholder {
  color: #6B6B79;
}

.subscribe-modal__text-input::-ms-input-placeholder {
  color: #6B6B79;
}

.subscribe-modal__text-input:focus {
  outline: none;
}

.subscribe-modal__submit-btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: 24px 32px;
}

.team-people-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-left: 12.73%;
  padding-right: 13.59%;
}
.team-people-card h2 {
  margin-bottom: 24px;
}
.team-people-card p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
}
.team-people-card__avatar-box {
  min-width: 332px;
  max-width: 332px;
  margin-right: 9%;
  position: relative;
}
.team-people-card__avatar-box img {
  border-radius: 60% 40%;
  -o-object-fit: cover;
  object-fit: cover;
}
.team-people-card__img-box {
  position: relative;
}
.team-people-card__img-box:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -40px;
  background: url("../img/people-image/ellipse-1.svg") no-repeat;
  background-size: 100%;
  width: 73.795%;
  height: 77.971%;
  z-index: -1;
}
.team-people-card__img-box:after {
  content: "";
  position: absolute;
  bottom: 13%;
  right: 0;
  background: url("../img/people-image/ellipse-2.svg") no-repeat;
  background-size: 100%;
  width: 18.958%;
  height: 19.134%;
}
.team-people-card__tag {
  position: absolute;
  top: 65px;
  right: -30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  background: #146AFF;
  box-shadow: -20px 30px 40px rgba(20, 106, 255, 0.3);
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.team-people-card--revert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.team-people-card--text-left {
  flex-direction: row-reverse;
}
.team-people-card--text-left .team-people-card__avatar-box {
  margin-right: 0;
}
.team-people-card--revert .team-people-card__avatar-box {
  margin-right: 0;
  margin-left: 9%;
}
.team-people-card--revert .team-people-card__img-box:before {
  right: -50px;
  top: 0;
  left: auto;
}
.team-people-card--revert .team-people-card__img-box:after {
  left: 0;
}
.team-people-card--revert .team-people-card__tag {
  left: -30px;
}
.team-people-card__info-box p:not(:last-child) {
  margin-bottom: 16px;
}
.panda-team-box {
  margin-top: 70px;
}
.panda-team-box__header {
  display: -webkit-box;
  display: flex;
  margin-bottom: 50px;
}
.panda-team-box__header h2 {
  max-width: 360px;
  position: relative;
  font-size: 42px;
  line-height: 51px;
}
.panda-team-box__header h2:after {
  content: "";
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  left: calc(100% + 24px);
  width: 88px;
  border-top: 4px solid #146AFF;
}
.panda-team-box__people-list .team-people-card:not(:first-child) {
  margin-top: 66px;
}

.credit-cards-sidebar {
  width: 32%;
  margin-top: 9px;
}
.credit-cards-sidebar__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.credit-cards-sidebar__header h4 {
  margin-bottom: 0;
  margin-right: 5px;
}
.credit-cards-sidebar__header a {
  color: #146AFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.credit-cards-sidebar .credit-card-box-vertical-list {
  margin-top: 24px;
  margin-bottom: 55px;
  list-style: none;
  padding: 0;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__item {
  margin-right: 0;
  width: 100%;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__item:not(:first-child) {
  margin-top: 16px;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__item:not(:last-child) {
  border-bottom: 1px solid #DAE0E6;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__card-link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  background: transparent;
  box-shadow: none;
  min-height: auto;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 0 0 16px;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__img-box {
  height: auto;
  width: auto;
  margin: 0 16px 0 0;
  -webkit-transform: none;
  transform: none;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__card-info {
  padding: 0;
  -webkit-box-align: start;
  align-items: flex-start;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__title {
  margin-top: 0;
  text-align: left;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__subtitle {
  margin-bottom: 6px;
}
.credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__info {
  text-align: left;
}
.credit-cards-sidebar .credit-card-box__header {
  display: none;
}
.credit-cards-sidebar__ad-box {
  overflow: hidden;
  text-align: center;
}
.credit-cards-sidebar__ad-box iframe {
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.01);
}

@media screen and (max-width: 870px) {
  .credit-card-box__link {
    width: 85px;
  }

  .credit-card-box__item {
    margin-right: 10px;
  }
  .home-page-subscribe-form-box {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  /*.home-page-subscribe-form-box .subscribe-form-box, .home-page-subscribe-form-box__img-box {*/
  /*  width: 100%;*/
  /*}*/
  /*.home-page-subscribe-form-box__img-box {*/
  /*  margin: 40px 0 0;*/
  /*  display: -webkit-box;*/
  /*  display: flex;*/
  /*  -webkit-box-align: center;*/
  /*  align-items: center;*/
  /*  -webkit-box-pack: center;*/
  /*  justify-content: center;*/
  /*}*/

  .home-page-categories-list__item {
    width: calc(50% - 20px);
  }

  .youtube-box {
    flex-wrap: wrap;
  }
  .youtube-box__subscribe-box {
    width: 100%;
  }
  .youtube-box__video-box {
    width: 100%;
  }
  .youtube-box__text-box {
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .youtube-box__icon-box {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 30px;
  }

  .side-last-news-list__item {
    -webkit-box-align: initial;
    align-items: initial;
  }

  .credit-card-box__item:nth-of-type(3),
  .credit-card-box__item:last-of-type,
.credit-card-box__link,
.blog-card:last-of-type,
.footer-row,
.menu-box {
    display: none;
  }

  .credit-card-box__link--transparent,
.footer-row-tablet,
.menu-toggle {
    display: block;
  }

  .blog-card:nth-of-type(2),
.credit-card-box__item:nth-of-type(2) {
    margin-right: 0;
  }

  .credit-card-box__item {
    margin-right: 20px;
    width: calc(100% / 12 * 6 - 10px);
  }

  .home-page-subscribe-form-box .subscribe-form-box {
    background: url("../img/subscribe-form-bg/full-photo.png") center center no-repeat;
  }

  .home-page-subscribe-form-box .subscribe-form-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(20, 142, 255, 0.7);
  }

  .subscribe-form-box__wrapper {
    position: relative;
  }

  .subscribe-form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .subscribe-form-box__info {
    margin-bottom: 20px;
    text-align: center;
  }
  .subscribe-form-box__input {
    margin-left: 0;
  }

  .menu-box {
    background: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
  }
  .menu-box > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 80px 24px 80px 40px;
  }
  .menu-box > ul > li {
    border-bottom: 1px solid #DAE0E5;
    width: 100%;
  }
  .menu-box > ul > li > a {
    text-align: left;
    padding: 20px 20px 20px 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }
  .menu-box > ul > li:hover .menu-box__dropdown-content {
    padding: 0;
  }
  .menu-box > ul > li.menu-box__nested-item:hover > a {
    padding-bottom: 10px;
  }
  .menu-box > ul > li:hover > a:after {
    -webkit-transform: rotate(180deg) translateY(-50%);
    transform: rotate(180deg) translateY(-50%);
    margin-top: 0;
  }
  .menu-box__dropdown-content {
    position: static;
    background: transparent;
    box-shadow: none;
  }
  .menu-box__dropdown-content:before {
    content: none;
  }
  .menu-box__dropdown-content li:before {
    content: none;
  }
  .menu-box__close-btn {
    display: block;
  }
  .blog-box {
    margin-top: 60px;
  }
  .search-box__btn-box {
    width: 44px;
    height: 44px;
  }
  .main-header-with-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .main-header-with-image__info-box {
    max-width: 100%;
    margin-top: 20px;
  }
  .main-header-with-image__info-box h1 {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 39px;
  }
  .main-header-with-image__img-box {
    margin-top: 0;
  }
  .main-header-with-image--big-header.main-header-with-image {
    margin-top: 20px;
  }
  .main-header-with-image--big-header.main-header-with-image h1 {
    font-size: 32px;
    line-height: 39px;
    width: 79%;
    font-weight: 600;
  }
  .main-header-with-image--big-header .main-header-with-image__img-box {
    width: 60%;
  }
  .subscribe-form-box {
    background-position: 129% center;
  }
  .page-main-content .post-title-big-poster {
    margin-top: 40px;
  }
  .page-main-content {
    padding-bottom: 40px;
  }
  .card-statistics {
    margin-left: 0;
    margin-top: 34px;
    padding-right: 66px;
  }
  .card-statistics__second-row .card-statistics__value {
    font-size: 15px;
    line-height: 18px;
  }
  .comment-box {
    margin-top: 100px;
  }

  .comment-form {
    padding: 40px 30px;
  }
  .comment-form__name-field, .comment-form__email-field {
    width: 100%;
  }
  .comment-form__field {
    margin-right: 0;
  }
  .comments-list-box {
    margin-top: 40px;
  }
  .modal__content {
    padding: 30px;
    width: 90%;
  }
  .base-input-with-btn-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .base-input-with-btn-wrapper__btn-wrapper {
    margin: 16px 0 0;
    height: 50px;
  }
  .base-input-with-btn-wrapper input[type=email],
  .base-input-with-btn-wrapper input[type=search],
  .base-input-with-btn-wrapper input[type=text] {
    height: 50px;
    padding: 4px 21px;
  }
  .base-input-with-btn-wrapper__btn-wrapper input {
    padding: 0 10px;
  }
  .credit-cards-sidebar .credit-card-box-vertical-list .credit-card-box__item {
    display: block !important;
  }
}
@media screen and (max-width: 900px) {
  .team-people-card {
    padding: 0;
    display: block;
  }
  .team-people-card__info-box h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .team-people-card__avatar-box {
    margin-right: 40px;
    float: left;
    padding-bottom: 5px;
  }
  .team-people-card--revert .team-people-card__avatar-box {
    margin-left: 40px;
    float: right;
  }
  .team-people-card:after {
    content: "";
    display: block;
    clear: both;
  }
  .panda-team-box {
    margin-top: 60px;
  }
  .panda-team-box__header {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 769px) {
  .menu-box {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .team-people-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .team-people-card__info-box h2 {
    margin-bottom: 10px;
  }
  .team-people-card__avatar-box {
    margin-right: 0;
    min-width: 254px;
    max-width: 254px;
    align-self: center;
    margin-bottom: 20px;
  }
  .team-people-card--revert .team-people-card__avatar-box {
    margin-left: 0;
  }
  .team-people-card--revert .team-people-card__tag {
    left: auto;
  }
  .team-people-card__tag {
    right: -10px;
    left: auto;
    top: 36px;
    width: 70px;
    height: 70px;
  }
  .team-people-card__img-box:before {
    background: url(../img/people-image/ellipse-1-small.svg) no-repeat;
    top: -22px;
    left: -8px;
    width: 81%;
    height: 86%;
  }
  .team-people-card__img-box:after {
    background: url(../img/people-image/ellipse-2-small.svg) no-repeat;
    width: 24%;
    height: 22%;
    right: -5px;
    bottom: 7%;
  }
  .team-people-card:after {
    content: none;
  }
  .panda-team-box__header {
    margin-bottom: 42px;
  }
  .panda-team-box__people-list .team-people-card:not(:first-child) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 600px) {
  main {
    margin-top: 20px;
  }

  .footer-row-tablet .communication-box {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .footer-row-tablet .communication-box__logo-box {
    display: none;
  }

  .subscribe-form-box {
    background-position: center -10px;
    background-size: 100% 28%;
    padding: 30px 20px;
  }
  .subscribe-form-box form {
    min-width: 250px;
    width: 100%;
    height: 100%;
  }
  .subscribe-form-box__form {
    display: block;
    text-align: center;
  }
  .subscribe-form-box__btn {
    margin-left: 0;
    margin-top: 10px;
    /*margin-bottom: 30px;*/
    padding: 20px 32px;
    width: 100%;
  }
  .subscribe-form-box__input {
    height: 56px;
  }
  .subscribe-form-box h3 {
    margin: 0;
    /*padding-top: 30px;*/
    text-align: center;
  }

  .credit-card-box__list {
    display: none;
  }
  .credit-card-box__list__row {
    -webkit-box-pack: center;
    justify-content: center;
  }

  .credit-card-box-slider {
    display: block;
  }

  .consultation-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    align-items: center;
  }
  .consultation-box a {
    margin: 0 auto;
  }
  .consultation-box__info-box {
    margin-right: 0;
    text-align: center;
    margin-top: 27px;
  }
  .consultation-box__info-box p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
  }
  .consultation-box__info-box h1,
  .consultation-box__title {
    font-size: 24px;
    line-height: 32px;
  }

  .blog-box h2 {
    text-align: center;
  }
  .blog-box .blog-cards {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .blog-box .blog-card:nth-of-type(2) {
    display: none;
  }
  .blog-box .blog-card:first-of-type {
    margin-right: 0;
  }
  .blog-box .not-description-blog-cards .not-description-card {
    width: 100%;
    margin-right: 0;
  }
  .blog-box .not-description-blog-cards .not-description-card:last-of-type {
    display: none;
  }

  .view-all-link-box {
    margin-top: 10px;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .view-all-link-box svg {
    display: none;
  }
  .view-all-link-box a {
    margin-right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .view-all-link-box__arrow {
    width: 40px;
    height: 40px;
    background-size: 60%;
    margin-right: 16px;
  }

  .main-footer__page-scroller {
    width: 38px;
    height: 38px;
    top: -19px;
    left: 15px;
    background: #fff url("../img/home-page/up-arrow-small.svg") center center no-repeat;
    background-size: auto;
  }

  .main-footer__page-scroller:hover {
    background-image: url("../img/home-page/up-arrow-small-white.svg");
  }

  .last-news-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: none;
  }

  .side-last-news-list {
    height: auto;
    margin-top: 30px;
    overflow-x: scroll;
  }
  .side-last-news-list ul {
    display: -webkit-box;
    display: flex;
  }
  .side-last-news-list ul li {
    min-width: 200px;
    padding: 0;
    border-bottom: none;
    display: block;
  }
  .side-last-news-list__img-box {
    width: 41px;
    height: 41px;
    min-width: 41px;
  }

  .main-footer {
    padding-bottom: 20px;
  }
  .main-footer .footer-menu,
.main-footer .footer-latest-posts-box__title,
.main-footer .side-last-news-list {
    display: none;
  }
  .main-footer .row {
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
  .main-footer .communication-box {
    margin-top: 20px;
  }
  .main-footer .politics-box {
    margin: 0;
  }

  .credit-card-box__item {
    width: 100%;
  }

  .credit-card-box__item:nth-of-type(3) {
    display: block;
  }

  .credit-card-box__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .credit-card-box__header h2 {
    text-align: center;
  }
  .credit-card-box__header .credit-cards-slider {
    display: -webkit-box;
    display: flex;
    min-height: 195px;
    width: 100%;
    position: relative;
    margin: 60px 0;
  }
  .credit-card-box__header .credit-cards-slider__item {
    margin: 0;
    width: 290px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  .credit-card-box__card-link {
    display: -webkit-box;
    display: flex;
    padding: 60px 40px 30px;
    min-height: 195px;
  }
  .credit-card-box__header .credit-cards-slider__item.current {
    opacity: 1;
    z-index: 1;
  }
  .credit-card-box__header .credit-cards-slider .credit-card-box__img-box {
    margin: 0;
    position: absolute;
    bottom: calc(50% + 55px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .credit-card-box__header .credit-cards-slider .credit-card-box__card-info {
    width: 100%;
    text-align: center;
  }
  .credit-card-box__header .credit-cards-slider .credit-card-box__title {
    margin-top: 0;
  }
  .credit-card-box {
    padding-bottom: 0;
  }
  .credit-card-box__header {
    margin-bottom: 0;
  }
  .blog-box {
    margin-top: 50px;
  }
  .header-wrapper .search-box__btn-box,
  .header-wrapper.sticky-top .search-box__btn-box {
    box-shadow: none;
    width: 40px;
    height: 40px;
  }
  .breadcrumbs__item--back {
    display: flex;
  }
  .breadcrumbs__item:not(.breadcrumbs__item--back) {
    display: none;
  }

  .two-columns-marker-list {
    flex-wrap: wrap;
  }
  .two-columns-marker-list__column {
    width: 100%;
  }
  .two-columns-marker-list__column--first {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .two-columns-marker-list + p {
    margin-top: 20px;
  }

  .blog-cards-arrows-slider-box__arrows {
    display: none;
  }
  .blog-cards-arrows-slider-box__header {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .blog-cards-arrows-slider-box .blog-cards-arrows-slider {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .blog-cards-arrows-slider-box__dots {
    display: -webkit-box;
    display: flex;
  }
  .main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .main-header-with-image p {
    font-size: 14px;
    line-height: 19px;
  }
  .main-header-with-image--big-header.main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .main-header-with-image--big-header .main-header-with-image__img-box {
    width: 100%;
  }

  .page-main-content .post-title-big-poster {
    margin-top: 30px;
  }
  .page-main-content {
    padding-bottom: 30px;
  }
  .page-main-content h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .page-main-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .page-main-content .page-content-box {
    margin-top: 24px;
  }
  .page-main-content h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .page-main-content p + h2 {
    margin-top: 30px;
  }
  .page-main-content p + h3 {
    margin-top: 16px;
  }
  .page-main-content ul {
    margin-bottom: 24px;
  }
  .card-statistics {
    padding-right: 0;
  }
  .card-statistics__value {
    font-size: 12px;
    line-height: 15px;
  }
  .card-statistics__first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-bottom: 2px;
  }
  .card-statistics__second-row {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .card-statistics__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-bottom: 8px;
  }
  .card-statistics__item:not(:last-child) {
    margin-right: 0;
  }
  .card-statistics__title {
    margin-right: 6px;
    margin-bottom: 0;
  }
  .card-statistics__credit-rating {
    width: calc(100% - 32px - 10px);
  }
  .card-statistics__stars-box {
    margin-left: 0;
  }
  .comment-form {
    padding: 30px 16px;
  }
  .comment-form__header {
    margin-bottom: 20px;
  }
  .comment-form__header h4 {
    font-size: 17px;
    line-height: 24px;
  }
  .comment-form__field {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .comment-form__field:last-of-type {
    margin-bottom: 29px;
  }
  .comment-form .select-header {
    padding: 15px 52px 15px 10px;
    border-radius: 10px;
  }
  .comment-form .select-arrow-btn {
    width: 28px;
    height: 28px;
    right: 8px;
    top: 8px;
    -webkit-transform: none;
    transform: none;
    box-shadow: 0 11px 10px rgba(17, 42, 107, 0.15);
  }
  .comment-form__btn {
    padding: 17px 56px;
    margin: 67px auto 0;
  }
  .comment-form__info-text {
    width: 100%;
  }

  .comment-form-box__icon-box {
    top: -77px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .comment-form-box__icon-box svg {
    width: 75px;
  }

  .comment-form h4 {
    text-align: center;
  }
  .comment-form h4, .comment-form__fields {
    position: relative;
    z-index: 1;
  }

  .comments-list-box h3 {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }

  .comment-instance {
    padding: 16px;
  }
  .comment-instance__header {
    margin-bottom: 16px;
  }
  .comment-instance__info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 8px;
  }
  .comment-instance__info-box h4 {
    margin: 0 0 8px;
  }
  .comment-instance p {
    margin-bottom: 16px;
  }

  .comment-box {
    padding-bottom: 20px;
  }
  .comment-box__pagination-box {
    margin-top: 30px;
  }
  .modal__content {
    max-height: 90%;
    overflow-y: auto;
  }
  .modal__content h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .modal__content p {
    font-size: 14px;
    line-height: 20px;
  }
  .modal__text-box:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .home-page-subscribe-form-box .subscribe-form-box__input {
    padding-right: 20px;
  }

  .home-page-categories-list {
    margin: -8px 0;
  }
  .home-page-categories-list__item {
    width: 100%;
    margin: 8px 0;
  }
  .home-page-categories-list__item a {
    padding: 20px;
  }
  .home-page-categories-list__img-box {
    max-width: 50px;
    margin-right: 20px;
  }
  .home-page-categories-list h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .home-page-subscribe-form-box {
    margin-top: 40px;
  }
  .home-page-subscribe-form-box .subscribe-form-box {
    padding: 30px 20px;
  }
  .home-page-subscribe-form-box .subscribe-form-box h3 {
    font-size: 32px;
    line-height: 39px;
  }
  .home-page-subscribe-form-box .subscribe-form-box p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 0;
  }

  .home-page-subscribe-form-box form {
    min-width: 0;
  }

  .home-page-categories-list-box {
    margin: 60px 0 80px;
  }

  .home-page-youtube-box {
    margin: 0 0 80px;
  }

  .youtube-box h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .youtube-box__icon-box img {
    max-width: 100px;
  }
  .youtube-box__text-box {
    margin: -30px 0 40px;
  }
  .post-author-card {
    display: block;
  }
  .post-author-card__avatar-box {
    float: left;
    margin-right: 20px;
  }
  .subscribe-modal__main-box {
    padding: 25px 25px 40px;
  }
  .subscribe-modal__text-box h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .subscribe-modal__text-box p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .subscribe-modal__text-input {
    padding: 17px 20px;
  }
  .subscribe-modal__submit-btn {
    position: static;
    transform: none;
    width: 100%;
    padding: 20px 32px;
    margin-top: 10px;
  }
  .credit-cards-sidebar .credit-card-box__header {
    display: -webkit-box;
    display: flex;
    margin-bottom: 50px;
  }
  .credit-cards-sidebar .credit-card-box-vertical-list {
    display: none;
  }
  .credit-cards-sidebar__header {
    display: none;
  }
}
