.search-result-page-main-content {
  margin-top: 80px;
  padding-bottom: 90px;
}
.search-result-page-main-content__header h2 {
  margin-bottom: 16px;
}
.search-result-page-main-content__header h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #6B6B79;
}
.search-result-page-main-content .blog-card__content {
  padding-bottom: 16px;
}
.search-result-page-main-content .blog-card .read-more-link {
  color: #146AFF;
  margin-top: auto;
  align-self: flex-start;
}
.search-result-page-main-content .blog-card .read-more-link:after {
  background: url("../img/read-more-arrow-blue.svg") center center no-repeat;
}
.search-result-page-main-content .blog-card:last-of-type {
  display: -webkit-box;
  display: flex;
}

.search-result-list-box {
  margin-top: -10px;
}

.search-result-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.search-result-list__item, .search-result-list__item:last-of-type {
  width: calc(100% / 12 * 4 - 20px + 20px / 3);
  margin-right: 20px;
  height: auto;
  flex-basis: auto;
}
.search-result-list__item {
  margin-top: 85px;
}
.search-result-list__item:nth-child(3n) {
  margin-right: 0;
}
.search-result-list__item--credit-card .blog-card__img-box {
  height: auto;
  max-width: 100%;
}
.search-result-list__item--credit-card .blog-card__img-box img {
  height: auto;
}

@media screen and (max-width: 768px) {
  .search-result-page-main-content {
    margin-top: 50px;
    padding-bottom: 70px;
  }

  .search-result-list__item, .search-result-list__item:last-of-type {
    flex-basis: calc(100% / 12 * 6 - 20px + 20px / 2);
    margin-top: 65px;
  }
  .search-result-list__item:nth-child(3n) {
    margin-right: 20px;
  }
  .search-result-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .search-result-page-main-content {
    margin-top: 30px;
    padding-bottom: 50px;
  }
  .search-result-page-main-content__header h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .search-result-page-main-content__header h4 {
    font-size: 14px;
    line-height: 21px;
  }

  .search-result-list__item, .search-result-list__item:last-of-type, .search-result-list__item:nth-child(1n) {
    margin-top: 55px;
    flex-basis: 100%;
    margin-right: 0;
  }
}