.show-credit-card-page-main-content {
  padding-bottom: 90px;
}
.show-credit-card-page-main-content .blog-card {
  display: -webkit-box;
  display: flex;
  height: 100%;
}
.show-credit-card-page-main-content .blog-card__img-box {
  height: auto;
  max-width: 100%;
}
.show-credit-card-page-main-content .blog-card__content {
  padding-bottom: 16px;
}
.show-credit-card-page-main-content .blog-card img {
  height: auto;
}
.show-credit-card-page-main-content .blog-card .read-more-link {
  color: #146AFF;
  margin-top: auto;
  align-self: flex-start;
}
.show-credit-card-page-main-content .blog-card .read-more-link:after {
  background: url("../img/read-more-arrow-blue.svg") center center no-repeat;
}
.show-credit-card-page-main-content .card-statistics {
  margin-left: 0;
  margin-top: 40px;
}

.card-header-info-box {
  margin-top: 61px;
}
.card-header-info-box__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 71px;
}
.card-header-info-box__header h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 0;
  width: 50%;
}
.card-header-info-box__img-box {
  position: absolute;
  right: 0;
  max-width: 48%;
}
.card-header-info-box__text-box h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.card-header-info-box__text-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
  margin-bottom: 16px;
}
.card-header-info-box__actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 30px;
}
.card-header-info-box__popup-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #6B6B79;
  background-color: transparent;
  padding: 0;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.card-header-info-box__popup-btn svg {
  margin-left: 6px;
  fill: transparent;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.card-header-info-box__popup-btn:hover {
  color: #6B6B99;
}
.card-header-info-box__popup-btn:hover svg {
  fill: #6B6B79;
}
.card-header-info-box .read-more-link {
  margin-right: 36px;
}
.card-header-info-box__info {
  margin-right: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}

.credit-cards-arrows-slider-box {
  margin-top: 60px;
}
.credit-cards-arrows-slider-box__dots {
  display: none;
}

.credit-cards-arrows-slider {
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .show-credit-card-page-main-content {
    padding-bottom: 80px;
  }
  .show-credit-card-page-main-content .card-header-info-box {
    margin-top: 40px;
  }
  .show-credit-card-page-main-content .card-header-info-box__header {
    flex-wrap: wrap;
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  .show-credit-card-page-main-content .card-header-info-box__header h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    width: 100%;
    margin-bottom: 40px;
  }
  .show-credit-card-page-main-content .card-header-info-box__img-box {
    position: static;
  }
  .show-credit-card-page-main-content .base-arrows-slider-box__header h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .show-credit-card-page-main-content .card-statistics {
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 48%;
    -webkit-box-ordinal-group: 2;
    order: 1;
    margin-top: 0;
  }
  .show-credit-card-page-main-content .card-statistics__first-row {
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .show-credit-card-page-main-content .card-statistics__second-row {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .card-statistics {
    padding-right: 0;
  }
  .card-statistics__first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-bottom: 2px;
  }
  .card-statistics__second-row {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .card-statistics__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .card-statistics__item:not(:last-child) {
    margin-right: 0;
  }
  .card-statistics__title {
    margin-right: 6px;
    margin-bottom: 0;
  }
  .card-statistics__credit-rating {
    width: calc(100% - 32px - 10px);
  }
  .card-statistics__stars-box {
    margin-left: 0;
    margin-top: 8px;
  }
  .card-statistics__mark {
    margin-top: 8px;
  }
  .card-statistics__value {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 600px) {
  .show-credit-card-page-main-content {
    padding-bottom: 60px;
  }
  .show-credit-card-page-main-content .card-header-info-box {
    margin-top: 20px;
  }
  .show-credit-card-page-main-content .card-header-info-box__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .show-credit-card-page-main-content .card-header-info-box__header h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .show-credit-card-page-main-content .card-header-info-box__img-box {
    max-width: 100%;
  }
  .show-credit-card-page-main-content .card-header-info-box h3 {
    font-size: 17px;
    line-height: 24px;
  }
  .show-credit-card-page-main-content .card-header-info-box__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .show-credit-card-page-main-content .card-header-info-box__popup-btn {
    margin-left: 0;
    margin-top: 28px;
  }
  .show-credit-card-page-main-content .base-arrows-slider-box h2 {
    text-align: center;
    margin-right: 0;
  }
  .show-credit-card-page-main-content .base-arrows-slider-box__arrows {
    display: none;
  }
  .show-credit-card-page-main-content .base-arrows-slider-box__dots {
    display: -webkit-box;
    display: flex;
  }
  .show-credit-card-page-main-content .credit-cards-arrows-slider {
    padding-top: 50px;
  }
  .show-credit-card-page-main-content .blog-card__title {
    font-size: 17px;
    line-height: 24px;
  }
  .show-credit-card-page-main-content .card-statistics {
    margin-top: 26px;
    width: 100%;
  }
  .show-credit-card-page-main-content .card-statistics__stars-box, .show-credit-card-page-main-content .card-statistics__mark {
    margin-top: 0;
  }
  .show-credit-card-page-main-content .card-statistics__item {
    margin-bottom: 8px;
  }
}
