.sitemap-main-content {
  padding-bottom: 70px;
}

.sitemap-box {
  margin-top: 50px;
}
.sitemap-box h1 {
  margin-bottom: 50px;
}
.sitemap-box ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}
.sitemap-box a {
  display: inline-block;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.sitemap-list {
  list-style: none;
  padding: 0;
}
.sitemap-list__item {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.sitemap-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.sitemap-list__item > a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 14px;
}
.sitemap-list__item > a:before {
  content: "";
  background: url("../img/sitemap-page/list-marker.svg") center center no-repeat;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  display: inline-block;
}
.sitemap-list__item--nested {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
}
.sitemap-list__item--nested:not(:last-child) {
  margin-bottom: 10px;
}
.sitemap-list__item--nested > a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.sitemap-list__item--nested > a:before {
  content: "";
  background: url("../img/sitemap-page/list-marker-nested.svg") center center no-repeat;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  display: inline-block;
}
.sitemap-list--nested {
  padding-left: 18px;
}

@media screen and (max-width: 768px) {
  .sitemap-main-content {
    padding-bottom: 60px;
  }

  .sitemap-box {
    margin-top: 40px;
  }
  .sitemap-box h1 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  .sitemap-main-content {
    padding-bottom: 50px;
  }

  .sitemap-box {
    margin-top: 30px;
  }
  .sitemap-box h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .sitemap-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .sitemap-list__item > a {
    margin-bottom: 10px;
  }
  .sitemap-list__item--nested:not(:last-child) {
    margin-bottom: 6px;
  }
}