/*

Theme Name: Points Panda

Author: the Yelk team

Description: theme description

Version: 1.0

Text Domain: panda

*/



.contact-form span.y-name,

.contact-form span.y-email {

  width: calc(50% - 10px);

}



.contact-form span.y-name {

  margin-right: 20px;

}



.contact-form__select-wrapper + p {

  width: 100%;

}



.contact-form .contact-form__field.contact-form__select-wrapper {

  padding-left: 0;

  padding-right: 0;

}



.contact-form span.wpcf7-form-control-wrap.y-msg {

  display: block;

}



.contact-form span.wpcf7-form-control-wrap {

  padding-bottom: 20px;

}



.contact-form .contact-form__fields .ajax-loader {

  display: none;

}



.contact-form .wpcf7-not-valid-tip {

  color: #DD516B;

  font-size: 15px;

  padding: 0 21px;

}



.contact-form .wpcf7-response-output {

  border-radius: 10px;

  margin: 0;

}



.contact-form .wpcf7-mail-sent-ok {

  border-color: #40BF6A;

}



.post-ratings {

  width: auto;

  display: flex;

  align-items: center;

  margin-left: 24px;

}



.card-statistics__mark {

  margin-left: 16px;

  display: flex;

  align-items: center;

}



.card-statistics__stars-box + .card-statistics__mark {

  margin-left: 0;

}



.pay-buttons-list {

  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: auto;

}



.pay-buttons-list form {

  display: flex;

}



.pay-buttons-list .asp_product_item {

  margin: 0;

  padding: 0;

  border: none;

}



.pay-buttons-list .asp_product_item_top,

.pay-buttons-list .asp_product_item_top + div,

.pay-buttons-list .asp_product_description,

.pay-buttons-list .asp_price_container {

  display: none;

}



.pay-buttons-list .asp_product_buy_btn {

  min-height: 32px;

  height: auto;

}



.concierge-page-main-content .two-columns-marker-list__column ul {

  margin-bottom: 24px !important;

}



.concierge-page-main-content .two-columns-marker-list__footnote {

  margin-top: 0 !important;

}



.pay-buttons-list__middle-text {

  text-transform: uppercase;

  margin: 0 12px;

  font-weight: 600;

}



.two-columns-marker-list__column--first .pay-buttons-list__middle-text {

   color: #000;

}

.fts-youtube-popup-gallery {
  display: none;
}

.sbi_photo {
  border-radius: 10px;
}

.instagram-box {
  text-align: center;
  margin-bottom: 70px;
}

.instagram-box h2 {
  margin-bottom: 40px;
}

.instagram-box h2 a,
.instagram-box h2 a:hover {
  color: #146AFF;
}




@media screen and (max-width: 768px) {

  .post-ratings {

    margin-left: 0;

    margin-top: 8px;

  }



  .card-statistics__mark,

  .card-statistics__stars-box {

    margin-top: 0;

  }

}



@media screen and (max-width: 600px) {

  .contact-form span.wpcf7-form-control-wrap {

    padding-bottom: 20px;

  }



  .contact-form span.wpcf7-form-control-wrap {

    width: 100%;

  }



  .contact-form span.y-name {

    margin-right: 0;

  }


  .instagram-box h2 {
    margin-bottom: 20px;
  }

  .instagram-box h2 a {
    font-size: 24px;
  }

  .instagram-box {
    margin-bottom: 40px;
  }
}



@media screen and (max-width: 500px) {

  .pay-buttons-list .asp_product_buy_btn_container {

    margin-top: 0;

  }



  .pay-buttons-list {

    flex-direction: column;

  }



  .pay-buttons-list .asp_product_item {

    width: 170px;

  }



  .pay-buttons-list .asp_product_item .asp_product_buy_btn.blue {

    width: 100%;

  }



  .pay-buttons-list__middle-text {

    margin: 12px 0;

  }

}



.comment-form-cookies-consent {
  display: flex;
  align-items: center;
}

.comment-form-cookies-consent input {
  margin-right: 6px;
}

.comment-reply-link,
#cancel-comment-reply-link {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #40BF6A;
  border-radius: 50px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #40BF6A;
  transition: background-color .2s linear, color .2s linear;
}

.comment-reply-link:hover,
#cancel-comment-reply-link:hover {
  background-color: #40BF6A;
  color: #fff;
}

#cancel-comment-reply-link {
  border-color: #DD516B;
  color: #DD516B;
  margin-left: 15px;
}

#cancel-comment-reply-link:hover {
  background-color: #DD516B
}

.wp-block-image figcaption,
figcaption,
.blog-post-main-content .wp-caption-text {
  text-align: center;
  font-style: italic;
  padding: 28px 18px 18px;
  font-size: 16px;
  margin: -10px 0 40px;
  box-shadow: 3px 12px 31px -15px rgba(0, 0, 0, 0.45);
  background-color: #ecf0f1;
  border-radius: 10px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.small-captcha-text {
  margin-top: 30px;
  font-size: 12px;
  width: 100%;
}

.blog-post-main-content figure,
.wp-caption {
  text-align: center;
}

.blog-post-main-content p img {
  display: block;
  margin: 0 auto;
}

.wp-block-image.is-resized {
  display: block;
}

.subscribe-form-box .mc-field-group {
  height: 100%;
  width: 100%;
}

.subscribe-form-box #mc_embed_signup {
  width: 100%;
}

.subscribe-form-box #mce-responses {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: calc(100% - 57px);
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

.subscribe-form-box #mce-error-response {
  color: #e62929d9;
  text-align: left;
}

.home-page-subscribe-form-box .subscribe-form-box {
  position: relative;
  padding: 60px 54px;
}

.apsc-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apsc-inner-block {
  display: flex;
  align-items: center;
}

.apsc-icons-wrapper .apsc-each-profile {
  min-height: 0;
  min-width: 101px;
}

.apsc-inner-block .social-icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #146AFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apsc-inner-block .social-icon i.fab {
  font-size: 14px;
}

.apsc-icons-wrapper .apsc-each-profile a {
  /*background: linear-gradient(to right, rgba(20, 106, 255, 1) 50%, rgba(20, 106, 255, 0) 50%) right bottom;*/
  /*background-size: 200% 100%;*/
  padding: 4px;
  box-shadow: none;
  border: 1px solid #146AFF;
  border-radius: 50px;
  background-color: transparent;
  /*transition: background-position .5s ease-in-out;*/
}

.apsc-icons-wrapper .apsc-each-profile a:hover {
  transform: none;
  /*background-position: left bottom;*/
}

/*.apsc-icons-wrapper .apsc-each-profile a:hover .apsc-count {*/
/*  color: #fff;*/
/*}*/

/*.apsc-icons-wrapper .apsc-each-profile .social-icon {*/
/*  transition: background-color .5s ease-in-out, color .2s ease-in-out;*/
/*}*/

/*.apsc-icons-wrapper .apsc-each-profile a:hover .social-icon {*/
/*  background-color: #fff;*/
/*  color: #146AFF;*/
/*}*/
.apsc-icons-wrapper .apsc-each-profile .apsc-facebook-icon .social-icon {
  background-color: #3b5998;
}

.apsc-icons-wrapper .apsc-each-profile .apsc-instagram-icon .social-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.apsc-icons-wrapper .apsc-each-profile .apsc-youtube-icon .social-icon {
  background-color: #ff0000;
}

.apsc-icons-wrapper .apsc-each-profile a:before {
  content: none;
}

.apsc-inner-block .apsc-count {
  color: #146AFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  transition: color 1s ease
}

.sumome-vex-content {
  padding: 60px 40px !important;
  background-color: #E5E5E5 !important;
  border-radius: 10px !important;
  max-width: 640px !important;
}

.mc-img-box {
  margin: -106px -40px 0;
}

.mc-text-box {
  margin-top: 18px;
  text-align: center;
  color: #1B1B32;
  margin-bottom: 40px;
}

.mc-text-box h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
}

.mc-text-box p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.mc-marked-text {
  font-weight: bold;
  color: #40BF6A;
}

.sumome-react-wysiwyg-popup-container + div {
  display: none !important;
}

.sumome-advanced-form-close {
  color: #1B1B32 !important;
}

@media screen and (max-width: 768px) {
  .mc-text-box {
    margin-bottom: 24px;
  }

  .mc-text-box h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .mc-text-box p {
    font-size: 14px;
    line-height: 19px;
  }

  .sumome-vex-content {
    padding: 40px 15px !important;
    width: 80% !important;
  }

  .mc-img-box {
    margin: -86px -15px 0;
  }
}
