.work-with-us-main-content {
  padding-bottom: 120px;
}
.work-with-us-main-content .main-header-with-image__img-box {
  margin-top: -145px;
}
.work-with-us-main-content .main-header-with-image p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
}

.affiliate-program-box {
  margin-top: 70px;
}

.affiliate-program-list {
  list-style: none;
  padding: 0;
}
.affiliate-program-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: 0 6px 18px 0px rgba(0, 0, 0, 0.21);
}
.affiliate-program-list__item:not(:first-child) {
  margin-top: 44px;
}
.affiliate-program-list__item h2 {
  margin-bottom: 24px;
}
.affiliate-program-list__item h3 {
  margin-bottom: 24px;
}
.affiliate-program-list__item h3 .mark {
  color: #146AFF;
}
.affiliate-program-list__item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6B6B79;
  margin-bottom: 36px;
}
.affiliate-program-list__item a {
  display: inline-block;
  padding: 24px 32px;
}
.affiliate-program-list__img-box {
  width: 260px;
  margin-right: 60px;
  flex-shrink: 1;
}
.affiliate-program-list__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
}
.affiliate-program-list__text-box {
  flex-shrink: 3;
}

@media screen and (max-width: 768px) {
  .work-with-us-main-content {
    padding-bottom: 100px;
  }
  .work-with-us-main-content .main-header-with-image__img-box {
    margin-top: 0;
  }
  .work-with-us-main-content .main-header-with-image h1 {
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 24px;
  }

  .affiliate-program-box {
    margin-top: 60px;
  }

  .affiliate-program-list__item {
    padding: 30px;
  }
  .affiliate-program-list__item h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .affiliate-program-list__item h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .affiliate-program-list__item p {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 600px) {
  .work-with-us-main-content {
    padding-bottom: 70px;
  }
  .work-with-us-main-content .main-header-with-image h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .work-with-us-main-content .main-header-with-image p {
    font-size: 14px;
    line-height: 19px;
  }

  .affiliate-program-box {
    margin-top: 50px;
  }

  .affiliate-program-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 16px;
  }
  .affiliate-program-list__item h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .affiliate-program-list__item h3 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .affiliate-program-list__item p {
    margin-bottom: 16px;
  }
  .affiliate-program-list__item a {
    padding: 17px 32px;
  }
  .affiliate-program-list__img-box {
    width: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}