.page-404-main-content {
  margin-top: 0;
}

.content-404 {
  padding: 100px 0;
  display: flex;
  align-items: center;

  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 16px;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  a {
    display: inline-block;
    padding: 24px 32px;
  }

  &__info-box {
    flex-shrink: 0;
  }

  &__img-box {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .content-404 {
    h1 {
      font-weight: 600;
      font-size: 42px;
      line-height: 51px;
    }

    p {
      color: #6B6B79;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .content-404 {
    padding: 46px 0 60px;
    flex-wrap: wrap-reverse;
    justify-content: center;

    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    a {
      padding: 17px 32px;
    }

    &__info-box {
      text-align: center;
    }

    &__img-box {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

