.about-page-main-content {
  padding-bottom: 70px;

  .main-header-with-image--big-header {
    h3 {
      margin-bottom: 16px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;
    }
  }

  h2 {
    color: #000;
  }
}

@media screen and (max-width: 900px) {
  .about-page-main-content {
    overflow-x: hidden;
    padding-bottom: 60px;

    h2 {
      font-size: 24px;
      line-height: 32px;
      max-width: 100%;

      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-page-main-content {
    .main-header-with-image--big-header {
      h1 {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .about-page-main-content {
    padding-bottom: 50px;

    .main-header-with-image--big-header {
      h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }

    h2 {
      font-size: 20px;
      line-height: 28px;

      &:after {
        top: calc(100% + 8px);
        left: 0;
      }
    }
  }
}
