.blog-post-main-content {
  .social-networks-box {
    margin: 0;

    ul {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-right: 0;
      background-color: #146AFF;
      margin-top: 20px;

      &:hover {
        background-color: #2978FF;
      }
    }
  }

  .blog-card {
    box-shadow: 0 9px 33px -19px rgba(0,0,0,0.62);

    &:hover {
      box-shadow: none;
    }
  }

  .ad-top-box {
    margin-top: 30px;
    line-height: 24px;

    a {
      font-size: 19px;
      line-height: 29px;
    }
  }

  .comment-warning-box p {
    font-size: 16px;
    color: #6B6B79;
    line-height: 24px;
    margin: 0 0 35px;
    max-width: 940px;
  }
}

.post-title-big-poster {
  position: relative;
  color: #fff;
  height: 400px;
  margin-top: 15px;

  &__img-box {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 3px 12px 31px -15px rgba(0,0,0,0.75);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
      border-radius: 20px;
    }
  }

  &__tag {
    position: absolute;
    top: 40px;
    left: 4.219%;
  }

  &__title {
    position: absolute;
    bottom: 100px;
    left: 4.219%;
    line-height: 51px;
    margin: 0;
    width: 69.61%;
  }

  &__info {
    position: absolute;
    bottom: 40px;
    left: 4.219%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__date {
    margin-right: 24px;
  }

  &__updated-date {
    width: 100%;
    margin-top: 10px;
  }
}

.article-content-box {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  .fitVids-wrapper {
    margin-bottom: 70px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    color: #1B1B32;
    margin: 24px 0;

    & + img {
      margin-top: 26px;
    }
  }

  h2 {
    margin-bottom: 32px;
    margin-top: 50px;
  }

  img {
    box-shadow: 3px 12px 31px -15px rgba(0,0,0,0.75);
    border-radius: 10px;

    & + h2 {
      margin-top: 68px;
    }
  }

  a {
    color: #146AFF;
  }

  aside {
    width: 300px;
    overflow: hidden;
    text-align: center;

    iframe {
      box-shadow: 0 15px 30px rgba(17, 42, 107, .01);
    }
  }
}

.article-content {
  width: calc(100% - 330px);
  //overflow-x: hidden;
}

.blog-post-carousel-container {
  text-align: center;
  position: relative;
  padding: 35px 0;
  margin-bottom: 10px;
  overflow: hidden;

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullets {
    z-index: 1;
  }

  .swiper-pagination-bullets {
    bottom: 0;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      max-height: 600px;
      margin: 0 auto;
      max-width: calc(100% - 100px);
    }
  }
}

.vertical-share-box {
  max-width: 10%;

  h4 {
    margin: 0;
    text-align: right;
  }
}

.post-tags-box {
  color: #6B6B79;
  display: flex;
  align-items: baseline;
  margin-top: 50px;

  &__info {
    font-size: 14px;
    line-height: 19px;
    margin-right: 20px;
    //flex-shrink: 0;
  }

  &__tag-list {
    display: flex;
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 12px;
    align-self: flex-start;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__link,
  &__tag {
    color: #146AFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__tag {
    color: #6B6B79;

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

.horizontal-share-box {
  display: flex;
  align-items: center;
  margin: 23px 0;

  h4 {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .social-networks-box {
    margin: 0;

    ul {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: -10px;

      li {
        margin-top: 10px;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
}

.blog-cards-arrows-slider {
  padding-top: 75px;
  padding-bottom: 90px;
}

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 575px;

  &__pages-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__page-instance {
    width: 40px;
    height: 40px;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }

    a,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #6B6B79;
      border-radius: 10px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      transition: background-color .2s linear, color .2s linear;
    }

    &--active,
    &:hover {
      a,
      span {
        color: #fff;
        background-color: #146AFF;
      }
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px 14px;
    box-shadow: 0 15px 40px rgba(20, 106, 255, 0.15);
    border-radius: 10px;
    transition: background-color .2s linear;

    &:hover {
      background-color: #146AFF;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &--hidden {
      visibility: hidden;
    }
  }
}

.author-box {
  margin-top: 42px;

  &--top {
    margin-top: 0;
  }
}

.dense-social-list {
  display: flex;
  list-style: none;
  margin: 0 -5px;
  padding: 0;

  &__item {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 100%;

      svg {
        path,
        circle {
          transition: fill .1s ease-in-out;
        }
      }
    }

    &-linked-in a:hover svg path {
      fill: #0177B5;
    }

    &-facebook a:hover svg path {
      fill: #3A5898;
    }

    &-twitter a:hover svg path {
      fill: #41ABE1;
    }

    &-instagram a:hover svg {
      path,
      circle {
        fill: #CE2E94;
      }
    }

    &-reddit a:hover svg {
      path {
        fill: #F84300;
      }
    }
  }
}

.blog-post-ad-box {
  margin: 40px 0 83px;
  overflow: hidden;

  iframe {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .article-content-box {
    margin-top: 60px;
    flex-wrap: wrap;

    aside {
      margin: 40px auto 0;
    }
  }

  .article-content-box {
    .fitVids-wrapper {
      margin-bottom: 50px;
    }
  }

  .post-title-big-poster__title {
    font-size: 24px;
    line-height: 32px;
  }

  .vertical-share-box {
    display: none;
  }

  .article-content {
    max-width: 100%;
    width: 100%;
  }

  .blog-post-main-content {
    .blog-card {
      display: flex;
    }

    .consultation-box {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }

      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .pagination-box {
    max-width: 100%;
  }

  .blog-post-ad-box {
    margin: 40px 0;
  }

  .blog-post-carousel-container {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-slide {
      img {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .article-content-box {
    margin-top: 50px;

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 16px 0;

      & + img {
        margin-top: 14px;
      }
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    img + h2 {
      margin-top: 50px;
    }
  }

  .blog-cards-arrows-slider-box {
    &__arrows {
      display: none;
    }

    &__header {
      justify-content: center;
    }

    .blog-cards-arrows-slider {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    &__dots {
      display: flex;
    }
  }

  .post-title-big-poster {
    margin-top: 20px;

    &__info {
      flex-direction: column;
      bottom: 32px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
    }

    &__date {
      margin-bottom: 8px;
    }
  }

  .post-tags-box {
    flex-wrap: wrap;
    margin-top: 30px;

    &__info {
      margin: 0
    }

    &__title,
    &__tag-link:not(:last-child) {
      margin-right: 6px;
    }

    &__tag-list,
    &__title,
    &__tags {
      display: inline;
    }
  }

  .horizontal-share-box {
    .social-networks-box {
      ul {
        li:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    h4 {
      margin-right: 12px;
    }
  }

  .blog-post-main-content {
    .consultation-box {
      &__title {
        font-size: 20px;
        line-height: 28px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .pagination-box {
    &__arrow {
      padding: 8px 12px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__pages-list {
      padding: 0 5px;
    }

    &__page-instance {
      margin: 0;
      width: 32px;
      height: 32px;
    }
  }
}
