.opened-dropdown-list {
  border-radius: 10px !important;
  max-height: 800px !important;
  transition: max-height 1s ease-in-out, border-radius .3s linear !important;

  .categories-list__item--active:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.top-articles-box {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-height: 400px;

  .top-articles-sidebar {
    max-width: 28%;
    overflow: hidden;

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 26px;

      h4 {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }

    .side-last-news-list {
      margin-left: 0;
      max-height: 350px;
      overflow-y: scroll;

      &__item:last-of-type {
        border-bottom: none;
      }
    }
  }

  .top-articles-slider-box {
    max-width: 66%;
    position: relative;
    width: 100%;

    ul {
      background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
      height: 100%;
      border-radius: 20px;
      list-style: none;
      padding: 0;
    }
  }

  .top-articles-slider__controls {
    display: none;
  }

  .top-article-card {
    position: relative;
    opacity: 0;
    height: 100%;

    &:not(:first-of-type) {
      display: none;
    }

    &.current {
      opacity: 1;
      z-index: 1;
    }

    &__img-box {
      position: relative;
      height: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
        position: relative;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(17, 42, 107, 0) 0%, #112A6B 100%);
        border-radius: 20px;
      }
    }

    &__tag {
      position: absolute;
      background: rgba(221, 81, 107, 0.9);
      box-shadow: 0 10px 30px rgba(221, 81, 107, 0.5);
      border-radius: 32px;
      width: 130px;
      padding: 12px 0;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      top: 30px;
      left: 4.72%;
      line-height: 15px;
    }

    &__title {
      position: absolute;
      bottom: 106px;
      margin-bottom: 0;
      left: 4.72%;
      max-width: 74%;
      color: #fff;

      a {
        color: #fff;
        //transition: color .2s linear;

        //&:hover {
        //  color: #146AFF;
        //}
      }
    }

    &__view-all-link {
      position: absolute;
      bottom: 30px;
      left: 4.72%;
    }

    &__date {
      position: absolute;
      right: 40px;
      bottom: 50px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    svg {
      circle {
        fill: transparent;
        transition: all .3s linear;
      }
    }

    &:hover svg {
      circle {
        fill: #fff;
      }

      path {
        fill: #1B1B32;
      }
    }
  }
}

.blog-blockquote {
  display: flex;
  margin-top: 40px;

  &__img-box {
    flex-shrink: 0;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1B1B32;
    margin-left: 24px;
  }
}

.categories-dropdown-list {
  position: relative;

  a {
    color: inherit;
  }

  &.opened-dropdown-list {
    .categories-dropdown-list__items {
      visibility: visible;
      opacity: 1;
    }

    .categories-dropdown-list__selected-item {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__selected-item {
    text-transform: uppercase;
    padding: 16px 24px;
    cursor: pointer;
    background-color: #D7E3F6;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #146AFF;

    svg {
      margin-left: 10px;
      transition: transform .2s linear;
    }
  }

  &__items {
    list-style: none;
    padding: 14px 24px 4px;
    margin: 6px 0 0;
    background-color: #D7E3F6;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear, visibility .2s linear;
    max-height: 500px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      height: 28px;
      border-radius: 10px;
      background-color: #A6B4CB;
    }

    &:hover {
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 77px;
      opacity: 1;
      transition: opacity .2s linear, visibility .2s linear;
      z-index: 0;
      visibility: visible;
      background: linear-gradient(180deg, rgba(215, 227, 246, 0) 0%, #D7E3F6 100%);
    }

    li {
      display: flex;

      a {
        padding: 10px 0;
        width: 100%;
      }
    }
  }

  &__main-category-item {
    margin-top: 6px;

    &:first-of-type {
      margin-top: 0;
    }

    a {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: #146AFF;
      border-bottom: 1px solid #146AFF;
    }
  }

  &__subcategory-item {
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #6B6B79;
      border-bottom: 1px solid #BBC8DD;
    }

    &:last-of-type {
      a {
        border-bottom: none;
      }
    }
  }

  &__count-text {
    opacity: 0.5;
  }
}

.main-blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 74px;

  .home-page-subscribe-form-box {
    margin: 70px 0;
    width: 100%;

    &__img-box {
      width: 37.48%;
      margin: 0;
    }

    .subscribe-form-box {
      width: 100%;

      &__description {
        margin: 10px 0 30px;
      }
    }
  }
}

.articles-filters-box {
  margin-bottom: 84px;
}

.filtered-articles-box {
  width: 64%;

  .view-all-link-box {
    &__arrow {
      background-image: url("../img/blog-main-page/more-articles-arrow.svg");
    }
  }

  .post-author-card {
    margin-bottom: 30px;
  }
}

.categories-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1), border-radius .3s linear;

  &__item {
    cursor: pointer;
    background: #E9F1F9;
    border-radius: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #6B6B79;
    padding: 16px 24px;
    margin-right: 24px;
    transition: color .3s linear, background-color .3s linear, box-shadow .3s linear;
    margin-top: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--active,
    &:hover {
      color: #fff;
      background-color: #146AFF;
      box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
    }
  }
}

.horizontal-articles-list {
  padding-left: 24px;

  & > div:not(:first-child):not(.not-description-card) {
    margin-top: 64px;
  }

  & > div.not-description-card {
    margin-top: 40px;
  }

  .not-description-card {
    width: calc(100% + 24px);
    height: 274px;
    margin-left: -24px;

    &__img-box {
      height: 100%;
      max-width: 100%;
      position: relative;

      img {
        width: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(27, 27, 50, 0) 0%, #1B1B32 100%);
        border-radius: 10px;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.horizontal-article-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(17, 42, 107, 0.05);
  //min-height: 274px;

  &__link {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__img-box {
    position: relative;
    width: 47%;
    height: 100%;
    max-width: 335px;
    margin-top: -48px;
    margin-left: -24px;

    img {
      height: 100%;
      max-height: 274px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12);
    }
  }

  &__text-content {
    width: 53%;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1B1B32;
    margin-bottom: 0;
    transition: color .2s linear;
  }

  &__description {
    font-size: 15px;
    line-height: 21px;
    color: #6B6B79;
    margin-top: 16px;
  }

  &__date {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #6B6B79;
    margin-top: auto;
    padding-top: 20px;
  }

  &__tag {
    position: absolute;
    left: 7.186%;
    top: 24px;
  }

  &:hover &__title {
    color: #146AFF;
  }
}

.credit-cards-sidebar {
  width: 32%;
  margin-top: 9px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h4 {
      margin-bottom: 0;
      margin-right: 5px;
    }

    a {
      color: #146AFF;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }
  }


  .credit-card-box-vertical-list {
    margin-top: 24px;
    margin-bottom: 55px;
    list-style: none;
    padding: 0;

    .credit-card-box {
      &__item {
        margin-right: 0;
        width: 100%;

        &:not(:first-child) {
          margin-top: 16px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #DAE0E6;
        }
      }

      &__card-link {
        flex-direction: row;
        background: transparent;
        box-shadow: none;
        min-height: auto;
        align-items: flex-start;
        padding: 0 0 16px;
      }

      &__img-box {
        height: auto;
        width: auto;
        margin: 0 16px 0 0;
        transform: none;
      }

      &__card-info {
        padding: 0;
        align-items: flex-start;
      }

      &__title {
        margin-top: 0;
        text-align: left;
      }

      &__subtitle {
        margin-bottom: 6px;
      }

      &__info {
        text-align: left;
      }
    }
  }

  .credit-card-box__header {
    display: none;
  }

  &__ad-box {
    overflow: hidden;
    text-align: center;

    iframe {
      box-shadow: 0 15px 30px rgba(17, 42, 107, .01);
    }
  }
}

.travel-img-box {
  border-radius: 10px;
  transition: box-shadow .4s linear;

  a {
    display: block;
    position: relative;
  }

  p {
    position: absolute;
    left: 8.4%;
    top: 16.2%;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1B1B32;
    width: 80px;

    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 22px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='8' viewBox='0 0 22 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%231B1B32'/%3E%3Ccircle cx='18' cy='4' r='4' fill='%231B1B32'/%3E%3C/svg%3E%0A");
    }
  }

  &:hover {
    box-shadow: 0 8px 22px -15px rgba(0,0,0,0.75);
  }

  &__img {
    width: 100%;

    &--rectangle {
      display: none;
    }
  }
}

@media screen and (max-width: 870px) {
  .blog-main-page-main-content {
    .home-page-subscribe-form-box {
      flex-wrap: wrap;
      .subscribe-form-box,
      .home-page-subscribe-form-box__img-box {
        width: 100%;
      }

      .subscribe-form-box {
        order: 1;
      }

      .home-page-subscribe-form-box__img-box {
        margin-top: 30px;
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-blog-content {
    .filtered-articles-box {
      width: 100%;
    }

    .subscribe-form-box {
      order: 1;
      margin-top: 50px;
      margin-bottom: 70px;
    }

    .credit-cards-sidebar {
      margin-top: 0;
      order: 2;
      width: 100%;
      margin-bottom: 80px;

      .credit-card-box {
        &__item:last-of-type {
          display: list-item;
        }

        &-vertical-list {
          margin-bottom: 60px;
        }
      }
    }
  }

  .travel-img-box {
    &__img {
      &--rectangle {
        display: inline;
      }

      &--square {
        display: none;
      }
    }

    p {
      left: 30px;
      top: 58px;
    }
  }
}

@media screen and (max-width: 600px) {
  .top-articles-box {
    flex-direction: column-reverse;
    max-height: 100%;

    .top-articles-slider-box {
      max-width: 100%;
      height: 400px;

      .top-article-card {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &__view-all-link {
          display: none;
        }

        &__title {
          bottom: 72px;
        }

        &__date {
          left: 4.72%;
          bottom: 44px;
        }
      }

      &__img-box {
        height: 100%;
      }

      .top-articles-slider {
        &__controls {
          bottom: 16px;
          display: flex;
        }
      }
    }

    .top-articles-sidebar {
      margin-top: 50px;
      max-width: 100%;
    }
  }

  .horizontal-articles-list {
    padding-left: 0;

    .horizontal-article-card {
      &__link {
        flex-wrap: wrap;
        padding: 16px;
      }

      &__img-box {
        width: auto;
        max-width: 100%;
        margin: -32px auto 0;
        border-radius: 10px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px rgba(0,0,0,0.14), 0 1px 14px rgba(0,0,0,0.12);
      }

      &__text-content {
        width: 100%;
        padding: 0;
      }

      &__title {
        margin-top: 20px;
      }

      &__description  {
        margin-top: 10px;
      }

      &__date {
        padding: 0;
        margin-top: 41px;
      }
    }

    .not-description-card {
      width: 100%;
      margin-left: 0;

      &__title {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .view-all-link-box {
    margin-top: 30px;
  }

  .credit-cards-sidebar {
    .credit-card-box__header {
      display: flex;
      margin-bottom: 50px;
    }

    .credit-card-box-vertical-list {
      display: none;
    }

    &__header {
      display: none;
    }
  }

  .categories-list {
    background-color: #146AFF;
    border-radius: 40px;
    padding-left: 16px;
    padding-right: 21px;
    box-shadow: 0 20px 40px rgba(20, 106, 255, 0.5);
    max-height: 49px;
    overflow-y: hidden;

    &__item {
      width: 100%;
      margin: 0;
      background: transparent;
      cursor: pointer;
      border-radius: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      transition: opacity .2s linear;

      &:hover {
        background-color: transparent;
        box-shadow: none;
      }

      &:not(&--active) {
        border-radius: 0;
        color: #FFFFFF;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      &--active {
        position: relative;
        order: -1;

        &:after {
          content: "";
          background: url("../img/blog-main-page/dropdown-arrow.svg") center center no-repeat;
          background-size: 8px 6px;
          width: 8px;
          height: 6px;
          position: absolute;
          top: 50%;
          right: 4px;
          transform: translateY(-50%);
          transition: transform .3s linear;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .blog-blockquote {
    p {
      line-height: 24px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 450px) {
  .travel-img-box {
    &__img {
      &--rectangle {
        display: none;
      }

      &--square {
        display: inline;
      }
    }
  }
}
