.concierge-page-main-content {
  padding-bottom: 70px;
  overflow-x: hidden;

  p {
    color: #6B6B79;
    font-size: 16px;
    line-height: 24px;
  }

  .main-header-with-image {
    justify-content: space-between;

    &__info-box {
      width: 33.33%;
    }

    &__img-box {
      width: 56.66%;
      margin-top: -83px;
    }
  }

  &__header {
    padding-bottom: 15px;

    .team-people-card {
      padding: 0;

      &__info-box {
        margin-top: 47px;
        max-width: 590px;

        h1 {
          margin-bottom: 30px;
        }

        p {
          line-height: 22px;
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &__avatar-box {
        min-width: 560px;
        max-width: 560px;
        margin-top: -45px;
        margin-left: 7%;
      }

      &__img-box {
        &:before {
          background: url("../img/people-image/big-ellipse-1.svg") no-repeat;
          top: 32px;
          left: -70px;
        }

        &:after {
          background: url("../img/people-image/big-ellipse-2.svg") no-repeat;
          width: 22.958%;
          height: 24.134%;
          bottom: 8.5%;
        }
      }
    }
  }

  blockquote {
    border-left: 4px solid #146AFF;
    padding-left: 20px;
    margin-top: 30px;

    h4 {
      color: #146AFF;
      margin-bottom: 10px;
    }
  }

  &__quote-box {
    max-width: 630px;
    margin: 100px auto;
  }

  //&__preview-popup-video-box {
  //  margin: 80px auto 0;
  //  max-width: 846px;
  //}

  //&__modal {
  //  padding: 30px;
  //
  //  .fitVids-wrapper {
  //    width: 100%;
  //  }
  //
  //  .modal__content {
  //    padding: 30px;
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    width: 100%;
  //    max-width: 1100px;
  //  }
  //}

  .panda-team-box {
    &__header {
      margin-bottom: 80px;

      h2 {
        margin-bottom: 0;
      }
    }

    .team-people-card {
      padding-left: 0;
      padding-right: 0;

      &__info-box {
        max-width: 467px;
      }

      &__avatar-box {
        min-width: 463px;
        max-width: 463px;
        margin-left: 6.5%;
        margin-right: 6.5%;

        img {
          width: 100%;
          height: 482px;
        }
      }

      &__img-box {
        &:before {
          right: -90px;
        }

        &:after {
          left: -20px;
        }
      }

      &__tag {
        left: -10px;
      }
    }
  }
}

.concierge-video-box {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;

  &__video-col {
    width: 48.65%;
  }

  &__text-col {
    width: 44.69%;
    margin-top: 65px;

    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .quote-box {
    margin: 80px 0;
  }
}

.schedule-action-box {
  position: relative;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 54px;
  background: url("../img/schedule-bg-pattern.png") no-repeat, linear-gradient(270deg, #146AFF 0%, #148EFF 100%);
  background-size: cover;
  border-radius: 10px;

  &__text-box {
    margin-right: 157px;

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #fff;
      margin: 0;
    }
  }

  &__img-box {
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 47.96875%;
  }

  &__btn-box {
    flex-shrink: 0;
    margin-left: 157px;
  }

  &__btn {
    display: block;
    padding: 24px 32px;
  }
}

.quote-box {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #146AFF;
  position: relative;

  &:before,
  &:after {
    font-weight: 900;
    position: absolute;
    font-size: 80px;
    line-height: 98px;
    opacity: 0.3;
  }

  &:before {
    content: '“';
    left: 0;
    top: -40px;
  }

  &:after {
    content: '”';
    top: calc(100% - 10px);
    right: 0;
  }
}

.concierge-pricing-list-box {
  margin: 140px 0;
}

.concierge-pricing-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 -10px;

  &__item {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
    width: calc(33.33333% - 20px);
    padding: 50px 32px;
    border-bottom: 4px solid #146AFF;

    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #146AFF;
      margin-bottom: 20px;
      max-width: 300px;
    }

    p {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.concierge-text-illustration-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin-bottom: 140px;

  &__img-box {
    width: 49.23%;
  }

  &__text-box {
    width: 44.53%;

    h2,
    p,
    h3 {
      margin-bottom: 30px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 20px;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--larger {
    max-width: 100%;

    p + p {
      margin-top: -10px;
    }

    .concierge-text-illustration-box__img-box {
      width: 49.22%;
    }

    .concierge-text-illustration-box__text-box {
      width: 40.78%;
    }
  }

  &--first-contour {
    .concierge-text-illustration-box__img-box {
      position: relative;

      &:before {
        //content: '';
        //position: absolute;
        //bottom: 99%;
        //left: 5%;
        //width: 590px;
        //height: 890px;
        //z-index: -1;
        //background: url("../img/concierge-page/contour/1.svg") no-repeat;
      }

      &:after {
        content: '';
        position: absolute;
        top: 91%;
        left: 64%;
        width: 350px;
        height: 350px;
        z-index: -1;
        background: url("../img/concierge-page/contour/2.svg") no-repeat;
      }
    }
  }

  &--second-contour {
    .concierge-text-illustration-box__img-box {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -55%;
        right: -37.2%;
        width: 380px;
        height: 1000px;
        z-index: -1;
        background: url("../img/concierge-page/contour/3.svg") no-repeat;
      }
    }
  }

  &--third-contour {
    .concierge-text-illustration-box__img-box {
      position: relative;
      top: -31px;

      &:after {
        content: '';
        position: absolute;
        top: 78%;
        left: -76%;
        width: 550px;
        height: 1100px;
        z-index: -1;
        background: url("../img/concierge-page/contour/4.svg") no-repeat;
      }
    }

    & ~ .concierge-text-illustration-box .concierge-text-illustration-box__img-box {
      position: relative;
      top: -30px;
    }
  }
}

.concierge-list-box {
  margin-bottom: 70px;
}

.concierge-list {
  list-style: none;
  padding: 0;

  &__item {
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 45px 0 rgba(17, 42, 107, .1);
    border-radius: 10px;
    padding: 30px 90px 30px 40px;

    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
  }

  &__img-box {
    flex-shrink: 0;
    max-width: 160px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
    }
  }
}

.consulting-concierge-list-box {
  .two-columns-marker-list {
    h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
    }

    ul {
      margin-top: 25px;
      line-height: 19px;
      font-weight: normal;

      li {
        align-items: center;

        &:before {
          margin-right: 6px;
          background: url("../img/concierge-page/concierge-consulting-list-marker.svg") center center no-repeat;
          min-width: 18px;
          min-height: 18px;
        }

        &.green-marker {
          &:not(:last-child) {
            margin-bottom: 12px;
          }

          &:before {
            background: url("../img/concierge-page/concierge-consulting-list-marker-green.svg") center center no-repeat;
            filter: none;
            min-width: 20px;
            min-height: 21px;
            margin-right: 4px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &__subtitle {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &__column {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: url("../img/plane-bg.png") bottom right no-repeat;

      &--first {
        background-color: transparent;
        border: 1px solid #146AFF;
        box-shadow: none;
        margin-right: 0;

        .two-columns-marker-list__column-header {
          color: #146AFF;

          &:before,
          &:after {
            border-color: #146AFF;
          }
        }

        ul {
          color: #1B1B32;
        }

        .two-columns-marker-list__text-box {
          &:before,
          &:after {
            border-color: #146AFF;
          }
        }
      }

      &--second {
        background: #E4F2FF url("../img/concierge-page/concierge-consulting-list-second-item-bg.png") top 3px right 2px no-repeat;
        border: none;

        .two-columns-marker-list__column-header,
        h3 {
          color: #146AFF;
        }

        .two-columns-marker-list__text-box,
        .two-columns-marker-list__column-header {
          &:before,
          &:after {
            border-color: #146AFF;
          }
        }

      }

      ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 22px;
        margin: 20px -20px -16px;

        li,
        li:not(:last-of-type) {
          width: calc(46.93% - 40px);
          margin: 0 20px 16px;
        }

        li {
          align-items: flex-start;

          &:before {
            flex-shrink: 0;
            align-self: auto;
          }

          &:nth-of-type(odd) {
            max-width: 455px;
          }
        }
      }
    }

    &__column-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 10px;
    }

    &__price {
      color: #1B1B32;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;

      &-subtitle {
        font-size: 16px;
        line-height: 32px;
      }
    }

    &__footnote {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #1B1B32;
      opacity: 0.6;
      margin-top: auto;
      max-width: 81%;
      padding-top: 20px;
    }

    &__text-box {
      &:before {
        bottom: -16px;
      }

      &:after {
        bottom: -13px;
      }
    }
  }
}

.testimonials-slider-box {
  margin-top: 90px;

  &__header {
    margin-bottom: 50px;
  }
}

.review-videos-slider {
  padding-bottom: 70px;
}

.concierge-ad-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 49px 30px 31px 0;
  margin-left: 30px;
  box-shadow: -1px 17px 48px -38px rgba(0,0,0,0.75);

  &__img-box {
    //width: 100%;
    max-width: 100px;
    flex-shrink: 0;
    margin-left: -30px;
    align-self: flex-start;
    margin-right: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__text-box {
    width: 40%;

    h2 {
      margin-bottom: 16px;
    }

    p {
      color: #6B6B79;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #40BF6A;
    flex-shrink: 0;
  }

  &__btn-box {
    flex-shrink: 0;

    button {
      padding: 24px 32px;
    }
  }
}

.concierge-faq-box {
  margin-top: 100px;

  &__header {
    display: flex;
    margin-bottom: 34px;

    h2 {
      margin-bottom: 0;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 20px);
        width: 50px;
        border-top: 2px solid #146AFF;
      }
    }
  }
}

.accordion {
  list-style: none;
  padding: 0;

  &__item {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #1B1B32;
      opacity: 0.3;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  &__header {
    position: relative;
    padding: 36px 50px 36px 0;
    cursor: pointer;

    &:after {
      content: "";
      background: #E7EEF5 url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.2334V17.2334' stroke='%23146AFF' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17 9.2334L1 9.2334' stroke='%23146AFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      border-radius: 100%;
      transition: background-color .2s linear;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B6B79;
    width: 70%;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1), padding-bottom 0.2s linear;
    padding-bottom: 0;
  }

  &__expanded-item {
    &:after {
      border-color: #146AFF;
      opacity: 1;
    }

    .accordion__content {
      max-height: 1000px;
      transition: max-height 1s ease-in-out, padding-bottom .2s linear;
      padding-bottom: 20px;
    }

    .accordion__header:after {
      background: #146AFF url("data:image/svg+xml,%3Csvg width='18' height='3' viewBox='0 0 18 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.2334L1 1.2334' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
  }
}
//
//.preview-popup-video-box {
//  position: relative;
//  background-color: #146AFF;
//  padding: 32px 80px;
//  color: #fff;
//  display: flex;
//  align-items: flex-end;
//  border-radius: 10px;
//
//  &:before,
//  &:after {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//  }
//
//  &:before {
//    background: url("../img/concierge-page/preview-popup-bg.jpg") no-repeat center right -80px #146AFF;
//    background-size: contain;
//    opacity: .4;
//    border-radius: 10px;
//  }
//
//  &:after {
//    background: linear-gradient(90deg, #146AFF 56%, rgba(20, 106, 255, 0) 100%);
//    border-radius: 10px;
//  }
//
//  a {
//    color: inherit;
//  }
//
//  &__btn-box {
//    width: 116px;
//    margin-right: 78px;
//    z-index: 1;
//
//    a {
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//      font-size: 17px;
//      line-height: 24px;
//      font-weight: 600;
//
//      &:hover {
//        .preview-popup-video-box__play-btn {
//          box-shadow: 0 20px 40px rgba(255, 255, 255, 0.4);
//
//          svg path {
//            fill: #49DB79;
//          }
//        }
//
//        .preview-popup-video-box__play-text {
//          text-decoration: none;
//        }
//      }
//    }
//  }
//
//  &__play-btn {
//    background-color: #fff;
//    border-radius: 100%;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    padding: 49px;
//    margin-bottom: 8px;
//    transition: box-shadow .2s ease-in-out;
//
//    svg path {
//      transition: fill .2s ease-in-out;
//    }
//  }
//
//  &__play-text {
//    text-decoration: underline;
//  }
//
//  &__text-box {
//    max-width: 353px;
//    z-index: 1;
//
//    h2 {
//      margin-bottom: 24px;
//    }
//
//    h4 {
//      margin: 0;
//    }
//  }
//}

@media screen and (max-width: 1280px) {
  .concierge-text-illustration-box {
    &--first-contour,
    &--second-contour,
    &--third-contour {
      .concierge-text-illustration-box__img-box {
        &:after,
        &:before {
          content: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .schedule-action-box {
    &__img-box {
      left: 41%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .concierge-page-main-content {
    &__header {
      margin-bottom: 80px;

      .team-people-card {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;

        &__avatar-box {
          margin: 0;
        }

        &__info-box {
          max-width: 100%;
          margin-top: 40px;

          h1 {
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .concierge-video-box {
    &__text-col {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .schedule-action-box {
    padding: 32px 40px;
    flex-direction: column;
    text-align: center;

    &__img-box {
      display: none;
    }

    &__text-box,
    &__btn-box {
      margin: 0;
    }

    &__text-box {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .concierge-page-main-content {
    &__header {
      .team-people-card {
        display: flex;

        &__avatar-box {
          padding-bottom: 0;
          float: none;
        }
      }
    }

    .quote-box {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .panda-team-box {
    &__header {
      h2 {
        &:after {
          content: none;
        }
      }
    }
  }

  .concierge-text-illustration-box {
    &__text-box {
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .concierge-list-box {
    margin-bottom: 60px;
  }

  .consulting-concierge-list-box {
    .two-columns-marker-list {
      flex-wrap: wrap;

      &__column {
        width: 100%;

        &--first {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .concierge-ad-box {
    padding-right: 94px;

    &__row {
      flex-direction: column;
      align-items: flex-start;

      div {
        margin-right: 0 !important;
      }
    }

    &__text-box {
      width: 100%;

      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }
    }

    &__price {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .concierge-video-box {
    flex-wrap: wrap;

    &__video-col {
      width: 100%;
    }

    &__text-col {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .concierge-page-main-content {
    blockquote {
      margin-top: 20px;
    }

    .main-header-with-image {
      flex-direction: column-reverse;
      margin-top: 40px;

      &__info-box {
        max-width: 100%;
        margin-top: 40px;
        width: 100%;

        h1 {
          margin-bottom: 16px;
          font-size: 32px;
          line-height: 39px;
        }
      }

      &__img-box {
        margin-top: 0;
        width: 100%;
        max-width: 500px;
      }

      h1 {
        margin-bottom: 20px;
      }
    }

    .panda-team-box {
      &__header {
        margin-bottom: 25px;

        h2 {
          font-size: 24px;
          max-width: 100%;
          line-height: 36px;
        }
      }

      .team-people-card {
        display: flex;
        flex-direction: column-reverse;

        &__info-box {
          max-width: 100%;
          margin-bottom: 20px;
        }

        &__avatar-box {
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .concierge-list-box {
    margin-top: 60px;

    .concierge-list {
      flex-direction: column;

      &__item {
        display: flex;
        margin-right: 0;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      &__img-box {
        height: auto;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .testimonials-slider-box {
    margin-top: 80px;

    .base-arrows-slider-box__header {
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }

    button {
      width: 48px;
      height: 48px;

      svg {
        width: 6px;
        height: 12px;
      }
    }
  }

  .review-videos-slider {
    padding-bottom: 60px;
  }

  .accordion {
    &__content {
      width: 100%;
    }
  }

  .concierge-faq-box {
    &__header {
      margin-bottom: 14px;
    }
  }

  .concierge-text-illustration-box {
    margin: 80px 0;

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
    }

    h4 {
      margin-bottom: 10px;
    }

    &__img-box,
    &__text-box {
      width: 48.61%;
    }

    &--first-contour {
      & + .concierge-text-illustration-box {
        position: relative;

        .concierge-text-illustration-box__img-box {
          position: absolute;
          right: 0;
          top: 7%;
        }

        .concierge-text-illustration-box__text-box {
          width: 100%;

          h2,
          p {
            max-width: 620px;
          }

          h2:first-of-type,
          p:first-of-type {
            margin-right: 50%;
          }

          p:first-of-type {
            margin-bottom: 40px;
          }
        }
      }
    }

    &--second-contour {
      position: relative;
      align-items: flex-start;

      .concierge-text-illustration-box__img-box {
        position: absolute;
        left: 0;
        top: 7px;
      }

      .concierge-text-illustration-box__text-box {
        width: 100%;

        h3 {
          margin-left: 51%;
        }

        p {
          &:not(:last-of-type) {
            margin-left: 51%;
            margin-bottom: 40px;
          }

          &:last-of-type {
            text-align: center;
          }
        }
      }
    }

    &--third-contour {
      position: relative;
      align-items: flex-start;

      .concierge-text-illustration-box__img-box {
        position: absolute;
        right: 0;
        top: 50px;
      }

      .concierge-text-illustration-box__text-box {
        width: 100%;

        h3,
        & > p:first-of-type {
          margin-right: 51%;
        }
      }

      & ~ .concierge-text-illustration-box {
        position: relative;

        .concierge-text-illustration-box__img-box {
          position: absolute;
          left: 0;
          top: 65px;
        }

        .concierge-text-illustration-box__text-box {
          width: 100%;

          > p,
          h3 {
            margin-left: 51%;
          }
        }
      }
    }
  }

  .concierge-pricing-list-box {
    margin: 80px 0;
  }

  .concierge-pricing-list {
    margin: 0;
    flex-wrap: wrap;

    &__item {
      margin: 0 0 30px;
      width: 100%;
      padding: 30px 50px 30px 32px;

      h3 {
        max-width: 460px;
      }
    }
  }

  .concierge-list-box {
    margin: 80px 0 70px;
  }

  .concierge-list {
    &__img-box {
      margin-right: 20px;
    }

    &__item {
      padding: 28px 50px 28px 20px;
    }
  }

  .consulting-concierge-list-box {
    .two-columns-marker-list {
      &__column {
        ul {
          li,
          li:not(:last-of-type) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  //.preview-popup-video-box {
  //  padding: 32px 60px;
  //
  //  &__btn-box {
  //    margin-right: 60px;
  //  }
  //}
}

@media screen and (max-width: 640px) {
  .concierge-page-main-content {
    &__header {
      .team-people-card {
        margin-top: 10px;

        &__avatar-box {
          min-width: 254px;
          max-width: 254px;
        }

        &__img-box {
          &:before {
            left: -45px;
            background: url(../img/people-image/ellipse-1-small.svg) no-repeat;
          }

          &:after {
            background: url(../img/people-image/ellipse-2-small.svg) no-repeat;
          }
        }
      }
    }

    .panda-team-box {
      .team-people-card {
        &__avatar-box {
          min-width: 254px;
          max-width: 254px;

          img {
            height: 264px;
          }
        }

        &__img-box {
          &:before {
            right: -50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .concierge-page-main-content {
    &__header {
      margin-bottom: 40px;

      .team-people-card {
        &__info-box {
          margin-top: 20px;

          h1 {
            font-size: 24px;
            line-height: 32px;
          }

          p {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 16px;
          }
        }
      }
    }

    .panda-team-box {
      margin-top: 30px;
    }

    .main-header-with-image {
      margin-top: 24px;

      h1 {
        font-size: 24px;
        line-height: 32px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
      }

      &__info-box {
        margin-top: 24px;
      }
    }

    &__quote-box {
      margin: 79px 0 50px;
    }

    //&__modal {
    //  padding: 15px;
    //
    //  .modal__content {
    //    padding: 15px 30px;
    //  }
    //}

    //&__preview-popup-video-box {
    //  margin: 40px auto 0;
    //}
  }

  .schedule-action-box {
    margin-top: 30px;
  }

  .concierge-list-box {
    margin-bottom: 50px;

    .concierge-list {
      &__item {
        display: block;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &__img-box {
        max-width: 100px;
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .consulting-concierge-list-box {
    .two-columns-marker-list {
      &__column {
        padding-top: 18px;
        padding-bottom: 20px;
      }

      &__subtitle,
      h3 {
        display: inline;
        text-transform: initial;
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
      }

      &__column-header {
        flex-direction: column;
        align-items: flex-start;
      }

      &__price {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }

      &__text-box {
        &:before {
          bottom: -48px;
        }

        &:after {
          bottom: -45px;
        }
      }
    }
  }

  .testimonials-slider-box {
    margin-top: 70px;

    &__arrows {
      display: none;
    }

    &__header {
      justify-content: center;
      margin-bottom: 30px;
    }

    .review-videos-slider {
      padding-bottom: 50px;
    }
  }

  .concierge-ad-box {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0 15px 20px;

    &__img-box {
      margin: -25px auto 16px;
      max-width: 80px;
    }

    &__row {
      align-items: center;

      h2 {
        font-size: 20px;
        line-height: 28px;
      }

      p {
        font-weight: normal;
        line-height: 19px;
        margin-bottom: 10px;
      }

      h2,
      p {
        text-align: center;
      }
    }

    &__price {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &__btn-box {
      width: 100%;

      button {
        padding: 17px 8px;
        width: 100%;
      }
    }
  }

  .accordion {
    &__header {
      padding-bottom: 26px;
      padding-top: 26px;

      h4 {
        font-size: 17px;
        line-height: 24px;
      }
    }

    &__content {
      font-size: 14px;
      line-height: 19px;
    }

    &__expanded-item {
      .accordion__content {
        padding-bottom: 10px;
      }
    }
  }

  .quote-box {
    font-size: 17px;
    line-height: 24px;

    &:before {
      top: -45px;
      left: -15px;
    }

    &:after {
      right: -15px;
      top: calc(100% - 15px);
    }
  }

  .concierge-text-illustration-box,
  .concierge-text-illustration-box--first-contour + .concierge-text-illustration-box {
    flex-direction: column;
    margin: 40px 0;

    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    h3 {
      margin-left: 0 !important;
    }

    &__text-box {
      width: 100% !important;
    }

    p,
    h2,
    h3 {
      width: 100%;
      text-align: left !important;
    }

    p,
    p:first-of-type {
      margin: 0 0 20px !important;
    }

    p:last-of-type {
      margin-bottom: 0 !important;
    }

    h4 {
      font-size: 17px;
      line-height: 24px;
    }

    &__img-box {
      width: 100% !important;
      margin-bottom: 30px;
      position: static !important;
    }
  }

  .concierge-pricing-list-box {
    margin: 40px 0;
  }

  .concierge-pricing-list {
    &__item {
      padding: 20px 10px;
      margin: 0 0 16px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h3 {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }

  .concierge-list-box {
    margin: 40px 0;
  }

  .concierge-list {
    &__img-box {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__item {
      padding: 20px 10px;
    }
  }

  //.preview-popup-video-box {
  //  flex-direction: column-reverse;
  //  align-items: center;
  //  padding: 30px;
  //
  //  &:before {
  //    background-size: cover;
  //    background-position-x: -100px;
  //  }
  //
  //  &__text-box {
  //    max-width: 100%;
  //    margin-bottom: 20px;
  //    text-align: center;
  //
  //    h2 {
  //      font-size: 20px;
  //      line-height: 28px;
  //      margin-bottom: 8px;
  //    }
  //
  //    h4 {
  //      font-weight: 500;
  //      font-size: 14px;
  //      line-height: 21px;
  //    }
  //  }
  //
  //  &__btn-box {
  //    margin: 0;
  //  }
  //}

  .concierge-video-box {
    margin-top: 40px;

    .quote-box {
      margin-bottom: 50px;
    }
  }
}
