.contact-main-content {
  padding-bottom: 120px;

  .main-header-with-image {
    margin-top: 0;

    &__info-box {
      max-width: 100%;
      width: 45%;

      h1 {
        margin-bottom: 60px;
      }
    }

    &__img-box {
      width: auto;
      margin-top: -95px;
    }
  }
}

.contacts-list {
  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__img-box {
    margin-right: 32px;
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1B1B32;
  }

  &__btn {
    background-color: transparent;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #40BF6A;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
  }
}

.contact-form-box {
  margin-top: 40px;
}

.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 105px 44px;
  box-shadow: 0 19px 37px 5px rgba(0,0,0,0.11);

  h4 {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__field {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6B6B79;
    border: 1px solid #E3E3E3;
    border-radius: 60px;
    height: 72px;
    padding: 0 21px;
    transition: border-color .3s linear;
    width: 100%;
    //margin-bottom: 20px;


    //&:last-of-type {
    //  margin-bottom: 25px;
    //}

    &:focus {
      outline: none;
      border-color: #146AFF;
    }
  }

  //&__name-field,
  //&__email-field {
  //  width: calc(50% - 10px);
  //}

  //&__name-field {
  //  margin-right: 20px;
  //}

  &__request-field {
    padding-right: 16px;
    display: none;

    &:focus {
      border-color: #E3E3E3;
    }
  }

  &__message-field {
    border-radius: 10px;
    padding: 26px 21px;
    min-height: 140px;
    resize: none;
    overflow: hidden;
  }

  &__select-wrapper {
    padding: 0 0 20px;
    border: none;
    position: relative;
    height: auto !important;
  }

  &__btn {
    display: block;
    padding: 24px 32px;
    margin-left: 5px;
  }

  &__info-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    width: 60%;
    flex-grow: 1;

    a {
      color: #146AFF;
    }
  }

  .select-items div,
  .select-header {
    cursor: pointer;
    color: #6B6B79;
    font-weight: normal;
  }

  .select-header {
    border: 1px solid #E3E3E3;
    border-radius: 60px;
    z-index: 2;
    position: relative;
    padding: 26px 61px 26px 21px;
    font-size: 16px;
    line-height: 20px;

    &.select-arrow-active {
      svg {
        transform: rotate(180deg);
        transition: transform .3s linear;

        path {
          transition: fill .3s linear;
          fill: #146AFF;
        }
      }

      & + .select-items {
        max-height: 1000px;
        transition: max-height .5s linear, padding-top .3s ease-out;
        border-bottom: 1px solid #E3E3E3;
      }
    }
  }

  .select-arrow-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    right: 16px;
    box-shadow: 0 11px 10px rgba(17, 42, 107, 0.15);
    border-radius: 100%;
    background-color: #fff;

    svg {
      transition: transform .3s linear;

      path {
        transition: fill .3s linear;
      }
    }
  }

  .select-items {
    position: absolute;
    border: 1px solid #E3E3E3;
    border-top: none;
    border-bottom: none;
    top: 50%;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    div {
      padding: 16px 21px;
      font-size: 14px;
      line-height: 19px;
      transition: color .2s linear;

      &:hover,
      &.selected-item {
        color: #146AFF;
      }
    }
  }

  .select-hide {
    max-height: 0;
    transition: max-height .5s linear, padding-top 1.5s ease;
  }
}

@media screen and (max-width: 768px) {
  .contact-main-content {
    padding-bottom: 80px;

    .main-header-with-image {
      flex-direction: row;
      margin-top: 20px;

      h1 {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 30px;
      }

      &__info-box {
        margin-top: 0;
        width: 100%;
        margin-right: 20px;
      }

      &__img-box {
        margin-top: 0;
      }
    }
  }

  .contact-form-box {
    margin-top: 60px;
  }

  .contact-form {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 600px) {
  .contact-main-content {
    padding-bottom: 70px;

    .main-header-with-image {
      flex-direction: column-reverse;

      h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }

      &__img-box {
        margin-bottom: 20px;
      }

      &__info-box {
        margin-right: 0;
      }
    }

    .contacts-list {
      &__img-box {
        margin-right: 10px;

        svg {
          width: 34px;
          height: 34px;
        }
      }

      &__text {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }

  .contact-form-box {
    margin-top: 40px;
  }

  .contact-form {
    padding: 30px 16px;

    &__header {
      margin-bottom: 20px;

      h4 {
        font-size: 17px;
        line-height: 24px;
      }
    }

    &__field {
      width: 100%;
      margin-right: 0;
      //margin-bottom: 16px;
      height: 50px;
      padding-left: 16px;
      padding-right: 16px;

      //&:last-of-type {
      //  margin-bottom: 16px;
      //}
    }

    .select-header {
      padding: 15px 52px 15px 10px;
      border-radius: 10px;
    }

    .select-arrow-btn {
      width: 28px;
      height: 28px;
      right: 8px;
      top: 8px;
      transform: none;
      box-shadow: 0 11px 10px rgba(17, 42, 107, 0.15);
    }

    &__btn {
      padding: 17px 32px;
      margin-top: 16px;
      margin-left: 0;
    }

    &__info-text {
      width: 100%;
    }
  }
}
