.courses-page-main-content {
  padding-bottom: 90px;

  h2 {
    font-size: 42px;
    line-height: 51px;
  }
}

.course-about-box {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  &__text-box {
    width: 45%;

    h2 {
      margin-bottom: 40px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__video-box {
    min-width: 41%;
    margin: auto 0;
  }
}


.learn-list-box {
  margin-top: 90px;

  &__header {
    margin-bottom: 10px;
    display: flex;

    h2 {
      margin-bottom: 0;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100% + 40px);
        transform: translateY(-50%);
        width: 88px;
        border-top: 4px solid #146AFF;
      }
    }
  }
}

.learn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__img-box {
    max-width: 100px;
    margin-right: 20px;
    flex-shrink: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 40px;
    width: calc(100% / 12 * 4 - 10px);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  p {
    flex-shrink: 3;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #1B1B32;
  }
}

.people-card-box {
  display: flex;
  align-items: center;
  margin-top: 70px;

  &__avatar-box {
    margin-right: 173px;
    width: 33%;
    position: relative;
  }

  &__profession-tag {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    top: 60%;
    right: -27.5%;
    width: 171px;
    height: 167px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    background-color: #146AFF;
    border-radius: 60% 40%;
    padding: 0 15px;
    box-shadow: -20px 30px 40px rgba(20, 106, 255, 0.3);
  }

  &__img-box {
    position: relative;

    img {
      border-radius: 60% 40%;
      margin-left: 40px;
    }


    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      background: url("../img/people-image/ellipse-1.svg") no-repeat;
      background-size: 100%;
      width: 73.934%;
      height: 77.904%;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 34%;
      right: -60px;
      background: url("../img/people-image/ellipse-2.svg") no-repeat;
      background-size: 100%;
      width: 18.958%;
      height: 19.134%;
    }
  }

  &__info-box {
    width: 37%;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #146AFF;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B79;
    margin-bottom: 30px;
  }
}

.rating-panel {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__mark {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #146AFF;
  }

  &__name {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B79;
  }
}

.course-includes-box {
  margin-top: 70px;

  &__header {
    margin-bottom: 50px;
    display: flex;

    h2 {
      position: relative;
      margin-bottom: 0;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100% + 40px);
        transform: translateY(-50%);
        width: 88px;
        border-top: 4px solid #146AFF;
      }
    }
  }
}

.course-includes-list {
  display: flex;
  justify-content: space-around;

  &__item {
    margin-right: 30px;
    width: calc(100% / 12 * 2 - 30px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    max-width: 80px;
    margin: 0 auto 20px;

    img {
      object-fit: cover;
      max-height: 100%;
      flex-shrink: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #1B1B32;
  }
}

.course-ad-box {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(103deg, #146AFF 0%, rgba(20, 106, 255, 0.6) 100%), #146AFF url("../img/course-page/ad-bg.svg") center -100px no-repeat;
  border-radius: 10px;
  padding: 65px 59px 62px 60px;

  &__text-box {
    color: #fff;
    display: flex;
    align-items: center;
    width: 53%;

    h2 {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 0;
      position: relative;
      padding-right: 10%;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid #fff;
        width: 1px;
        height: 50px;
      }
    }
  }

  &__price {
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    padding-left: 10%;
  }

  &__btn {
    padding: 24px 50px;
    display: block;
  }
}

@media screen and (max-width: 835px) {
  .course-ad-box {
    flex-wrap: wrap;
    padding: 30px 62px;

    &__text-box {
      width: 100%;
      justify-content: space-between;

      h2 {
        font-size: 24px;
        line-height: 32px;
        padding-right: 0;
        margin-right: 5px;

        &:after {
          content: none;
        }
      }
    }

    &__price {
      padding-left: 0;
      font-weight: 600;
      font-size: 42px;
      line-height: 51px;
    }

    &__btn-box {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .courses-page-main-content {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .course-about-box {
    flex-wrap: wrap;

    &__text-box {
      width: 100%;

      h2 {
        margin-bottom: 24px;
      }

      p:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &__video-box {
      margin-top: 30px;
      width: 100%;
    }
  }

  .learn-list-box {
    margin-top: 80px;

    &__header {
      h2:after {
        left: calc(100% + 24px);
      }
    }
  }

  .learn-list {
    &__img-box {
      margin-right: 18px;
    }

    &__item {
      margin-top: 30px;
      width: calc(100% / 12 * 5.5 - 10px);
    }
  }

  .people-card-box {
    margin-top: 60px;

    &__avatar-box {
      margin-right: 123px;
    }

    &__info-box {
      flex-grow: 1;

      .rating-panel {
        flex-wrap: wrap;

        &__item {
          flex-shrink: 0;
          display: flex;
          align-items: baseline;
          width: calc(50% - 10px);
          margin-top: 16px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        &__mark {
          margin-right: 5px;
        }
      }
    }

    &__subtitle {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 16px;
    }

    &__description {
      margin-bottom: 8px;
    }
  }

  .course-includes-box {
    &__header {
      margin-bottom: 16px;

      h2:after {
        left: calc(100% + 24px);
      }
    }

    .course-includes-list {
      flex-wrap: wrap;
      justify-content: flex-start;

      &__item {
        display: flex;
        align-items: center;
        margin-top: 24px;
        margin-right: 74px;
        width: calc(100% / 12 * 5 - 30px);
      }

      &__img-box {
        margin-right: 24px;
      }

      &__title {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .people-card-box {
    flex-wrap: wrap;

    &__avatar-box {
      width: calc(100% - 40px);
      margin-right: 0;
    }

    &__img-box {
      img {
        width: 100%;
      }

      &:after {
        bottom: 37%;
        right: -58px;
        width: 15%;
      }
    }

    &__profession-tag {
      top: 52%;
      right: -7.5%;
    }

    &__description {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 4px;
    }

    h2 {
      margin-bottom: 8px;
    }
  }

  .rating-panel {
    &__item {
      &:nth-child(2n) {
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .courses-page-main-content {
    h2 {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .course-about-box {
    margin-top: 50px;

    &__video-box {
      margin-top: 24px;
    }
  }

  .learn-list-box {
    margin-top: 70px;
  }

  .learn-list {
    &__item {
      width: 100%;
      margin-top: 20px;

      p {
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
      }
    }

    &__img-box {
      max-width: 70px;
    }
  }

  .course-includes-box__header h2:after,
  .learn-list-box__header h2:after {
    left: calc(100% + 16px);
    width: 50px;
  }

  .course-includes-box {
    margin-top: 50px;

    &__header {
      margin-bottom: 14px;
    }

    .course-includes-list {
      &__item {
        margin-top: 16px;
        margin-right: 0;
        width: 100%;
        display: flex;
        align-items: center;
      }

      &__title {
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
      }

      &__img-box {
        margin: 0 20px 0 0;
        max-width: 60px;
      }
    }
  }

  .course-ad-box {
    justify-content: center;
    padding: 30px 10.35% 40px;

    &__text-box {
      flex-wrap: wrap;
      justify-content: center;

      h2 {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    &__btn-box {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .people-card-box {

    &__img-box {
      &:after {
        bottom: 39%;
      }
    }

    &__profession-tag {
      right: -16.5%;
      width: 141px;
      height: 138px;
    }
  }

  .course-ad-box {
    &__btn {
      padding: 24px 35px;
    }
  }
}
