.credit-cards-page-main-content {
  .main-header-with-image {
    margin-top: -60px;

    &__img-box {
      margin-top: 0;
    }

    &__info-box {
      width: 100%;
      max-width: 100%;
      margin-top: 70px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1B1B32;
      max-width: 90%;
    }
  }

  .vertical-share-box {
    h4 {
      margin-bottom: 0;
    }

    .social-networks-box {
      margin: 0;

      ul {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        margin-right: 0;
        background-color: #146AFF;
        margin-top: 20px;

        &:hover {
          background-color: #2978FF;
        }
      }
    }
  }
}

.tabs-categories-box {
  margin-top: 72px;
}

.tabs-categories-list {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-bottom: 3px solid #D7E3F7;
    border-radius: 10px;
  }
}

.tabs-categories-list {
  display: flex;
  justify-content: flex-start;

  &__item {
    max-width: 80px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__img-box {
    margin-bottom: 12px;
    display: flex;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    height: calc(100% + 3px);
  }

  &__text {
    transition: color .2s linear;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #6B6B79;
  }

  &__item--active,
  &__item:hover {
    position: relative;

    .tabs-categories-list__text {
      color: #146AFF;
    }

    .tabs-categories-list__img-box {
      filter: invert(38%) sepia(48%) saturate(6475%) hue-rotate(211deg) brightness(98%) contrast(107%);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 3px solid #146AFF;
      border-radius: 10px;
    }
  }
}

.credit-cards-box {
  display: flex;
}

.credit-cards-list-box {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.credit-cards-list {
  max-width: 78.8%;

  &__item {
    padding: 70px 0;
    border-bottom: 2px solid #C4C4C4;

    h2 {
      margin-bottom: 30px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__img-box {
    width: 305px;
    flex-shrink: 2;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #6B6B79;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }

  &__card-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.card-statistics {
  margin-left: 50px;
  flex-shrink: 1;
  display: none; //temp style

  flex-grow: 1;
  &__first-row {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid #D8E2F1;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #6B6B79;
    margin-bottom: 6px;
  }

  &__value {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #146AFF;

    &--positive {
      color: #40BF6A;
    }
  }

  &__second-row {
    display: flex;
    align-items: center;
    padding-top: 16px;
  }

  &__regular-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6B6B79;
  }

  &__mark {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1B1B32;
  }

  &__diagram-icon {
    margin-right: 10px;
  }

  &__stars-box {
    margin-left: 24px;
    margin-right: 16px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 768px) {
  .credit-cards-page-main-content {
    padding-bottom: 70px;

    .main-header-with-image {
      margin-top: 30px;

      h1 {
        font-size: 42px;
        line-height: 51px;
        width: 100%;
        margin-bottom: 24px;
      }

      p {
        max-width: 100%;
        color: #6B6B79;
      }

      &__img-box {
        width: 72%;
      }

      &__info-box {
        margin-top: 20px;
      }
    }

    .vertical-share-box {
      display: flex;
      align-items: center;
      margin-top: 30px;

      .social-networks-box {
        ul {
          flex-direction: row;
        }

        &__item {
          margin-top: 0;
          margin-left: 24px;
        }
      }
    }
  }

  .tabs-categories-box {
    margin-top: 50px;
  }

  .credit-cards-list-box {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .credit-cards-list {
    max-width: 100%;

    &__card-box {
      flex-direction: column;
    }

    p {
      &:last-of-type {
        margin-bottom: 32px;
      }
    }

    &__item {
      padding: 40px 0;
    }
  }

  .tabs-categories-list {
    max-height: 50px;
    flex-wrap: wrap;
    border-radius: 40px;
    padding: 0 20px 8px;
    background-color: #D7E3F6;
    overflow-y: hidden;
    transition: max-height 1.3s cubic-bezier(0, 1, 0, 1), border-radius 0.3s linear;

    &__item {
      width: 100%;
      max-width: 100%;
      z-index: 1;
      margin-right: 0 !important;
      padding: 8px 0;

      &:first-child {
        padding-top: 16px;
      }

      &:hover:after,
      &--active:after {
        border: none;
      }

      &--active {
        order: -1;
        border-bottom: 1px solid #146AFF;
        position: relative;
        padding: 13px 0;

        &:after {
          content: "";
          position: absolute;
          background: url(../img/credit-cards-page/dropdown-arrow.svg) center center no-repeat;
          background-size: 8px 6px;
          width: 8px;
          height: 6px;
          top: 50%;
          right: 4px !important;
          left: auto !important;
          transform: translateY(-50%);
          transition: transform 0.3s linear;
        }
      }
    }

    &__img-box {
      margin-bottom: 0;
      margin-right: 16px;
      width: 24px;
      height: 24px;
    }

    &__link {
      padding: 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .opened-dropdown-list .tabs-categories-list__item--active:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

@media screen and (max-width: 600px) {
  .credit-cards-page-main-content {
    padding-bottom: 50px;

    .main-header-with-image {
      &__img-box {
        width: 100%;
      }

      h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
      }
    }

    .vertical-share-box {
      margin-top: 20px;
    }
  }

  .tabs-categories-box,
  .credit-cards-list-box {
    margin-top: 30px;
  }

  .credit-cards-list {
    &__item {
      border-bottom: none;
      padding: 20px 0;

      h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }

    &__img-box {
      width: 100%;
      text-align: center;
    }

    &__card-box {
      margin-bottom: 20px;
    }
  }
}
