.search-result-page-main-content {
  margin-top: 80px;
  padding-bottom: 90px;

  &__header {
    h2 {
      margin-bottom: 16px;
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #6B6B79;
    }
  }

  .blog-card {
    &__content {
      padding-bottom: 16px;
    }

    &__info {
      //align-items: flex-start;
    }

    .read-more-link {
      color: #146AFF;
      margin-top: auto;
      align-self: flex-start;

      &:after {
        background: url("../img/read-more-arrow-blue.svg") center center no-repeat;
      }
    }

    &:last-of-type {
      display: flex;
    }
  }
}

.search-result-list-box {
  margin-top: -10px;
}

.search-result-list {
  display: flex;
  flex-wrap: wrap;

  &__item,
  &__item:last-of-type {
    width: calc(100% / 12 * 4 - 20px + 20px / 3);
    margin-right: 20px;
    height: auto;
    flex-basis: auto;
  }

  &__item {
    margin-top: 85px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--credit-card {
      .blog-card__img-box {
        height: auto;
        max-width: 100%;

        img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-result-page-main-content {
    margin-top: 50px;
    padding-bottom: 70px;
  }

  .search-result-list {
    &__item,
    &__item:last-of-type {
      flex-basis: calc(100% / 12 * 6 - 20px + 20px / 2);
      margin-top: 65px;
    }

    &__item {
      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .search-result-page-main-content {
    margin-top: 30px;
    padding-bottom: 50px;

    &__header {
      h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .search-result-list {
    &__item,
    &__item:last-of-type,
    &__item:nth-child(1n) {
      margin-top: 55px;
      flex-basis: 100%;
      margin-right: 0;
    }
  }
}
