.show-credit-card-page-main-content {
  padding-bottom: 90px;

  .blog-card {
    display: flex;
    height: 100%;

    &__img-box {
      height: auto;
      max-width: 100%;
    }

    &__info {
      //align-items: flex-start;
    }

    &__content {
      padding-bottom: 16px;
    }

    img {
      height: auto;
    }

    .read-more-link {
      color: #146AFF;
      margin-top: auto;
      align-self: flex-start;

      &:after {
        background: url("../img/read-more-arrow-blue.svg") center center no-repeat;
      }
    }
  }

  .card-statistics {
    margin-left: 0;
    margin-top: 40px;
  }
}

.card-header-info-box {
  margin-top: 61px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    justify-content: space-between;
    margin-bottom: 71px;

    h1 {
      font-weight: bold;
      font-size: 64px;
      line-height: 78px;
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__img-box {
    position: absolute;
    right: 0;
    max-width: 48%;
  }

  &__text-box {
    h3 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;
      margin-bottom: 16px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__popup-btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #6B6B79;
    background-color: transparent;
    padding: 0;
    transition: color .2s linear;

    svg {
      margin-left: 6px;
      fill: transparent;
      transition: fill .2s linear;
    }

    &:hover {
      color: #6B6B99;

      svg {
        fill: #6B6B79;
      }
    }
  }

  .read-more-link {
    margin-right: 36px;
  }

  &__info {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.credit-cards-arrows-slider-box {
  margin-top: 60px;

  &__dots {
    display: none;
  }
}

.credit-cards-arrows-slider {
  padding-top: 60px;
  padding-bottom: 50px;
}

.modal {
  display: none;
  //display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(27, 27, 50, .9);

  &__content {
    background: #fff;
    border-radius: 10px;
    max-width: 640px;
    padding: 80px 50px;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 0;

    svg {
      display: block;

      path {
        transition: fill .2s linear;
      };
    }

    &:hover svg path {
      fill: #146AFF;
    }
  }

  &__text-box:not(:last-of-type) {
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: #6B6B79;
  }
}

@media screen and (max-width: 768px) {
  .show-credit-card-page-main-content {
    padding-bottom: 80px;

    .card-header-info-box {
      margin-top: 40px;

      &__header {
        flex-wrap: wrap;
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 600;
          font-size: 42px;
          line-height: 51px;
          width: 100%;
          margin-bottom: 40px;
        }
      }

      &__img-box {
        position: static;
      }
    }


    .base-arrows-slider-box__header {
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .card-statistics {
      flex-grow: 0;
      width: 48%;
      order: 1;
      margin-top: 0;

      &__first-row {
        align-items: flex-start;
      }

      &__second-row {
        justify-content: flex-start;
      }
    }
  }

  .modal {
    &__content {
      padding: 30px;
      width: 90%;
    }
  }

  .card-statistics {
    padding-right: 0;

    &__first-row {
      flex-direction: column;
      padding-bottom: 2px;
    }

    &__second-row {
      padding-top: 10px;
      flex-wrap: wrap;
    }

    &__item {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__title {
      margin-right: 6px;
      margin-bottom: 0;
    }

    &__credit-rating {
      width: calc(100% - 32px - 10px);
    }

    &__stars-box {
      margin-left: 0;
      margin-top: 8px;
    }

    &__mark {
      margin-top: 8px;
    }

    &__value {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .show-credit-card-page-main-content {
    padding-bottom: 60px;

    .card-header-info-box {
      margin-top: 20px;

      &__header {
        flex-direction: column;
        margin-bottom: 30px;

        h1 {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 16px;
        }
      }

      &__img-box {
        max-width: 100%;
      }

      h3 {
        font-size: 17px;
        line-height: 24px;
      }

      &__actions {
        flex-direction: column;
        align-items: flex-start;
      }

      &__popup-btn {
        margin-left: 0;
        margin-top: 28px;
      }
    }

    .base-arrows-slider-box {
      h2 {
        text-align: center;
        margin-right: 0;
      }

      &__arrows {
        display: none;
      }

      &__dots {
        display: flex;
      }
    }

    .credit-cards-arrows-slider {
      padding-top: 50px;
    }

    .blog-card {
      &__title {
        font-size: 17px;
        line-height: 24px;
      }
    }

    .card-statistics {
      margin-top: 26px;
      width: 100%;

      &__stars-box,
      &__mark {
        margin-top: 0;
      }

      &__item {
        margin-bottom: 8px;
      }
    }
  }

  .modal {
    &__content {
      max-height: 90%;
      overflow-y: auto;

      h4 {
        font-size: 16px;
        line-height: 22px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__text-box:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
