.sitemap-main-content {
  padding-bottom: 70px;
}

.sitemap-box {
  margin-top: 50px;

  h1 {
    margin-bottom: 50px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    display: inline-block;
    transition: color .2s linear;
  }
}

.sitemap-list {
  &__item {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    > a {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      &:before {
        content: "";
        background: url("../img/sitemap-page/list-marker.svg") center center no-repeat;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        display: inline-block;
      }
    }

    &--nested {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      > a {
        display: flex;
        align-items: center;

        &:before {
          content: "";
          background: url("../img/sitemap-page/list-marker-nested.svg") center center no-repeat;
          width: 6px;
          height: 6px;
          margin-right: 10px;
          display: inline-block;
        }
      }
    }
  }

  &--nested {
    padding-left: 18px;
  }
}

@media screen and (max-width: 768px) {
  .sitemap-main-content {
    padding-bottom: 60px;
  }

  .sitemap-box {
    margin-top: 40px;

    h1 {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 450px) {
  .sitemap-main-content {
    padding-bottom: 50px;
  }

  .sitemap-box {
    margin-top: 30px;

    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }


  .sitemap-list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      > a {
        margin-bottom: 10px;
      }

      &--nested {
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }
}

