.work-with-us-main-content {
  padding-bottom: 120px;

  .main-header-with-image {
    &__img-box {
      margin-top: -145px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;
    }
  }
}

.affiliate-program-box {
  margin-top: 70px;
}

.affiliate-program-list {
  &__item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 60px;
    box-shadow: 0 6px 18px 0px rgba(0, 0, 0, 0.21);

    &:not(:first-child) {
      margin-top: 44px;
    }

    h2 {
      margin-bottom: 24px;
    }

    h3 {
      margin-bottom: 24px;

      .mark {
        color: #146AFF;
      }
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6B6B79;
      margin-bottom: 36px;
    }

    a {
      display: inline-block;
      padding: 24px 32px;
    }
  }

  &__img-box {
    width: 260px;
    margin-right: 60px;
    flex-shrink: 1;

    img {
      object-fit: cover;
    }
  }

  &__text-box {
    flex-shrink: 3;
  }
}

@media screen and (max-width: 768px ) {
  .work-with-us-main-content {
    padding-bottom: 100px;

    .main-header-with-image {
      &__img-box {
        margin-top: 0;
      }

      h1 {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 24px;
      }
    }
  }

  .affiliate-program-box {
    margin-top: 60px;
  }

  .affiliate-program-list {
    &__item {
      padding: 30px;

      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (max-width: 600px ) {
  .work-with-us-main-content {
    padding-bottom: 70px;

    .main-header-with-image {
      h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .affiliate-program-box {
    margin-top: 50px;
  }

  .affiliate-program-list {
    &__item {
      flex-direction: column;
      align-items: center;
      padding: 20px 16px;

      h2 {
        font-size: 20px;
        line-height: 28px;
      }

      h3 {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 16px;
      }

      a {
        padding: 17px 32px;
      }
    }

    &__img-box {
      width: 150px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
